- login_form = capture do
  .header
    = @msg
  .normal-content.mini-content
    = form_tag fetch_contacts_url,:class=>"ajaxopen", :remote => true do
      = hidden_field_tag :emailtype, params[:emailtype]
      .fields
        %label Email
        = text_field_tag :email, nil, :class => 'overlay-text-field'
      .fields
        %label Password
        = password_field_tag :password, nil, :class => 'passwordfield overlay-text-field'
      %br/
      .error-msg
      = submit_tag 'Connect', :disable_with => 'connecting...', :class => "generic-button"
faceboxContent('#{escape_javascript login_form}')