- status                      = true
- if user.instance_of?(Band)
  - link                      = show_band_path(user.name)
  - image                     = get_artist_avatar(user)
  - name                      = user.name  
- else
  - status                    = false

- change_connection           = false
- unless @actor.is_fan?
  - if @actor == user
    - unless connection_item.is_fan?
      - connection_link       = remove_artist_connection_path(connection_item.name)
      - connection_link_text  = 'Disconnect'
      - change_connection     = true
      - item_div_id           = "connection_#{connection_item.class.name.downcase}_#{connection_item.id}"
  - elsif @actor == connection_item
    - unless connection_item.is_fan?
      - connection_link       = remove_artist_connection_path(user.name, :self =>1)
      - connection_link_text  = 'Disconnect'
      - change_connection     = true
      - item_div_id           = "connection_#{user.class.name.downcase}_#{user.id}"
- else
  - item_div_id               = "connection_#{user.class.name.downcase}_#{user.id}"

- if status  
  .item{:id => item_div_id}
    = link_to image, link, :remote =>:true, :class => 'ajaxopen backable avatar'
    .content
      %strong= link_to name, link, :remote =>:true, :class =>'ajaxopen backable'      
    - if change_connection
      .actions
        = link_to connection_link_text, connection_link, :remote =>:true, :class =>'ajaxopen'