- status    = true
- if user.instance_of?(Band)
  - link    = show_band_path(user.name)
  - image   = get_band_logo_small(user)
  - name    = user.name
  - location = nil
- elsif user.instance_of?(User)
  - link    = fan_profile_path(user.id)
  - image   = get_avatar_small(user)
  - name    = user.get_full_name
  - location= user.get_full_address
- else
  - status  = false

- if status
  .item{:id => "follower_#{user.id}", :style =>'margin-bottom:5px'}
    = link_to image, link, :remote =>:true, :class => 'ajaxopen backable avatar'
    .content
      %strong= link_to name, link, :remote =>:true, :class =>'ajaxopen backable'
      %br
      - unless location.blank?
        #{location}
    .actions
      = link_to "unfollow", unfollow_user_path(user.id), :remote => true, :class => 'ajaxopen right' if @current_user_following