- status                      = true
- if user.instance_of?(Band)
  - link                      = show_band_path(user.name)
  - image                     = get_band_logo_small(user)
  - name                      = user.name
  - location                  = nil  
- elsif user.instance_of?(User)
  - link                      = fan_profile_path(user.id)
  - image                     = get_avatar_small(user)
  - name                      = user.get_full_name
  - location                  = user.get_full_address  
- else
  - status                    = false

- if user.is_fan?
  - follow_link               = follow_user_path(user.id)
  - unfollow_link             = unfollow_user_path(user.id)
- else
  - follow_link               = follow_band_path(user.name)
  - unfollow_link             = unfollow_band_path(user.name)

- change_connection           = false

- if (@actor == connection_item || @actor == user)
  - if is_user_fan
    - if @actor.is_fan?
      - if @actor == user
        - if connection_item.is_fan?
          - connection_link       = unfollow_user_path(connection_item.id)
          - connection_link_text  = 'unfollow'
          - change_connection     = true
        - else
          - connection_link       = unfollow_band_path(:band_name =>connection_item.name)
          - connection_link_text  = 'unfollow'
          - change_connection     = true
      - else
        - if @actor.following? user
          - if connection_item.is_fan?
            - connection_link       = unfollow_user_path(user.id)
            - connection_link_text  = 'unfollow'
            - change_connection     = true
          - else
            - connection_link       = unfollow_band_path(:band_name =>user.name)
            - connection_link_text  = 'unfollow'
            - change_connection     = true
        - else
          - if connection_item.is_fan?
            - connection_link       = follow_user_path(user.id)
            - connection_link_text  = 'follow'
            - change_connection     = true
          - else
            - connection_link       = follow_band_path(:band_name =>user.name)
            - connection_link_text  = 'follow'
            - change_connection     = true

  - else
    - if @actor.is_fan?
      - if @actor == connection_item
        - if user.is_fan?
          - connection_link       = unfollow_user_path(user.id)
          - connection_link_text  = 'unfollow'
          - change_connection     = true
        - else
          - connection_link       = unfollow_band_path(:band_name =>user.name)
          - connection_link_text  = 'unfollow'
          - change_connection     = true

- if status
  - item_div_id               = is_user_fan ? "#{user.class.name.downcase}_#{user.id}_following_#{connection_item.class.name.downcase}_#{connection_item.id}" : "#{connection_item.class.name.downcase}_#{connection_item.id}_following_#{user.class.name.downcase}_#{user.id}"
  .item{:id => item_div_id}
    = link_to image, link, :remote =>:true, :class => 'ajaxopen backable avatar'
    .content
      %strong= link_to name, link, :remote =>:true, :class =>'ajaxopen backable'
      %br
      - unless location.blank?
        #{location}      
    - if change_connection
      .actions
        = link_to connection_link_text, connection_link, :remote =>:true, :class =>'ajaxopen'