- followers = capture do
  .connections_list{:id =>"#{@artist.class.name.downcase}_#{@artist.id}_followers"}
    - @followers.map(&:follower).each do |user|
      = render '/user_connections/item', :user =>user, :connection_item =>@artist, :is_user_fan =>true
  = paginate @followers, :remote => true
updateLeftSection('#{escape_javascript(followers)}');
updateRightSection('#{escape_javascript(render '/artist_public/right', :current =>'fan')}');
closeFacebox(10);
scrollToContainerTop();