= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      %b Connections of #{@artist.name}
      %hr/
      .connections_list{:id =>"#{@artist.class.name.downcase}_#{@artist.id}_connections"}
        - @connections.each do |artist|
          = render '/user_connections/connection_item', :user =>artist, :connection_item =>@artist        
        = paginate @connections, :remote => true
    .right
      = render '/artist_public/right', :current =>'connection'