- connections = capture do
  %b Connections of #{@artist.name}
  %hr/  
  .connections_list{:id =>"#{@artist.class.name.downcase}_#{@artist.id}_connections"}
    - @connections.each do |artist|
      = render '/user_connections/connection_item', :user =>artist, :connection_item =>@artist
    = paginate @connections, :remote =>true
updateLeftSection('#{escape_javascript(connections)}');
updateRightSection('#{escape_javascript(render '/artist_public/right', :current =>'connection')}');
closeFacebox(10);
scrollToContainerTop();