- connections = capture do
  %b Connections of #{@band.name}
  %hr/
  .connections_list{:id =>"#{@band.class.name.downcase}_#{@band.id}_connections"}
    - @connections.each do |artist|
      = render '/user_connections/connection_item', :user =>artist, :connection_item =>@band
    = paginate @connections, :remote =>true
updateLeftSection('#{escape_javascript(connections)}');
updateRightSection('#{escape_javascript(render '/artist_public/right', :current =>'connection')}');
closeFacebox(10);
scrollToContainerTop();