- if @connected
  faceboxContent('Connected to artist successfully' );
- else
  faceboxContent('Connection request sent successfully' );
- connection_content = capture do
  = render '/bricks/artist_connection', :artist =>@artist, :actor =>@actor
- new_connected_item = capture do
  - if @is_self_profile
    = render '/bricks/avatar', :item =>@artist
  - else
    = render '/bricks/avatar', :item =>@actor

- left_list_item = capture do
  - if @is_self_profile
    = render '/user_connections/connection_item', :user =>@artist, :connection_item =>@actor
  - else
    = render '/user_connections/connection_item', :user =>@actor, :connection_item =>@artist

!= "$('.actions #connect_section').html('#{escape_javascript connection_content}');"
if($('div#connection_request_#{@artist.id}').length>0){$('div#connection_request_#{@artist.id}').remove();}
- if @connected
  if($('#connectionbox .message').length>0){$('#connectionbox').html('#{escape_javascript new_connected_item}')}else{$('#connectionbox').prepend('#{escape_javascript new_connected_item}')};
  $('.primary .left .connections_list').append('#{escape_javascript left_list_item}')
  $('#connections span.count').html("#{@last_connection_count}");
  closeFacebox(1000);