- following = capture do
  .connections_list{:id =>"#{@user.class.name.downcase}_#{@user.id}_following_artists"}
    - @fan_following_artists.each do |artist|
      = render '/user_connections/item', :user =>artist, :connection_item =>@user, :is_user_fan =>false    
  = paginate @fan_following_artists, :remote => true

updateLeftSection('#{escape_javascript(following)}');
updateRightSection('#{escape_javascript(render '/fan_public/right', :current =>'following_artist')}');
closeFacebox(10);
scrollToContainerTop();