- followers = capture do  
  .connections_list{:id =>"#{@user.class.name.downcase}_#{@user.id}_followers"}
    - @followers.each do |user|
      = render '/user_connections/item', :user =>user, :connection_item =>@user, :is_user_fan =>true
  = paginate @followers, :remote => true
updateLeftSection('#{escape_javascript(followers)}');
updateRightSection('#{escape_javascript(render '/fan/right', :current =>'follower_user')}');
closeFacebox(10);
scrollToContainerTop();