$('.primary .left').html('');
- followers = capture do
  - @followers.each do |user|
    .user-list{:id => "follower_#{user.id}"}
      = link_to get_avatar_small(user), fan_profile_path(user.id), :class => 'avatar'
      .content
        = link_to user.get_full_name, fan_profile_path(user.id)
  = paginate @followers, :remote => true
$('.primary .left').html('#{escape_javascript(followers)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-fan');
$('#followers').addClass('active').addClass('button-fill-fan');