$('.primary .left').html('');
- following = capture do
  - @following.each do |user|
    .followuserbox{:id => "following_#{user.id}"}
      .avatar
        = link_to get_avatar_small(user), fan_profile_path(user.id), :class => 'follow-img'
      .fusercontent
        = link_to user.get_full_name, fan_profile_path(user.id)
        = link_to "Unfollow", unfollow_user_path(user.id), :remote => true, :class => 'ajaxopen right' if @current_user_following
      .clear
  = paginate @following, :remote => true
$('.primary .left').html('#{escape_javascript(following)}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('div').removeClass('active');
$('#followingbox .selection-box').addClass('active');