- avatar_div      = "#{@actor.class.name.downcase}_avatar_#{@actor.id}"
- item_div_id     = "#{@actor.class.name.downcase}_#{@actor.id}_following_#{@user_to_be_unfollowed.class.name.downcase}_#{@user_to_be_unfollowed.id}"
- follow_content  = capture do
  = link_to 'follow', follow_user_path(@user_to_be_unfollowed), :remote => true, :class => 'ajaxopen', :id=>'follow_link'
- left_list_id   = "#{@user_to_be_unfollowed.class.name.downcase}_#{@user_to_be_unfollowed.id}_followers"
$('.actions #follow_link').replaceWith('#{escape_javascript follow_content}');
if($("#fanfollowers ##{avatar_div}").length>0){$("#fanfollowers ##{avatar_div}").remove();}
if($('.primary .left .connections_list ##{item_div_id}').length>0){$('.primary .left .connections_list ##{item_div_id}').remove();}
if($('.right #followingfanbox ##{@user_to_be_unfollowed.class.name.downcase}_avatar_#{@user_to_be_unfollowed.id}').length>0){$('.right #followingfanbox ##{@user_to_be_unfollowed.class.name.downcase}_avatar_#{@user_to_be_unfollowed.id}').remove();}
$('#followers span.count').html("#{@last_follower_count}");
$('a#following-fan span.count').html("#{pluralize(@last_following_count, 'fan')}");
$('#facebox .content').html('Unfollowed Successfully');
setTimeout('$(document).trigger(\"close.facebox\")',1000); 