- avatar_div = @actor.is_fan? ? "artist_follower_fan_#{@actor.id}" : "artist_follower_artist_#{@actor.id}"
- item_div_id   = "#{@actor.class.name.downcase}_#{@actor.id}_following_#{@band.class.name.downcase}_#{@band.id}"
!= "jQuery.facebox('musician unfollowed successfully' );"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"   
- follow_content = capture do
  = link_to 'follow', follow_band_path(:id => @band.id), :remote => true, :class => 'ajaxopen', :id=>'followartist'
!= "$('.actions #followartist').replaceWith('#{escape_javascript follow_content}');"
if($("#artistfollowers ##{avatar_div}").length>0){$("#artistfollowers ##{avatar_div}").remove();}
if($('.primary .left .connections_list ##{item_div_id}').length>0){$('.primary .left .connections_list ##{item_div_id}').remove();}
$('#fanbox span.count').html("#{pluralize(@last_follower_count, 'fan')}");
setTimeout('$(document).trigger(\"close.facebox\")',1000); 