- @self_profile = @source_symbol == '1'
- follow_content = capture do
  = link_to follow_user_path(@user), {:id =>'follow', :remote => true, :class => 'ajaxopen text-action'} do
    .icon-bg
    %i
    follow

- follow_link = @self_profile ? "#{follow_user_path(@user_to_be_unfollowed, 1)}" : "#{follow_user_path(@user_to_be_unfollowed)}"

- if @source_symbol == '1'
  - avatar_div      = "#{@user_to_be_unfollowed.class.name.downcase}_avatar_#{@user_to_be_unfollowed.id}"
  - item_div_id     = "#{@user_to_be_unfollowed.class.name.downcase}_#{@user_to_be_unfollowed.id}"  
  if($('.right #followingfanbox ##{avatar_div}').length>0){$('.right #followingfanbox ##{avatar_div}').remove();}
  if($('.right #followingfanbox div.avatar').length==0){$('.right #followingfanbox').html("<div class='message'>#{NO_FOLLOWING_MESSAGE}</div>");}
  if($('.primary .left .connections_list ##{item_div_id}').length>0){$('.primary .left .connections_list ##{item_div_id} .actions a').attr('href','#{escape_javascript follow_link }').html('follow');}
  $('span#followingfancount').html("#{pluralize(@last_following_count, 'fan')}");  
- elsif @source_symbol == '2'
  - avatar_div      = "#{@actor.class.name.downcase}_avatar_#{@actor.id}"
  - item_div_id     = "#{@actor.class.name.downcase}_#{@actor.id}"
  $('.actions #unfollow').replaceWith('#{escape_javascript follow_content}');
  if($("#followerbox ##{avatar_div}").length>0){$("#followerbox ##{avatar_div}").remove();}
  if($("#followerbox div.avatar").length==0){$("#followerbox").html("<div class='message'>#{NO_FOLLOWER_MESSAGE}</div>");}
  $('span#followercount').html("#{@last_follower_count}");
  if($('.primary .left .connections_list ##{item_div_id}').length>0){$('.primary .left .connections_list ##{item_div_id}').remove();}
- elsif @source_symbol == '3'
  - item_div_id     = "#{@user_to_be_unfollowed.class.name.downcase}_#{@user_to_be_unfollowed.id}"
  if($('.primary .left .connections_list ##{item_div_id}').length>0){$('.primary .left .connections_list ##{item_div_id} .actions a').attr('href','#{escape_javascript follow_link }').html('follow');}
- elsif @source_symbol == '4'
  - item_div_id     = "#{@user_to_be_unfollowed.class.name.downcase}_#{@user_to_be_unfollowed.id}"
  if($('#results .item-large-square##{item_div_id}').length>0){$('#results .item-large-square##{item_div_id} .actions a').attr('href','#{escape_javascript follow_link }').html('follow');}
faceboxContent('Unfollowed Successfully');
closeFacebox(1000);