- conv_id            ||=0
- last_message       ||=false
- newest_message     ||=false
- unless message.blank?
  - read_message  = message.is_read?(@user)
  - sender        = message.sender
  - self_message  = @user == sender
  - sender_detail = actor_detail(message.sender)
  - avatar        = sender.is_fan? ? get_fan_avatar(sender) : get_artist_avatar(message.sender)
  - sender_type   = message.sender_type
  - sender        = message.sender
  .message.post{:id=>"msg_box_#{message.id}"}
    %div
      .avatar
        - if self_message
          = avatar
        - else
          = link_to avatar, sender_detail[:link], :class =>'ajaxopen backable', :remote =>:true
      .content
        .header{:id=>"msg_item_#{message.id}"}
          .title
            - if self_message
              %strong= sender_detail[:name]
            - else
              = link_to sender_detail[:name], sender_detail[:link], :class =>'ajaxopen backable', :remote =>:true
            #{timeago(message.created_at)}
            - unless read_message
              .unread
                UNREAD
            - if newest_message
              .unread
                NEW
          .actions
            - if last_message
              = link_to "add a message" ,"javascript:void(0);", :onclick =>"$('#reply_form_div_#{conv_id}').toggle();", :class => 'add-message'
            = link_to message_path(message), :method => :delete, :class => 'action-delete ajaxload', :remote => true do
              %i
              %span delete
            = link_to message_path(message), :class=>'action-view ajaxload', :remote => true do
              %i
              %span read
        .body{:id =>"msg_content_#{message.id}"}
          = message.body.truncate(40)
      .clear