- messages.each do |conversation|
  %div{:style =>'margin:5px;padding:5px;', :id =>"conversation_#{conversation.id}"}
    %div{:class =>'message-section'}
      - conversation.messages.each do |message|
        - receipt = message.receipt_for(@user).first
        - if (receipt && !receipt.deleted)
          = render 'message_item', :message =>message
          %br
    = link_to "reply this conversation" ,"javascript:void(0);", :onclick =>"$('#reply_form_div_#{conversation.id}').toggle();"
    = render 'reply_form', :conversation =>conversation, :desplay =>true