- messages.each do |conversation|
  - conversation_receipts = conversation.receipts_for(@user).not_trash.order('created_at desc')
  - conversation_first_item = conversation_receipts.first
  - conversation_item_count = conversation_receipts.size
  - unless conversation_first_item.blank?
    = link_to "add a message" ,"javascript:void(0);", :onclick =>"$('#reply_form_div_#{conversation.id}').toggle();", :class => 'add-message'
    = render 'reply_form', :conversation => conversation, :desplay => true        
    .message-conversation{:id =>"conversation_#{conversation.id}"}      
      .message-section
        = render 'message_item', :message =>conversation_first_item.message
      - if conversation_item_count > 1
        = link_to "view all #{conversation_item_count} messages", conversation_thread_view_path(conversation.id), :remote =>:true, :class =>'ajaxopen'