- read_message  = message.is_read?(@user)
- msg_div_class = read_message ? "msgstremitem-read" : "msgstremitem-unread"
- sender_type   = message.sender_type
- sender        = message.sender
.message.entry{:id=>"msg_box_#{message.id}"}
  %div
    .avatar
      - if sender_type == 'User'
        #{get_avatar_small(sender)}
      - else
        #{get_band_logo_small(message.sender)}
    .content{:class =>"#{msg_div_class}"}
      .header{:id=>"msg_item_#{message.id}"}
        .title 
          %strong
          - if message.sender_type == 'User'
            =  message.sender.fname
          - else
            = message.sender.mention_name
          #{timeago(message.created_at)}
        .actions
          = link_to message_path(message), :method => :delete, :class => 'action-delete ajaxload', :remote => true do
            %i
            %span delete
          = link_to message_path(message), :class=>'action-delete ajaxload', :remote => true do
            %i
            %span view
      .body{:id =>"msg_content_#{message.id}"}
        = message.body.truncate(40)
    .clear