- messages.each do |conversation|
  %div{:id =>"conversation_#{conversation.id}", :class => "message-conversation"}
    - conversation.messages.each do |message|
      - receipt = message.receipt_for(@user).first
      - if (receipt && !receipt.deleted)
        = render 'message_item', :message =>message
    = link_to "add to this conversation" ,"javascript:void(0);", :onclick =>"$('#reply_form_div_#{conversation.id}').toggle();"
    = render 'reply_form', :conversation =>conversation, :desplay =>true