- messages.each do |conversation|
  - conversation_receipts = conversation.receipts_for(@user).not_trash    
  - unless conversation_receipts.blank?
    %div{:style =>'margin:5px;padding:5px;', :id =>"conversation_#{conversation.id}"}
      %div{:class =>'message-section'}
        - conversation_receipts.each do |message_receipt|
          - message = message_receipt.message          
          = render 'message_item', :message =>message
          %br
      = link_to "reply this conversation" ,"javascript:void(0);", :onclick =>"$('#reply_form_div_#{conversation.id}').toggle();"
      = render 'reply_form', :conversation =>conversation, :desplay =>true