- if @artist
  $('#page-content').html("");
  $('#page-content').html('#{escape_javascript(render '/artist/live')}');  
  $('#page-content').append("<div class='primary-container'><div class='primary'><div class='left'></div><div class='right'></div></div></div>");
  $('.primary .left').html('<div class="top"></div>');
  $('.primary .left .top').html('#{escape_javascript(render '/artist/social_header', :current =>'message')}');
  $('.primary .left').append('#{ escape_javascript(render '/messages/inbox_messages', :messages => @messages, :artist =>@artist)}');
  $('.primary .right').html('#{escape_javascript(render '/artist/right')}');
- else
  $('#page-content').html("");
  $('#page-content').html('#{escape_javascript(render '/fan/live')}');
  $('#page-content').append("<div class='primary-container'><div class='primary'><div class='left'><div class='right'><div><div></div></div>");
  $('.primary .left').html('<div class="top"></div>');
  $('.primary .left .top').html('#{escape_javascript(render '/fan/social_header', :current =>'message')}');
  $('.primary .left').append('#{ escape_javascript(render '/messages/inbox_messages', :messages => @messages)}');
  $('.primary').append("<div class='right'></div>");
  $('.primary .right').html('#{escape_javascript(render 'fan/right', :current=>'news_feed')}');  
  setTimeout('$(document).trigger(\"close.facebox\")',10);      
$('.session .notifications').html('#{escape_javascript(render '/bricks/notifications')}');
