= render :partial=> @user.is_fan? ? "/fan/live" : "/artist/live"
.primary-container
  - if @user.is_fan?
    .primary
      .left
        .top
          = render '/fan/social_header', :current =>'message'
        = render "messages/inbox_messages", :messages => @messages
      .right
        = render "/fan/right"
      .clear
  - else
    .primary
      .left
        .top
          = render '/artist/social_header', :current =>'message'
        = render "messages/inbox_messages", :messages => @messages
      .right
        = render "/artist/right"
      .clear