= render :partial=>"fan/live"
.primary
  .left
    - if @band
      = render 'artist/social_header'
    - else
      = render 'fan/social_header';
    = render "messages/inbox_messages", :messages => @messages
  .right
    = render "fan/right"
  .clear
:javascript
  $('.left a').removeClass('active').removeClass('button-fill-fan');
  $('#messages').addClass('active').addClass('button-fill-fan');
