= render :partial=> @user.is_fan? ? "/fan/live" : @user.is_artist? ? "/artist/live" : "/venue/live"
.primary-container
  - if @user.is_fan?
    .primary
      .left
        .top
          = render '/fan/social_header', :current =>'message'
        = render "messages/inbox_messages", :messages => @messages
      .right
        = render "/fan/right"
      .clear
  - elsif @user.is_artist?
    .primary
      .left
        .top
          = render '/artist/social_header', :current =>'message'
        = render "messages/inbox_messages", :messages => @messages
      .right
        = render "/artist/right"
      .clear
  - elsif @user.is_venue?
    .primary
      .left
        .top
          = render '/venue/social_header', :current =>'message'
        = render "messages/inbox_messages", :messages => @messages
      .right
        = render "/venue/right"
      .clear