!= "$('.messages-wrapper').append('#{escape_javascript(render 'messages/message', :messages => @messages)}');"
!= "$('.readmore a').attr('href','#{@load_more_path}');"
-if @load_more_path.nil?
  != "$('.readmore a').hide();"