!= "$('form#reply_form_#{@conversation.id}')[0].reset();"
!= "$('#reply_form_div_#{@conversation.id}').hide();"
- if @new_message
  $('#conversation_#{@conversation.id} a.add-message').remove();  
  $('#conversation_#{@conversation.id} .message-section').prepend('#{escape_javascript(render 'message_item', :message =>@new_message, :newest_message =>true, :last_message =>true, :conv_id =>@conversation.id)}');
closeFacebox(1);