$('#msg_item_<%= @message.id %>').html('');
<% all_messages = capture do %>
  <% @messages.each do |message| %> 
    <%= message.body %>
    <br />  by 
    <strong>
      <%if message.sent_messageable_type == 'User' %>
        <%= link_to "#{message.sent_messageable.fname}  #{message.sent_messageable.lname}", fan_profile_path(message.sent_messageable) %> 
      <% else %>
        <%= message.sent_messageable.mention_name %> 
      <% end %>
    </strong>
    <small>
      about an <%= time_ago_in_words(message.created_at) %> ago
    </small>
    <br /><hr />
  <%end%>
<% end %>  

<% reply_form = capture do %>  
  <%= form_tag  reply_to_message_path,:class=>"ajaxload", :method=>:post,  :remote => :true do |f| %>
    <h4>Reply </h4>
    <%= hidden_field_tag :id, @message.id %>
    <% if @band %>
      <%= hidden_field_tag :band_id, @band.id %>
    <% end %>
    <%= text_area_tag :body,'',{:class=>"input-box",:rows=>3,:style=>"width:100%"} %>
    <%= submit_tag("Reply" ,:class=>"button yellow right") %>
  <%  end %>
<% end %>
$('#msg_item_<%= @message.id %>').append("<%=  escape_javascript(all_messages) %>");
$('#msg_item_<%= @message.id %>').append("<%=  escape_javascript(reply_form) %>");
$('.ajaxload').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());}); 

