- tabs            = [:latest, :reply, :mention, :message]
- empty_messages  = ["There are no updates!", "No one has replied you!", "No one has mentioned you in their posts!", "No new messages!"]
- current         = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
- message         = empty_messages[current]
- unless @bulletins.blank? && @posts_order_by_dates.blank?
  - if !@bulletins.blank?
    .pinned-posts{:style=>'margin-bottom:25px;'}
      %date{:id=>'pin-board'}
        %div
          %h1
            pinned
      = render 'user_posts/post_aggregate', :posts => @bulletins
    -if !@load_more_bulletins_path.nil?
      .read-more#bulletin-readmore
        =link_to("read more", @load_more_bulletins_path ,:remote => true,:class=>"ajaxload")
  .user_posts{:id =>"#{@band.class.name}_post_wall_#{@band.id}"}
    - @posts_order_by_dates.each do |date, posts|
      - date      = posts.first ? posts.first.created_at : date
      - date_str  = date.strftime('%Y%m%d')
      %date{:id =>"date_#{date_str}"}
        %div
          %h1
            = date.to_date.strftime('%b')
          %h2
            = date.to_date.strftime('%d')
      = render 'user_posts/post_aggregate', :posts => posts
      .clear
  -if !@load_more_path.nil?
    .read-more
      = link_to('read more', @load_more_path, :remote=>true, :class=>'ajaxload')
- else
  .user_posts
    %span.msg
      = message