- tabs            = [:latest, :reply, :mention, :message]
- empty_messages  = ["There are no updates!", "No one has replied you!", "No one has mentioned you in their posts!", "No new messages!"]
- current         = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
- message         = empty_messages[current]
.user_posts{:id =>"#{@user.class.name}_post_wall_#{@user.id}"}
  - if @posts_order_by_dates.size.zero?
    %span.msg
      = message
    - if @user.follow_count.zero? && current.zero? && @user == current_actor
      %br
      Start following some artists and fans, and see what they're upto!
  - else
    - @posts_order_by_dates.each do |date, posts|
      - date      = posts.first ? posts.first.created_at : date
      - date_str  = date.strftime('%Y%m%d')
      %date{:id =>"date_#{date_str}"}
        %div
          %h1
            = date.to_date.strftime('%b')
          %h2
            = date.to_date.strftime('%d')
      = render 'user_posts/post_aggregate', :posts => posts
-if !@load_more_path.nil?
  .read-more
    = link_to('read more', @load_more_path, :remote=>true, :class=>'ajaxload')