.user_posts
  - @posts_order_by_dates.each do |date, posts|
    %date{:id =>"date_#{date.split('-').join()}"}
      %div
        %h1 
          = date.to_date.strftime('%b')
        %h2
          = date.to_date.strftime('%d')
    = render 'user_posts/post_aggregate', :posts => posts
-if !@load_more_path.nil?
  .readmore
    = link_to('read more', @load_more_path, :remote=>true, :class=>'ajaxload')