#footer
  #page-bottom-fade
  .content
    %div
      %a{:href => "http://about.soundmelon.com", :target => "_blank"}
        = image_tag 'base-footer-link-about.png'
      = link_to page_path('contact'), :remote =>:true, :class =>'ajaxopen backable' do
        = image_tag 'base-footer-link-contact.png'
      = link_to page_path('help') ,:remote =>:true, :class =>'ajaxopen backable' do
        = image_tag 'base-footer-link-help.png'
      = link_to page_path('terms') ,:remote =>:true, :class =>'ajaxopen backable' do
        = image_tag 'base-footer-link-terms.png'