#footer
  #page-bottom-fade
  .content
    %div
      = link_to page_path('about'),{:target =>'_blank'} do
        = image_tag 'base-footer-link-about.png'
      = link_to page_path('contact'),{:target =>'_blank'} do
        = image_tag 'base-footer-link-contact.png'
      = link_to page_path('help'),{:target =>'_blank'} do
        = image_tag 'base-footer-link-help.png'
      = link_to page_path('terms'),{:target =>'_blank'} do
        = image_tag 'base-footer-link-terms.png'