- content_for :tophead do
  .profilehead
    .top-bar
      = render :partial=>"bricks/logo"
      .session
        = link_to "#{current_user.fname} #{current_user.lname}", user_home_path, :class => 'user-info'
        administrating
        =link_to @band.name, show_band_path(:band_name => @band.name), :class => 'user-info'
        .associated-bands
          .logout
            Switch
          .switch-lists
            %ul
              %li
                = link_to 'Switch back to yourself', user_home_path
              - @other_bands.each do |band|
                %li
                  = link_to "Access #{band.name}", manage_band_path(:band_name => band.name)
        = link_to "Logout", logout_path, :class=>"logout"
    .middle-bar
      .mplayerbar
        =# image_tag 'music_box.png', :width => '700px'
      .notifications
        - unread_mentioned_count = current_user.unread_mentioned_post_count
        - unread_post_replies_count = current_user.unread_post_replies_count
        - unread_messages_count = current_user.received_messages.unread.count
        %div
          = link_to unread_post_replies_count, replies_path
        %div
          = link_to unread_mentioned_count, mentioned_path
        %div
          = link_to unread_messages_count, user_inbox_path
        .clear
    .bottom-bar
      = render :partial=>"bricks/header_menu_items"
      .searchbox
        =form_tag( {:controller =>'search', :action => 'index'}, :method => "get") do
          %input.auto_search_complete{:name => "q", :type => "text", :class => 'searchinput'}/
          %input.search{:name => "search", :type => "submit", :value => "Go" }/