- content_for :tophead do
  .profilehead
    .top-bar
      = render :partial=>"bricks/logo"
      .session
        = WELCOME_MSG
        = link_to "#{current_user.fname} #{current_user.lname}", user_home_path, :class => 'user-info'
        = link_to "Logout", logout_path, :class=>"logout"
    .middle-bar
      .mplayerbar
      .alerts
        - unread_mentioned_count = current_user.unread_mentioned_post_count
        - unread_post_replies_count = current_user.unread_post_replies_count
        - unread_messages_count = current_user.received_messages.unread.count
        = link_to unread_post_replies_count, replies_path
        = link_to image_tag('reply-icon.png'), replies_path
        = link_to unread_mentioned_count, mentioned_path
        = link_to image_tag('mention-icon.png'), mentioned_path
        = link_to unread_messages_count, user_inbox_path
        = link_to image_tag('message-icon.png'), user_inbox_path
        .clear
    .bottom-bar
      = render :partial=>"bricks/header_menu_items"
      .searchbox
        =form_tag( {:controller =>'search', :action => 'index'}, :method => "get") do
          %input.auto_search_complete{:name => "q", :type => "text", :class => 'searchinput'}/
          %input.search{:name => "search", :type => "submit", :value => "Go" }/