- actor                        = current_actor
- @unread_post_replies_count   ||= actor.unread_post_replies_count
- replies_class                = (@unread_post_replies_count > 0) ? "active" : ""
- @unread_mentioned_count      ||= actor.unread_mentioned_post_count
- mentions_class               = (@unread_mentioned_count > 0) ? "active" : ""
- @unread_messages_count       ||= actor.receipts.inbox.unread.not_trash.size
- messages_class               = (@unread_messages_count > 0) ? "active" : ""

= link_to mentioned_path, {:class=> "ajaxopen backable", :id =>'mentions', :remote =>true} do
  %span{:class=> mentions_class}
    = @unread_mentioned_count
= link_to replies_path, {:class=> "ajaxopen backable", :id =>'replies', :remote =>true} do
  %span{:class=> replies_class}
    = @unread_post_replies_count
= link_to user_inbox_path,  {:class=> "ajaxopen backable", :id =>'messages', :remote =>true} do
  %span{:class=> messages_class}
    = @unread_messages_count