- if profileitem.profile_pic(true)
  = image_tag(profileitem.profile_pic.avatar.url(:large) + "&t=#{Time.now.strftime('%H%m%s')}")
  .overlay
    = link_to new_avatar_path, {:remote=>:true,:class=>'ajaxopen'} do
      %h2
        upload
    = link_to delete_avatar_path, {:remote=>:true} do
      %h2
        remove
- else
  = image_tag('profile/artist-defaults-photo-profile-add.jpg')
  .overlay
    = link_to new_avatar_path, {:remote=>:true} do
      %h2
        add