- @bands    = Band.random_artists 2, current
- @randomA  = @bands.first
- @randomB  = @bands.last
- if @randomA
  .left
    .photo
      = get_band_logo_large(@randomA)
    .overlay
      = link_to show_band_path(:band_name => @randomA.name), {:class =>'ajaxopen backable', :remote => true} do
        visit
        %h2= @randomA.name
- if @randomB
  .right
    .photo
      = get_band_logo_large(@randomB)
    .overlay
      = link_to show_band_path(:band_name => @randomB.name), {:class =>'ajaxopen backable', :remote => true} do
        visit
        %h2= @randomB.name