- @bands = Band.random_artists 2, current
- @randomA = @bands.first
- @randomB = @bands.last
- if @randomA
  .left
    .photo
      = get_artist_profile_image(@randomA)
    .overlay
      = link_to show_band_path(@randomA.name), {:class =>'ajaxopen backable', :remote =>true} do
        artist
        %h2= @randomA.name
- if @randomB
  .right
    .photo
      = get_artist_profile_image(@randomB)
    .overlay
      = link_to show_band_path(@randomB.name), {:class =>'ajaxopen backable', :remote =>true} do
        artist
        %h2= @randomB.name