- selected    ||=false
- link_class  = selected ? 'active selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  - if fan_count >0 || @has_admin_access
    = link_to band_followers_path(:band_name => band.name), {:remote =>:true, :id =>'fanbox', :class =>link_class} do
      %span.count{:id=>'followercount'}
        = pluralize(fan_count, 'fan')
      = link_to 'see all', band_followers_path(:band_name => band.name), :remote=>:true, :class=>'small-font right-icon-item ajaxopen backable' unless fan_count < BAND_FAN_SHOW_LIMIT
  - else
    .selection-box-nohref{:id=>'fanbox'}
      %span.count{:id=>'followercount'}
        0
      fan
  .collection{:id =>'followerbox'}
    - if fan_count > 0
      %div
        - band_fans.each do |artist_fan|
          = render '/bricks/avatar', :item =>artist_fan, :id_prefix =>"artist_follower"
    - else
      .message= NO_FAN_MESSAGE