- selected    ||=false
- link_class  = selected ? 'selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  - if @has_admin_access || song_album_count > 0
    = link_to artist_musics_path(artist.name), {:remote=>:true, :id=>'music', :class=>link_class} do
      music
    = link_to "", new_artist_music_path(artist.name), :remote=>:true, :class=>"ajaxopen right-icon-item icon-add" if @has_admin_access
  - else
    .selection-box-nohref
      music
  .collection{:id =>'musicbox'}
    - if song_album_count > 0
      %div
        - song_albums.each do |song_album|
          .song-album{:id => "song_album_#{song_album.id}"}
            - if @has_admin_access
              = link_to image_tag('add.png'), add_songs_to_album_path(artist.name, song_album.album_name ), :remote => true, :class => 'ajaxopen backable'
            %span.album-cover-image
              = link_to get_album_cover_image(song_album), artist_song_album_path(artist.name, song_album.album_name), :remote=>:true, :class=>"ajaxopen backable"
            = link_to song_album.album_name, artist_song_album_path(artist.name,song_album.album_name), :remote=>:true, :class=>"ajaxopen backable"
            - if @has_admin_access
              = link_to image_tag('remove.png'), delete_song_album_path(artist.name, song_album.id), :remote=>:true, :confirm => 'Are you sure?', :class=>"ajaxopen"
    - else
      .message= NO_SONG_ALBUM_MESSAGE