- selected ||=false
- is_admin ||= false
- link_class  = selected ? 'selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  - if is_admin || photo_album_count > 0
    = link_to band_albums_path(:band_name =>band.name), {:remote =>:true, :id=>'photos', :class =>link_class} do
      photos
      - if is_admin
        = link_to "", new_band_album_path(:band_name => band.name), :remote=>:true, :class=>"ajaxopen right-icon-item icon-add"
      - unless photo_album_count < Constant::BAND_PHOTO_ALBUM_SHOW_LIMIT
        %br/
        = link_to "see all", band_albums_path(:band_name => band.name), :remote=>:true, :class=>"small-font ajaxopen backable"
        - if is_admin
          %br/
          = link_to "edit photos", band_albums_path(:band_name => band.name), :remote=>:true, :class=>"small-font ajaxopen backable"
  - else
    .selection-box-nohref
      photos
  .collection{:id =>'photobox'}
    - if photo_album_count > 0
      %div
        - photo_albums.each do |band_photo_album|
          .song-album{:id => "band_album_#{band_photo_album.id}"}
            - if is_admin
              = link_to image_tag('add.png'), add_photos_to_album_path(:band_name => band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen backable"
            %span.album-cover-image
              = link_to get_band_photo_album_teaser_photo(band_photo_album), band_album_path(:band_name =>band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen backable"
            = link_to band_photo_album.name, band_album_path(:band_name =>band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen backable"
            - if is_admin
              = link_to image_tag('remove.png'), delete_album_path(:band_name => band.name, :band_album_name => band_photo_album.name), :remote=>:true, :confirm => 'Are you sure?', :class=>"ajaxopen"
    - else
      .message= Constant::NO_PHOTO_ALBUM_MESSAGE