- followers_count = follower_users.size
= link_to fan_followers_path, {:id=>'followers', :class=>'selection-box iconactive ajaxload backable', :remote => true} do
  %span.count
    = followers_count
  - if followers_count > 1 || followers_count == 0 #doesn't use pluarize since that would seperate text styling from number and label
    followers
  - else
    follower
  - unless followers_count < Constant::FOLLOWER_SHOW_LIMIT
    %br/
    = link_to 'see all', fan_followers_path, :remote=>:true, :class=>'small-font ajaxopen backable'
.collection
  - if followers_count > 0
    %div
      - follower_users.each do |fan_followers|
        .avatar
          = link_to get_avatar_small(fan_followers), fan_profile_path(fan_followers), :class =>'ajaxopen backable', :remote =>true
  - else
    .message
      = Constant::NO_FOLLOWER_MESSAGE