- selected    ||=false
- link_class  = selected ? 'active selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
- unless @is_public
  - header_link = artist_connections_path('home')
- else
  - header_link = artist_connections_path(artist)
%div
  - if connection_count > 0 || @has_link_access
    = link_to header_link, {:id=>'connections', :class=>link_class} do
      %span.count
        = connection_count
      - if connection_count > 1 || connection_count == 0
        connections
      - else
        connection
  - else
    .selection-box-nohref{:id =>'connections'}
      %span.count
        0
      connections
  .collection{:id =>'connectionbox'}
    - if connection_count > 0
      %div
        - connected_artists.each do |artist|
          = render '/bricks/avatar', :item =>artist
    - else
      .message
        = NO_CONNECTION_MESSAGE
    - if @has_link_access
      connection requests
      - connection_requests = artist.connection_requests
      - connection_requests.each do |request|
        - from_artist = request.connected_useritem
        - unless from_artist.blank?
          %div{:id =>"connection_request_#{from_artist.id}"}
            = link_to from_artist.name, show_artist_path(from_artist), :class =>'ajaxopen backable'
            %div{:style =>'float:right;padding-right:3px;'}
              = link_to "accept", accept_artist_connection_path(from_artist, :self => 1), :class =>'ajaxopen', :remote => :true
              = link_to "ignore", reject_artist_connection_path(from_artist, :self => 1), :class =>'ajaxopen', :remote => :true