- is_admin ||= false
- tour_count = band_tours.size
#tourbox.box-wrapper
  .selection-box
    = link_to "tour dates", band_tours_path(:band_name =>band.name), :remote =>:true, :class =>'ajaxopen backable'    
    - if is_admin
      %span.add_more
        = link_to image_tag('add.png'), new_band_tour_path(:band_name => band.name), :remote=>:true, :class=>"ajaxopen"
    - unless tour_count < Constant::TOUR_DATE_SHOW_LIMIT
      %br
      =  link_to "see all", band_tours_path(:band_name => band.name), :remote=>:true, :class=>"small-font ajaxopen backable"
  .collection
    - if tour_count > 0
      %div
        - band_tours.each do |tour|
          %div{:id =>'band_tour#{tour.id}'}
            = link_to tour.tour_date.strftime('%b %d') + " @#{tour.venue}", band_tour_path(:band_name =>band.name, :band_tour_id => tour.id), :remote=>:true, :class=>"ajaxopen backable"
    - else
      = Constant::NO_TOUR_DATE_MESSAGE