- selected    ||=false
- link_class  = selected ? 'selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
- unless @is_public
  - header_link = artist_musics_path('home')
- else
  - header_link = artist_musics_path(artist)
%div
  - if @has_link_access || artist_music_count > 0
    = link_to header_link, {:id=>'music', :class=>link_class} do
      music
    = link_to "", new_artist_music_path('home'), :remote =>:true, :class=>"ajaxload right-icon-item icon-add" if @has_link_access
  - else
    .selection-box-nohref
      music
  .collection{:id =>'musicbox'}
    - if artist_music_count > 0
      %div
        - artist_musics.each do |song_album|
          .album{:id => "song_album_#{song_album.id}"}
            - if @has_link_access
              = link_to image_tag('add.png'), add_songs_to_album_path(artist, song_album.id ), :remote => true, :class => 'ajaxopen backable'
            %span.album-cover-image
              = link_to get_album_cover_image(song_album), artist_song_album_path(artist, song_album.id), :remote=>:true, :class=>"ajaxopen backable"
            = link_to song_album.album_name, artist_song_album_path(artist, song_album.id), :remote=>:true, :class=>"ajaxopen backable"
            - if @has_link_access
              = link_to image_tag('remove.png'), delete_song_album_path(artist, song_album.id), :remote=>:true, :confirm => 'Are you sure?', :class=>"ajaxopen"
    - else
      .message= NO_SONG_ALBUM_MESSAGE