- selected    ||=false
- link_class  = selected ? 'selection-box iconactive ajaxload button-fill-artist backable' : 'selection-box iconactive ajaxload backable'
%div{:style=>"position: relative;"}
  - if @has_admin_access || tour_count > 0
    = link_to band_tours_path(:band_name =>band.name), {:remote=>:true, :id=>'shows', :class=>link_class} do
      shows
    = link_to "", new_band_tour_path(:band_name => band.name), :remote=>:true, :class=>"ajaxopen right-icon-item icon-add" if @has_admin_access    
  - else
    .selection-box-nohref
      shows
  .collection{:id =>'showbox'}
    - if tour_count > 0
      %div
        - band_tours.each do |tour|
          %div{:id =>"band_tour_#{tour.id}"}
            = link_to tour.tour_date.strftime('%b %d') + " @#{tour.venue}", band_tour_path(:band_name =>band.name, :band_tour_id => tour.id), :remote=>:true, :class=>"ajaxopen backable"
    - else
      .message= Constant::NO_TOUR_DATE_MESSAGE
