- actor                 = current_actor
- is_fan_login          = actor.is_fan?
- is_artist_login       = actor.instance_of?(Artist)
- is_admin_login        = admin_login?
- actor_details         = actor_detail(@actor)

- if is_admin_login
  = link_to "admin", admin_home_path, :class => 'header-admin-button button', :target =>'_blank', :title =>"go to admin section"

- current_fan_user    = current_user
- other_admin_artists = current_fan_user.admin_artists_list(actor)
- other_admin_venues  = current_fan_user.admin_venues_list(actor)

- if is_fan_login
  welcome to the beta
  = link_to "#{current_user.fname}".truncate(12), fan_home_path, :class => 'user-info backable ajaxopen', :remote =>true, :title =>"#{current_user.get_full_name}"  
- else    
  = link_to "#{current_fan_user.fname}".truncate(10), fan_profile_path(current_fan_user), :class => 'user-info backable', :remote =>true, :title =>"#{current_fan_user.get_full_name}"
  administrating
  = link_to actor.name.truncate(14), user_home_path, :class => 'user-info backable ajaxopen', :remote =>true, :title =>"#{actor.name}"
= get_fan_avatar(current_fan_user)
= link_to "switch", 'javascript:void(0);', :id =>'switch', :remote => true, :class => "button"
.switch-popout{:style=>'display:none'}
  .pointer
  %ul
    %li
      = link_to "Manage My Profile", manage_profile_path, :id =>'manage-profile', :remote => true, :class =>'backable'
    %li
      = link_to "View Public Profile", actor_details[:link], :id =>'view-public-profile backable', :remote => true, :class =>'backable'
    - unless is_fan_login
      = link_to change_login_path, {:class =>'button1 ajaxopen', :remote =>true} do
        %li
          switch back to yourself
    - other_admin_artists.each do |artist|
      - unless actor == artist
        = link_to change_login_path(artist), {:class =>'ajaxopen', :remote =>true} do
          %li
            access #{artist.name} (Artist)
    - other_admin_venues.each do |venue|
      - unless actor == venue
        = link_to change_login_venue_path(venue), {:class =>'ajaxopen', :remote =>true} do
          %li
            access #{venue.name}(Venue)
    %li
      Create
      = link_to "Colony", new_colony_path, :class => 'ajaxopenwindow'
      = link_to "Artist", new_artist_path, :class => 'ajaxopenwindow'
      or
      = link_to "Venue", new_venue_path, :class => 'ajaxopenwindow'
    %li
      = link_to "logout", logout_path

:javascript
  configSwitch();
  
  function configSwitch(){
    $("#switch").click(invokeSwitch);
  }
  
  function invokeSwitch() {
    if(!($('#switch').hasClass('active'))){
      $('.switch-popout').show();
      $('#switch').addClass('active');
      $('#switch').off('click');
    }
  }
  
  var mouse_is_inside = false;
  $('.switch-popout').hover(function(){
    mouse_is_inside = true;
  }, function(){
    mouse_is_inside = false;
  });

  $("body").mouseup(function(){
    if(!mouse_is_inside){
      $('#switch').removeClass('active');
      $('.switch-popout').hide();
      window.setTimeout(configSwitch, 1000, true);
    }
  });