- actor                 = current_actor
- is_artist_login       = actor.instance_of?(Band)
- is_admin_login        = admin_login?
= link_to "admin page", admin_home_path, :class => 'user-info', :target =>'_blank', :title =>"go to admin section" if is_admin_login
- if is_artist_login
  - artist              = actor
  - current_fan_user    = current_user
  - other_admin_artists = current_fan_user.admin_bands_except(artist)  
  = link_to "#{current_fan_user.fname}".truncate(10), fan_profile_path(current_fan_user), :class => 'user-info backable', :remote =>true, :title =>"#{current_fan_user.get_full_name}"
  administrating
  = link_to artist.name.truncate(10), user_home_path, :class => 'user-info backable ajaxopen', :remote =>true, :title =>"#{artist.name}"
  = link_to "switch", 'javascript:void(0);', :id =>'switch', :remote =>true, :onclick =>"$('.switch-popout').toggle();"
  .switch-popout{:style=>'display:none'}
    .pointer
    %ul
      = link_to change_login_path, {:class =>'button1 ajaxopen', :remote =>true} do
        %li
          switch back to yourself
      - other_admin_artists.each do |artist|
        = link_to change_login_path(:artist_name => artist.name), {:class =>'ajaxopen', :remote =>true} do
          %li
            access #{artist.name}  
- else
  = WELCOME_MSG  
  = link_to "#{current_user.fname}".truncate(10), fan_home_path, :class => 'user-info backable ajaxopen', :remote =>true, :title =>"#{current_user.get_full_name}"
= link_to "logout", logout_path, :id => 'logout'