-if @failed_login
  .login-error
    = @failed_login
.main
  .top
    .logo
      = image_tag 'base-logo-big.png'
    .access
      .login
        = link_to auth_at_provider_path(:provider => :facebook), :id => "facebook-login" do
          %img{:src => 'assets/splash/splash-hrefimg-fb.png'}
          %span login with facebook
        %img{:src => "assets/splash/splash-seperator.png"}
        = form_tag login_path do
          = text_field_tag :email, params[:email], :value => "eMail", :class => "field splash-input-box", :id => "login-email-input"
          = password_field_tag :password, nil, :value => "password", :class => "field splash-input-box", :id => "login-password-input"
          #remember-me
            = check_box_tag :remember_me, 1, params[:remember_me]
            = label_tag :remember_me
          = submit_tag "", :id => "login-button", :value => "login", :class => 'splash-highlight-button'
        = link_to 'forgot your password?', password_resets_path, :remote => :true, :id => 'password-reset'
      %img{:src => "assets/splash/splash-or.png"}
      .sign-up
        #invitation_form_homepage
          = render '/invitations/form', :from_page => 1
  .bottom
    %img{:src => "/assets/splash/splash-collage.jpg", :class => "collage-img"}
    .note
      %h2 
        SoundMelon enables you to connect in ways unlike before and 
        %span create your music community
      %a{:href => "#"} learn more
:javascript
  $('#login-email-input').focus(function() {
   if($(this).val()=='eMail'){
     $(this).val('');
   }
  });
  $('#login-password-input').focus(function() {
   if($(this).val()=='password'){
     $(this).val('');
   }
  });