-if @failed_login
  .login-error
    = @failed_login
.main
  .login
    %h3
      login    
    = form_tag login_path do
      = text_field_tag :email, params[:email], :class => "field base-text-field"
      = password_field_tag :password,nil, :class => "field base-text-field"
      #remember-me
        = check_box_tag :remember_me, 1, params[:remember_me]
        = label_tag :remember_me
      = submit_tag "", :class => 'exec-login'
    = link_to 'forgot your password?', password_resets_path, :remote => :true, :id => 'password-reset'
    = link_to 'F', auth_at_provider_path(:provider => :facebook)
    %a{:href => "javascript:void(0);", :onclick => "FB.login(function(response){$.ajax({type:'get',url:'#{oauth_callback_url}', data:{uid:response.authResponse.userID, access_token:response.authResponse.accessToken}});},{scope:'emailtream,offline_access'});"}
      fLogin    
  .logo
    = image_tag 'base-logo-big.png'
    %span
      SoundMelon is a social media platform that enables a community of artists, 
      music lovers and venue owners to connect in new ways.
    %h3 
      We’re in closed beta, but you can request an invite below!
  .request-form
    #invitation_form_homepage
      = render '/invitations/form', :from_page => 1

:javascript  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '455523311144867', // App ID
      channelUrl : '//localhost:3000/', // Channel File
      status     : true, // check login status
      cookie     : false, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };
  // Load the SDK Asynchronously
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
   }(document));