.top-bar
  = render :partial=>"/bricks/logo"  
  .session
    = image_tag("loading.gif", :id =>'loading_status', :style =>'display:none')
    .summary
      = render '/bricks/session_header'
    .notifications
      = render '/bricks/notifications'        
.bottom-bar
  .music-player
    = render :partial =>'layouts/player'
  .search
    = render :partial=>"search/search"