.profilehead
  .top-bar
    = render :partial=>"/bricks/logo"
    .session
      .summary
        = render '/bricks/session_header'
      .notifications
        = render '/bricks/notifications'
      = link_to "logout", logout_path, :id => 'logout'
  .bottom-bar
    .music-player
      = render :partial =>'layouts/player'
    .search
      = render :partial=>"bricks/search"