.top-bar
  = render :partial=>"/bricks/logo"
  .session
    .summary
      = render '/bricks/session_header'
    .notifications
      = render '/bricks/notifications'
.bottom-bar
  .music-player
    = render :partial =>'layouts/player'
  .search
    = render :partial=>"bricks/search"