.status-input
  = form_tag(user_posts_path, :class=>"ajaxload",:remote => true, :id => 'user_post_form') do
    - if @band
      = hidden_field_tag :band_id, @band.id
    = text_area :post, :msg, :class=>"input-box mention",:value=>"share something...",:maxlength => 200
    = submit_tag('post',:class=>"post-btn")
    .clear
  %span.inputerror

:javascript
  $(function () {
    $('textarea.mention').mentionsInput({
      onDataRequest:function (mode, query, callback) {
        var data = [#{user_mention_lists current_user}];
        data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });
        callback.call(this, data);
      }
    });
    $('.status-input .input-box').focus(function() {
      if($(this).val()=='share something...')
        $(this).val('');
      });
  });