- actor           = @actor
- useritem        = post.useritem_id.blank? ? nil : post.useritem
- user            = post.user_id.blank? ? nil : post.user
- post_item       = post.postitem
- is_newsfeed     = post.is_newsfeed
- buzz_content    = ""

- @useritem       = @useritem || @venue

- is_author_useritem_profile= (@useritem && useritem) && @useritem == useritem
- is_author_fan_profile     = (@user && user) && @user == user
- self_post                 = is_author_useritem_profile || is_author_fan_profile
- hide_thread_link          ||= false
- hide_reply_link           ||= false
- divclass                  ||= ''
- postclass                 ||= ''
- post_div_id               ||= "post_#{post.id}"

- self_owner      = post.user == actor
- self_actor      = user == actor || useritem == actor
- item_div_class  = self_owner ? 'content' : 'content-mentioned'
- reply_form_div  = "post_reply_form_div_#{post.id}"
- reply_form_id   = "post_reply_form_#{post.id}"
- can_have_reply  = !hide_reply_link && !is_newsfeed

- unless is_newsfeed
  - if post_item
    - buzz_content = capture do
      - if actor
        - if post.album_post?
          = link_to photo_album_buzz_path(post_item.id, :album_name => post_item.name), {:remote => true, :class => 'action-buzz ajaxopen'} do
            %i
            %span buzz
        - elsif post.artist_show_post?
          = link_to artist_show_buzz_path(post_item.artist, post_item.id), {:remote => true, :class => 'action-buzz ajaxopen'} do
            %i
            %span buzz
        - elsif post.song_post?
          = link_to song_buzz_path(post_item), {:remote => true, :class => 'action-buzz ajaxopen'} do
            %i
            %span buzz
        - elsif post.artist_music_post?
          = link_to album_buzz_path(post_item.album_name, post_item.id), {:remote => true, :class => 'action-buzz ajaxopen'} do
            %i
            %span buzz
  

- writer_header = capture do
  - if useritem
    - link_detail = actor_detail(useritem)
    = is_author_useritem_profile ? useritem.name : (link_to link_detail[:name], link_detail[:link], :class => 'ajaxopen backable', :remote => :true, :title => link_detail[:name])
  -elsif user
    = is_author_fan_profile ? user.get_full_name : (link_to user.get_full_name, fan_profile_path(post.user), :class => 'ajaxopen backable', :remote => :true, :title => user.get_full_name)

- content_header = capture do
  - if post.is_newsfeed?
    - if actor
      #{newsfeed_message(post, post_item).first}
    - else
      #{newsfeed_message(post, post_item, 'force-login').first}
  - elsif post.is_bulletin
    has pinned this to their profile
  - elsif post_item
    - if actor
      #{post_message(post, post_item).first}
    - else
      #{post_message(post, post_item, 'force-login').first}
  - else
    wrote this  
  #{timeago(post.created_at)}
- action_section = ''
- unless is_newsfeed
  - action_section = capture do
    - if actor
      - unless buzz_content.blank?
        #{buzz_content}
      - if self_actor
        = link_to user_post_path(post), :method=> :delete, :class => 'action-delete', :remote => true do
          %i
          %span delete
      - else
        - if can_have_reply          
          = link_to "javascript:void(0);", :class=>'action-reply', :onclick =>"$('##{reply_form_div}').toggle();" do
            %i
            %span reply

.post.entry{:class => "#{postclass}", :id => post_div_id}
  %div{:class=>"#{divclass}"}
    - if can_have_reply
      .post-reply-form{:id =>reply_form_div, :style =>'display:none;margin-top:5px;'}
        = render '/user_posts/reply_form', :parent_post =>post, :form_id =>reply_form_id
    .avatar
      - if user
        - if is_author_fan_profile
          = get_fan_avatar(user)
        - else
          = link_to get_fan_avatar(user), (self_owner ? fan_home_url : fan_profile_path(user) ), :class =>'ajaxopen backable', :remote =>:true
      - elsif useritem
        - if is_author_useritem_profile
          = get_avatar(useritem)
        - else
          - link_detail = actor_detail(useritem)
          = link_to get_avatar(useritem), link_detail[:link], :class =>'ajaxopen backable', :remote =>:true
    .content
      .header
        .title
          %strong
            #{writer_header}
          %span
            #{content_header}
        .actions
          #{action_section}
      .body
        - if is_newsfeed
          - if actor
            #{newsfeed_message(post, post_item).last}
          - else
            #{newsfeed_message(post, post_item, 'force-login').last}
        - else
          - if actor
            = post_msg_with_mention(post) unless post.is_newsfeed?
            #{post_message(post, post_item).last}
          - else
            = post_msg_with_mention(post, 'force-login') unless post.is_newsfeed?
            #{post_message(post, post_item, 'force-login').last}
    .clear
    - if post.ancestry && !hide_thread_link && actor      
      = link_to 'expand conversation', get_show_conversation_thread_path(post), :remote => true, :class => 'ajaxload thread-expand toggle-thread', :id =>"expand_link_#{post.id}"