- band        = post.band_id.blank? ? nil : post.band
- user        = post.user_id.blank? ? nil : post.user
- song        = post.song_id.blank? ? nil : post.song
- song_album  = post.song_id.blank? ? nil : post.song
- is_author_artist_profile  = (@band && band ) && @band.id == band.id
- is_author_fan_profile     = (@user && user ) && @user.id == user.id
- hide_thread_link ||= false
- divclass ||=''
-if @band && @is_admin_of_band
 - self_owner = post.band_id == @band.id ? true : false
- else
 - self_owner = post.user == current_user ? true : false
- item_div_class = self_owner ? 'content' : 'content-mentioned'
= div_for post do
 %div{:class=>"#{divclass}"}
  .avatar
   - if user
    - if is_author_fan_profile
     = get_avatar_small(user)
    - else
     = link_to get_avatar_small(user), (self_owner ? fan_home_url : fan_profile_path(user) ), :class =>'ajaxopen backable', :remote =>:true
   - elsif band
    - if is_author_artist_profile
     = get_band_logo_small(band)
    - else
     = link_to get_band_logo_small(band), show_band_path(:band_name =>band.name), :class =>'ajaxopen backable', :remote =>:true
  %div{:class => 'content'}
   .post-header
    .title
     %strong
      -if band
       = is_author_artist_profile ? band.name : (link_to band.name, show_band_path(:band_name =>band.name), :class =>'ajaxopen backable', :remote =>:true)
      -elsif self_owner
       You
      -elsif user
       = is_author_fan_profile ? user.fname : (link_to user.fname, fan_profile_path(post.user), :class =>'ajaxopen backable', :remote =>:true)
     %span
      - if band
       - if post.is_bulletin
        has pinned this to their profile #{time_ago_in_words(post.created_at)} ago
       - else
        has written this #{time_ago_in_words(post.created_at)} ago 
      -else
       wrote this
       - if song
        about '#{song.title}' song
       #{time_ago_in_words(post.created_at)} ago
    .actions
     - if self_owner
      = link_to user_post_path(post), :method=> :delete, :class=>'action-delete', :remote=>true do
       %i
       %span delete
     - if @band && !self_owner
      = link_to new_post_reply_path(post, :band_id => @band.id), :class=>'action-reply ajaxopen', :remote=>true do
       %i
       %span reply
     -elsif !self_owner
      - if song
       = "Buzz"
      - else
       = link_to new_post_reply_path(post), :class=>'action-reply ajaxopen', :remote=>true do
        %i
        %span reply
   .post-body
    = post_msg_with_band_mention(post)
  .clear
 - if post.ancestry && !hide_thread_link
  = link_to 'expand conversation', get_post_threads_path(post), :remote => true, :class => 'ajaxload thread-expand toggle-thread', :id =>"expand_link_#{post.id}"