- parent_post ||= nil
- artist      ||= nil
- form_id     ||= 'user_post_form'
.post-reply-input
 = form_tag(post_reply_path, :class=>"ajaxopen", :remote => true, :id => form_id) do
  = hidden_field_tag :parent_post_id, parent_post.id if parent_post  
  = hidden_field_tag :artist_id, artist.id if artist
  = text_area :post, :msg, :class=>"input-box mention" ,:maxlength => 200, :cols => 100, :rows => 3
  .postbtn
   = submit_tag('Reply',:class=>"button blue")
  .clear
  %span.inputerror