/ - no_post_form ||= false
/ = render "bulletin_form" unless no_post_form
.status-input
  = form_tag(user_posts_path, :class=>"ajaxload",:remote => true, :id => 'user_post_form') do
    - if @band
      = hidden_field_tag :band_id, @band.id
    = text_area :post, :msg, :class=>"input-box mention",:value=>"share something...",:maxlength => 200
    = submit_tag('post',:class=>"post-btn")
    = check_box :post, :is_bulletin
    bulletin
    .clear
  %span.inputerror

:javascript
$(function () {
  $('textarea.mention').mentionsInput({
    onDataRequest:function (mode, query, callback) {
      var data = [
      #{band_follower_mention_lists @band}
      ];
      data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });
      callback.call(this, data);
    }
  });
  $('.status-input .input-box').focus(function() {
    $(this).val("");
  });
});
