=div_for user_post do
 .msgbox
  .avatar
   = link_to get_avatar_small(user_post.user), user_profile_path(user_post.user) if user_post.user != current_user
   = link_to get_avatar_small(user_post.user), user_home_url if user_post.user == current_user
  .newsitem
   .itemcontent
    %strong
     -if user_post.user == current_user
      You
     -else
      = user_post.user.fname
    wrote this about an #{time_ago_in_words(user_post.created_at)} ago 
    %br
    = user_post.post
   .righticons
    = link_to 'X', user_post_path(user_post), :method => :delete,:title=>"Remove", :class => "delete_post ajaxload", :remote => true if user_post.user_id == current_user.id
    %br
    share 
    %br
    reply
   .clear
  .clear