!= "$('#user_post_form')[0].reset();"
- if @post.is_bulletin
  != "$('.band-bulletins').prepend('#{escape_javascript(render 'user_posts/post', :post => @post)}');"
- else
  != "$('.user_posts').prepend('#{escape_javascript(render 'user_posts/post', :post => @post)}');"
!= "$('.postsubmit').attr('disabled','disabled');"
