- date  = @post.created_at.strftime("%Y%m%d")
!= "$('#post_#{@post.id}').fadeOut(1000);"
- unless @post.is_bulletin
  != "if($('.user_posts #date_#{date}').nextUntil('date').find('.post').length==0){$('.user_posts #date_#{date}').remove();}"
