- if @post
  - date  = @post.created_at.strftime("%Y%m%d")
  != "$('#post_#{@post.id}').remove();"
  - if @post.is_bulletin
    != "if($('.pinned-posts div.post').length==0){$('date#pin-board').remove();}"
  - else @post.is_bulletin
    != "if($('.user_posts #date_#{date}').nextUntil('date').length==0){$('.user_posts #date_#{date}').remove();}"
  :plain
    var post_div1 = '#post_#{@post.id}';
    var post_div2 = '#reply_post_#{@post.id}';
    if($(post_div1).length > 0){
      $(post_div1).remove();
    }
    else{
      if($(post_div2).length>0){
        if($(post_div2).closest('.conversation-thread-container').children('.post').length==1){
          $(post_div2).closest('.conversation-thread').remove();
        }
        else{
          $(post_div2).remove();
        }
      }
    }
- else
  faceboxContent('requested post has already been removed');
  closeFacebox(1000);

