!= "$('.user_posts').append('#{escape_javascript(render 'user_posts/post_aggregate', :posts => @posts)}');"
!= "$('.readmore a').attr('href','#{@load_more_path}');"
-if @load_more_path.nil?
  != "$('.readmore a').hide();"
!= "set_right_height();"  
