- if @user.is_fan?  
  $('#page-content').html('#{escape_javascript(render '/fan/live')}');
  $('#page-content').append("<div class='primary-container'><div class='primary'><div class='left'></div><div class='right'></div></div></div>");
  $('.primary .left').html('<div class="top"></div>');
  $('.primary .left .top').html('#{escape_javascript(render 'user_posts/status_fan')}');
  $('.primary .left .top').append('#{escape_javascript(render 'fan/social_header', :current =>'mention')}');
  $('.primary .left').append('#{escape_javascript(render 'bricks/fan_posts', :current =>'mention')}');  
  $('.primary .right').html('#{escape_javascript(render 'fan/right', :current=>'news_feed')}');    
$('.session .notifications').html('#{escape_javascript(render '/bricks/notifications')}');
closeFacebox(10);
scrollToContainerTop();