= render :partial=>"fan/live"
.primary-container
  .primary
    .left
      .top
        = render "user_posts/status_fan"
        = render "fan/social_header", :current =>'mention'
      = render "bricks/fan_posts", :current =>'mention'
    .right
      = render "fan/right"