!= "$('.user_posts').append('#{escape_javascript(render 'user_posts/post_aggregate', :posts => @posts)}');"
!= "$('.read-more a').attr('href','#{@load_more_path}');"
-if @load_more_path.nil?
  != "$('.read-more a').hide();"