= render :partial=>"/fan/live"
.primary-container
  .primary
    .left
      = render "/user_posts/form"
      = render "/fan/social_header", :current =>'reply'
      = render "/bricks/fan_posts", :current =>'reply'
    .right
      = render "/fan/right"