= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      .top
        = render '/user_posts/status_artist'
        = render '/artist/social_header', :current =>'reply'
      = render "/bricks/artist_posts", :current =>'reply'
    .right
      = render "/artist/right"