$('.live').replaceWith('#{escape_javascript(render '/fan/live')}');
$('.primary .left').html('<div class="top"></div>');
$('.primary .left .top').html('#{escape_javascript(render '/user_posts/status_fan')}');
$('.primary .left .top').append('#{escape_javascript(render '/fan/social_header')}');
$('.primary .left').append('#{escape_javascript(render '/bricks/fan_posts', :current =>'reply')}');
$('.session .notifications').html('#{escape_javascript(render '/bricks/notifications')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.left a').removeClass('active').removeClass('button-fill-fan');
$('.primary .right a').removeClass('active').removeClass('button-fill-fan');
$('.primary #replies').addClass('active').addClass('button-fill-fan');
$('.primary .right a#feed-msg').addClass('active').addClass('button-fill-fan');