- deleted_post_msg = capture do
  .post.entry
    .body
      this post has been deleted

- unless @posts.blank?
  - last_post  = @posts.pop
  - first_post = @posts.shift
  - all_posts  = capture do
    - if last_post.deleted?
      = deleted_post_msg
    - else
      = render 'user_posts/post', :post => last_post, :hide_thread_link => false, :hide_reply_link =>false, :post_div_id =>"post_#{last_post.id}", :divclass =>"last-post-#{last_post.id}", :postclass => "no-border", :is_thread_post =>false
      .conversation-thread{:id =>"post_thread_#{last_post.id}"}
        .conversation-thread-top-border
        .conversation-thread-container
          - @posts.reverse_each do |post|
            - if post.deleted?
              = deleted_post_msg
            - else
              = render 'user_posts/post', :post => post, :hide_thread_link => true, :hide_reply_link =>true, :post_div_id =>"reply_post_#{post.id}", :is_thread_post =>true
          - if first_post.deleted?
            = deleted_post_msg
          - else
            = render 'user_posts/post', :post => first_post, :hide_thread_link => true, :hide_reply_link =>true,:post_div_id =>"reply_post_#{first_post.id}", :id =>"first_post_#{first_post.id}", :divclass =>'first-post', :is_thread_post =>true if first_post
        .conversation-thread-bottom-border

  - hide_show_conversation = capture do
    %a{:href => "javascript:void(0);", :class =>'toggle-thread', :onclick => "$('#post_thread_#{@main_post.id}').toggle();$('#expand_link_#{@main_post.id}').show();$('#reply_post_#{last_post.id}').removeClass('no-border');"}
      collapse conversation

  - expand_conversation_link = capture do
    %a{:href => "javascript:void(0);", :id =>"expand_link_#{last_post.id}", :class =>'toggle-thread', :onclick => "$('#post_thread_#{@main_post.id}').show();$(this).hide();$('#reply_post_#{last_post.id}').addClass('no-border');"}
      %i
      see conversation

  $('#post_#{@main_post.id}').replaceWith("#{escape_javascript all_posts}");
  $('#expand_link_#{last_post.id}').replaceWith("#{escape_javascript expand_conversation_link}");
  $('#expand_link_#{last_post.id}').hide();
  $('#post_thread_#{last_post.id} >div:last-child').append('#{escape_javascript hide_show_conversation}');
  $('#post_thread_#{last_post.id} .toggle-thread').addClass('toggle-thread-expanded');
  $('.last-post-#{last_post.id}').parent().addClass('entry-no-border');
- else
  faceboxContent('No posts to show');
closeFacebox(10);