- last_post  = @posts.pop
- first_post = @posts.shift
- all_posts = capture do
  = render 'user_posts/post', :post => last_post, :hide_thread_link => false, :divclass =>"last-post-#{last_post.id}"
  .conversation-thread{:id =>"post_thread_#{last_post.id}"}
    .conversation-thread-top-border
    .conversation-thread-container
      - @posts.reverse_each do |post|
        = render 'user_posts/post', :post => post, :hide_thread_link => true
      = render 'user_posts/post', :post => first_post, :hide_thread_link => true, :id =>"first_post_#{first_post.id}",:divclass =>'first-post'
    .conversation-thread-bottom-border
- hide_show_conversation = capture do
  %a{:href => "javascript:void(0);", :class =>'toggle-thread', :onclick => "$('.last-post-#{last_post.id}').parent().removeClass('entry-no-border'); $('#post_thread_#{last_post.id}').toggle();$(this).html($.trim($(this).text())=='collapse conversation' ? 'expand conversation' : 'collapse conversation');$('#expand_link_#{last_post.id}').toggle();"}
    collapse conversation

$('#post_#{@post.id}').replaceWith("#{escape_javascript all_posts}");
$('#expand_link_#{last_post.id}').hide();
$('#post_thread_#{last_post.id} >div:last-child').append('#{escape_javascript hide_show_conversation}');
$('#post_thread_#{last_post.id} .toggle-thread').addClass('toggle-thread-expanded');
$('.last-post-#{last_post.id}').parent().addClass('entry-no-border');
setTimeout('$(document).trigger(\"close.facebox\"); ',10);