- band          ||=nil
- @band         = band || @band
- in_newsfeed   ||=false
- unless in_newsfeed
  .album_photo[photo]
    - if @has_admin_access && (photo.id == band_album.cover_image_id)
      album cover
      %br
    - else
      - if @has_admin_access
        = link_to "make album cover", make_cover_image_path(@band.name, band_album.name, photo.id), :remote => true, :class => 'ajaxopen'
        %br
    =link_to image_tag(photo.image.url(:medium), :width => '100px', :height =>'100px'), band_album_photo_path(photo.id, :band_album_name => band_album.name, :band_name => @band.name), :remote => true, :class => 'ajaxopen', :title =>photo.caption
    %br
    - if @has_admin_access
      - if photo.caption.blank?
        = link_to 'Add Caption', edit_photo_path(photo.id, :band_name => @band.name, :album_name => band_album.name), :remote => true, :class => 'ajaxopen'
      - else
        = photo.caption
        %br
        = link_to 'Edit Caption',  edit_photo_path(photo.id, :band_name => @band.name, :album_name => band_album.name), :remote => true, :class => 'ajaxopen'
      = link_to 'Delete', delete_photo_path(photo.id, :band_name => @band.name, :album_name => band_album.name), :remote => true, :class => 'ajaxopen'
    - else
      = photo.caption
- else
  .album_photo[photo]
    =link_to image_tag(photo.image.url(:medium), :width => '100px', :height =>'100px'), band_album_photo_path(photo.id, :band_album_name => band_album.name, :band_name => @band.name), :remote => true, :class => 'ajaxopen', :title =>photo.caption
    %br
    = photo.caption