- form_for(@upload do
  - if @upload.errors.any?
    #error_explanation
      %h2= pluralize(@upload.errors.count, "error")
        prohibited this upload from being saved:
      %ul
        -@upload.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :user_id
    = f.text_field :user_id
  .actions
    = f.submit
