- band_album_photos = capture do
  %h3
    = "Photos in #{@band_album.name} album  : #{@band_album.band_photos.count}"
  - @band_album.band_photos.each do |photo|
    = render 'band_photo', :photo => photo
$('.midcontent > .left > .leftcontainer').html('#{escape_javascript band_album_photos} ');
setTimeout('$(document).trigger(\"close.facebox\")',10);    