- album_photos  = @band_album.band_photos
- all_photos    = capture do
  - album_photos.each do |photo|
    = render 'band_photo', :photo => photo, :band_album =>@band_album
- left_list_cover_image = capture do
  - album_cover_image = (cover_image = @band_album.cover_image) ? cover_image.image.url(:medium) : '/assets/no-image.png'
  = link_to image_tag(album_cover_image, :height => '80px', :width=>'80px'), band_album_photos_path(:band_name =>@band.name, :band_album_name => @band_album.name), :remote=>:true, :class=>"ajaxopen"
- album_new_cover_image = capture do
  = link_to get_band_photo_album_teaser_photo(@band_album), band_album_path(:band_name =>@band.name, :band_album_name => @band_album.name), :remote=>:true, :class=>"ajaxopen backable"
$.facebox("deleted successfully");
if($('.left #photo_album_box #band_album_#{@band_album.id}').length>0){$('.left #photo_album_box #band_album_#{@band_album.id} .album_teaser_image').html('#{escape_javascript left_list_cover_image}');}
if($('.right #photobox #band_album_#{@band_album.id}').length>0){$('.right #photobox #band_album_#{@band_album.id} .album-cover-image').html('#{escape_javascript album_new_cover_image}');}
$('#band_album_#{@band_album.id} .photo_gallery').html('#{escape_javascript all_photos}');
$('div#photo_stat_#{@band_album.id}').html('#{pluralize(album_photos.size,'photo')}');
setTimeout('$(document).trigger(\"close.facebox\")',100);