.items
  = link_to 'latest posts', show_band_path(:band_name => @band.name), :id=>'latest-posts', :remote => 'true', :class => 'ajaxopen backable active selection-box button-fill-artist'
  = render '/bricks/rb_music',  :band =>@band, :song_album_count  =>@song_album_count,  :song_albums  =>@song_albums,  :is_admin =>false
  = render '/bricks/rb_photo',  :band =>@band, :photo_album_count =>@photo_album_count, :photo_albums =>@photo_albums, :is_admin =>false
  = render '/bricks/rb_tour',   :band =>@band, :tour_count        =>@tour_count,        :band_tours   =>@band_tours,   :is_admin =>false
  = render '/bricks/rb_member', :band =>@band, :artist_count      =>@band_artist_count, :band_artists =>@band_artists
  = render '/bricks/rb_fan',    :band =>@band, :fan_count         =>@band_fan_count,    :band_fans    =>@band_fans
.fader