.items
  = link_to 'latest posts', show_band_path(:band_name => @band.name), :id=>'latest-posts', :remote => 'true', :class => 'ajaxopen backable active selection-box button-fill-artist'
  = render '/bricks/rb_music', :band =>@band, :song_albums =>@song_albums, :is_admin =>false
  = render '/bricks/rb_photo', :band =>@band, :photo_albums =>@photo_albums, :is_admin =>false
  = render '/bricks/rb_tour', :band =>@band, :band_tours =>@band_tours, :is_admin =>false
  = render '/bricks/rb_member', :band =>@band, :band_artists =>@band_artists
  = render '/bricks/rb_fan', :band =>@band, :band_fans =>@band_fans
.fader