= render :partial=>"header"
= render :partial=>"live"
.primary
  .left
    = render 'status_input'
    = render 'social_header'
    = render "posts"
  .right
    = render "right"
    = render "right"    