.area.form
  #basic-info-msg.msg
  .details
    %h3
      your name is
      %span{:id =>'namespan'}= @user.get_full_name
    - if @user.mention_name
      %h3
        your username is
        %span= @user.mention_name
    %h3
      and your email is
      %span{:id =>'emailspan'}= @user.email
    - unless @user.is_external?
      %h5 click the lock to enable changes
  .content.manage-basic
    = form_for :user, :url => update_basic_info_path, :html => {:remote => true, :class => 'ajaxopen', :id =>'fan_basic_info'}  do |f|
      .field
        %label{:for=>"name"}
          first
        = f.text_field :fname
      .field
        %label{:for=>"name"}
          last
        = f.text_field :lname
      .field
        %label{:for=>"name"}
          email
        = f.text_field :email
      - unless @user.is_external?
        .lock-toggle
      = submit_tag 'update it, it\'s legal', :class => 'splash-highlight-button button', :id =>'basic_form_submit', :disabled =>!@user.is_external
:javascript  
  if(#{!@user.is_external?})
    $('#basic-info input').attr('disabled', true).addClass('input-disabled');  