.area.form
  #basic-info-msg.msg
  .details
    %h3
      your name is
      %span= @user.get_full_name
    %h5 click the lock to enable changes
  .content.manage-basic
    = form_for :user, :url => update_basic_info_path, :html => {:remote => true, :class => 'ajaxopen', :id =>'fan_basic_info'}  do |f|
      .field
        %label{:for=>"name"}
          first
        = f.text_field :fname
      .field
        %label{:for=>"name"}
          last
        = f.text_field :lname
      .lock-toggle
      = submit_tag 'update it, it\'s legal', :class => 'button', :id =>'basic_form_submit', :disabled =>:true
:javascript  
  $('#basic-info input').attr('disabled', true).addClass('input-disabled');
  $('#basic-info .lock-toggle').live('click',function(){
    $.ajax('#{ask_and_check_user_password_path}',{remote:true});
  });