.area.form
  #change-password-msg.msg
  .details
    %h3 
      change your
      %span password
    %h5 click the lock to enable changes
  .content
    = form_for :user, :url => update_password_path, :html => {:remote => true, :class => 'ajaxopen'} do |f|
      .field
        %label{:for => "name"} new
        = f.password_field :password, :class => 'textfield'
      .field
        %label{:for => "name"} confirm
        = f.password_field :password_confirmation, :class => 'textfield'
      .lock-toggle
      = submit_tag 'save changes', :class => 'button', :id =>'password_form_submit', :disabled =>:true
:javascript  
  $('#change-password input').attr('disabled', true).addClass('input-disabled');
  $('#change-password .lock-toggle').live('click',function(){
    $.ajax('#{ask_and_check_user_password_path}',{remote:true});
  });