.area.form
  #additional-info-msg.msg
  .details
    %h3
      change your        
      or
      %span favourite genre
      picks
  .content
    = form_for(:additional_info, {:url => create_additional_info_path, :remote => true, :class => 'ajaxopen'}) do |f|
      .field.f
        %label{:for => "name"} gender
        = f.select :gender, [['male',1],['female', '0']]
      .field.set-age
        %label{:for => "name"} age
        = f.text_field :age, :size => 5, :class => 'textfield long'      
      .field
        %label{:for => "name"} favourite genres
        = f.text_field :favourite_genre, :size => 30, :class => 'textfield long'
      = f.submit 'make it so', :class => 'button splash-highlight-button'
:javascript
  $('.location-auto-search-complete').autocomplete({
    minLength: 3,
    delay: 600,
    source: function(request, response) {
      $.ajax({
        url: "#{location_autocomplete_suggestions_url}",
        dataType: "json",
        data: {term: request.term},
        success: function( data ) {
          response( data );
        },
        
      });
    },
    open: function(event, ui) {
      $('ul.ui-autocomplete').removeClass('ui-menu ui-widget ui-widget-content ui-corner-all');
    }
  });
  $("#additional_info_favourite_genre").tokenInput(
    [#{genre_atuofill}],
    {
      preventDuplicates: true,
      theme: "facebook",
      prePopulate: [#{genre_prepopullate_from_addinfo(@additional_info)}]
  });