.live
  .profile-image{:title =>"#{@user.get_full_name}"}
    = get_fan_profile_image(@user)
  .links
    .top
      = render "bricks/random_artists", :current => nil
    .bottom
      .name
        %h1 welcome to the beta
        %h1.full-name= @user.get_full_name
      .overlay.overlay-info
        .actions
          = link_to "provide feedback", feedback_start_path, :remote => true, :class => "ajaxopen text-action-no-img backable"
        .heading
          %span codebase 246 | August 6th, 2012