.live
  .profile-image{:title =>"#{@user.get_full_name}"}
    = get_fan_profile_image(@user)
  .links
    .top
      .header
        .name
          %h2.full-name= @user.get_full_name
          %h2= @user.mention_name
        .heading
      .sub-head
        = @user.get_full_address
      .description
        = @user.bio
    .bottom
      = render "bricks/random_artists", :current => nil