.live
  .profile-image{:title =>"#{@user.get_full_name}"}
    = get_fan_profile_image(@user)
  .links
    .top
      = render "bricks/random_artists", :current => nil
    .bottom
      .name
        %h1.full-name= @user.get_full_name
        %h1= "@#{@user.mention_name}"
      .sub-head
        = @user.get_full_address
      .overlay