- if params[:email]
  - @user.email ||= params[:email]
- if params[:fname]
  - @user.fname ||= params[:fname]
- if params[:lname]
  - @user.lname ||= params[:lname]
- if @user.errors.any?
  .error_messages
    %h2 Invalid user information
    %ul
      - for message in @user.errors.full_messages
        %li= message
.fields
  %label{:for => "name"} FIRST NAME
  = text_field :user, :fname, :class => 'textfield'
.fields
  %label{:for => "email"} LAST NAME
  = text_field :user, :lname, :class => 'textfield'
.fields
  %label{:for => "mention_name"} MENTION NAME
  = text_field :user, :mention_name, :class => 'textfield'
.fields
  %label{:for => "website"} EMAIL
  = text_field :user, :email, :class => 'textfield'
.fields
  %label{:for => "website"} RE-ENTER EMAIL
  = text_field :user, :email_confirmation, :class => 'textfield'
%br/
.fields
  %label{:for => "website"} PASSWORD
  = password_field :user, :password, :class => 'textfield'
.fields
  %label{:for => "website"} RE-ENTER PASSWORD
  = password_field :user, :password_confirmation, :class => 'textfield'
.fields
  %span
    You can now go ahead and register. Or, you can add an artist profile along with your normal profile by including a name below
%br
.fields
  %label{:for => "name"} ARTIST NAME
  = text_field_tag :band_name, nil, :class => 'textfield', :'data-validate' => check_bandname_url
  .bandname_available
.fields
  %label
  =# recaptcha_tags
.fileds
  %label{:for => "submit"} &nbsp;
  = submit_tag 'register me!', :class => 'join'
.clear
