.registration
  - if !@user.errors.blank? || !@is_band_data_valid
    .registration-error
      %ul
        - for message in @user.errors.full_messages
          %li= "User #{message}".downcase
        - for message in @band.errors.full_messages
          %li= "Artist #{message}".downcase
  .left
    - @is_invited ||=false
    - if params[:email]
      - @user.email ||= params[:email]
    - if params[:fname]
      - @user.fname ||= params[:fname]
    - if params[:lname]
      - @user.lname ||= params[:lname]
    = hidden_field :user, :invitation_token
    .field
      %label{:for => "namea"} first name
      = text_field :user, :fname, :class => 'base-text-field'
    .field
      %label{:for => "emaila"} last name
      = text_field :user, :lname, :class => 'base-text-field'
    .field
      %label{:for => "mention_namea"} username
      = text_field :user, :mention_name, :class => 'base-text-field', :'data-validatefanusername' => check_fanusername_url
      .fan-username-popout.field-error
    .field
      %label{:for => "websitea"} email
      = text_field :user, :email, :class => 'base-text-field', :readonly =>@is_invited
    .field
      %label{:for => "websitea"} re-enter email
      = text_field :user, :email_confirmation, :class => 'base-text-field', :readonly =>@is_invited
    %br/
    .field
      %label{:for => "websitea"} password
      = password_field :user, :password, :class => 'base-text-field'
    .field
      %label{:for => "websitea"} re-enter password
      = password_field :user, :password_confirmation, :class => 'base-text-field'
    .info
      You can now go ahead and register or you can also add an artist profile along with your normal profile by filling out the form below
    .field
      %label{:for => "name"} artist name
      = text_field_tag 'band[name]', params[:band] ? params[:band][:name] : '', :class => 'base-text-field', :'data-validate' => check_bandname_url
      .artist-name-popout.field-error
    .field
      %label{:for => "username"} artist username
      = text_field_tag 'band[mention_name]', params[:band] ? params[:band][:mention_name] : '', :class => 'base-text-field', :'data-validatemn' => check_bandmentionname_url
      .artist-username-popout.field-error
    = submit_tag 'register me!', :size => "100", :class => 'join'
  .right