.registration
  .left
    - @is_invited ||=false
    - if params[:email]
      - @user.email ||= params[:email]
    - if params[:fname]
      - @user.fname ||= params[:fname]
    - if params[:lname]
      - @user.lname ||= params[:lname]    
    - if !@user.errors.blank? || !@is_band_data_valid
      .error_messages
        %h2 Invalid Information
        %ul
          - for message in @user.errors.full_messages
            %li= "User #{message}".downcase
        %ul
          - for message in @band.errors.full_messages
            %li= "Artist #{message}".downcase
    = hidden_field :user, :invitation_token
    .field
      %label{:for => "namea"} first name
      = text_field :user, :fname, :class => 'textfield'
    .field
      %label{:for => "emaila"} last name
      = text_field :user, :lname, :class => 'textfield'
    .field
      %label{:for => "mention_namea"} username
      = text_field :user, :mention_name, :class => 'textfield'
    .field
      %label{:for => "websitea"} email
      = text_field :user, :email, :class => 'textfield', :readonly =>@is_invited
    .field
      %label{:for => "websitea"} re-enter email
      = text_field :user, :email_confirmation, :class => 'textfield', :readonly =>@is_invited
    %br/
    .field
      %label{:for => "websitea"} password
      = password_field :user, :password, :class => 'textfield'
    .field
      %label{:for => "websitea"} re-enter password
      = password_field :user, :password_confirmation, :class => 'textfield'
    .info
      You can now go ahead and register. Or, you can add an artist profile along with your normal profile by including a name below.
    %br
    .field
      %label{:for => "name"} artist name
      = text_field_tag 'band[name]', params[:band] ? params[:band][:name] : '', :class => 'textfield', :'data-validate' => check_bandname_url
      .bandname_available
    .field
      %label{:for => "username"} artist username
      = text_field_tag 'band[mention_name]', params[:band] ? params[:band][:mention_name] : '', :class => 'textfield', :'data-validatemn' => check_bandmentionname_url
      .bandmentionname_available
    = submit_tag 'register me!', :class => 'join'
  .right