%h3 Choose your favorite Artists

#location_info.content-box
  = form_for(:user, {:url => profile_item_setup_path, :remote => true}) do |ff|
    = hidden_field_tag :setup_item_type, '2'
    .content-box
      .area.form
        .details
          select some artists
        .content
          .field 
            %br
            - @artists.each do |artist|
              = get_artist_avatar(artist)              
              = check_box_tag 'user_artists[]', artist.id
              = artist.name
              %br
      = ff.submit 'skip this', :class => 'button'
      = ff.submit 'continue', :class => 'button'            