.header
  %h1 Step 3
  %h3 Additional profiles (optional)
.content-custom
  #location_info
    = form_for(:user, {:url => profile_item_setup_path, :remote => true}) do |ff|
      = hidden_field_tag :setup_item_type, '3'
      = link_to new_venue_path, :class => 'ajaxopenwindow' do
        %img{:src => "/assets/profile/setup-venue.jpg"}
        %h2 create Venue profile
      = link_to new_artist_path, :class => 'ajaxopenwindow' do
        %img{:src => "/assets/profile/setup-artist.jpg"}
        %h2 create Artist profile
      .submit
        = ff.submit 'onward!', :class => 'splash-highlight-button'
      .clear