%h3
  Create your profile for Artist or Venue

#location_info.content-box
  = form_for(:user, {:url => profile_item_setup_path, :remote => true}) do |ff|
    = hidden_field_tag :setup_item_type, '3'
    .fields
      %label{:for => "name"}
      %hr/
      %h3
      = link_to 'create artist profile', new_venue_path, :class => 'ajaxopen', :remote => true
      %h3
      = link_to 'create venue profile', new_venue_path, :class => 'ajaxopen', :remote => true
      %br/            
      = ff.submit 'skip this', :class => 'button'
    .clear