%h3
  Find your friends who are already in SoundMelon
#location_info.content-box
  = form_for(:user, {:url => profile_item_setup_path, :remote => true}) do |ff|
    = hidden_field_tag :setup_item_type, '5'
    %h3
      = link_to "From Yahoo Contacts", fetch_contacts_form_path('yahoo'), :class =>"ajaxopen", :remote =>:true
    %h3
      = link_to "From Msn Contacts", fetch_contacts_form_path('msn'), :class =>"ajaxopen", :remote =>:true
    %h3
      = link_to "From Gmail Contacts", fetch_contacts_form_path('gmail'), :class =>"ajaxopen", :remote =>:true
    .user-contact-list
    = link_to "skip this", user_home_path, :class => 'user-info backable ajaxopen', :remote =>true