- tabs      = [:latest_post, :mention, :reply, :message]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.social-header
  = link_to "latest", fan_home_path, 
    :remote   => true,
    :class    => "backable iconactive highlight ajaxload active button-fill-fan",
    :id       => 'latest',
    :class    => 0 == current ? "backable iconactive highlight ajaxload active button-fill-fan" : "backable iconactive highlight ajaxload"  
  = link_to mentioned_path(1),
      {:remote => true, 
       :class=> 1 == current ? "backable iconactive ajaxload highlight active button-fill-fan" : "backable iconactive ajaxload", 
       :id => 'mentions' } do
    - if @unread_mentioned_count > 0
      mentions
      %b
        = @unread_mentioned_count
        new
    - else
      mentions
  = link_to replies_path(1),
      {:remote => true, 
       :class=> 2 == current ? "backable iconactive ajaxload highlight active button-fill-fan" : "backable iconactive ajaxload", 
       :id => 'replies' } do
    - if @unread_post_replies_count > 0
      replies
      %b
        = @unread_post_replies_count
        new
    - else
      replies
  = link_to user_inbox_path(1),
      {:remote => true, 
       :class=> 3 == current ? "backable inbox iconactive ajaxload highlight active button-fill-fan" : "backable inbox iconactive ajaxload", 
       :id => 'messages' } do
    - if @unread_messages_count > 0
      messages
      %b
        = @unread_messages_count
        new
    - else
      messages