- if @confirmation_thanks
  %p.center
    Thanks for confirming!
- else
  .blankbox
    - if @user.account_type
      = link_to "Skip", invite_artist_member_path,:class=>"button right"
    - else
      = link_to "Skip", fan_home_path,:class=>"button right"
  = render 'fan/edit_additional_info_form'
  = render 'fan/find_friends_form'
  = render 'fan/payment_info_form'
