$('.session .notifications').html('#{escape_javascript(render '/bricks/notifications')}');
$('#page-content').html('#{escape_javascript(render '/fan/live')}');
$('#page-content').append('<div class="primary-container"></div>');
$('.primary-container').html('<div class="primary"></div>');
$('.primary').append('<div class="left"><div class="top"></div></div>');
$('.primary .left .top').append('#{escape_javascript(render '/user_posts/status_fan')}');
$('.primary .left .top').append('#{escape_javascript(render '/fan/social_header')}');
$('.primary .left').append('#{escape_javascript(render '/bricks/fan_posts')}');
$('.primary').append('<div class="right"></div>');
$('.primary .right').html('#{escape_javascript(render '/fan/right')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-fan');
$('#feed-msg').addClass('active').addClass('button-fill-fan');
$('.left a').removeClass('active').removeClass('button-fill-fan');
$('#latest').addClass('active').addClass('button-fill-fan');
scrollToTop();