= render :partial=>"/fan/live"
.primary-container
  .primary
    .left
      = render "/user_posts/form"
      = render "/fan/social_header"
      = render "/bricks/fan_posts"
    .right
      = render "/fan/right"