//home is user internal profile
= render :partial=>"header"
= render :partial=>"live"
.primary
  .left
    = render "user_posts/form"
    = render "social_header"
    = render "bricks/home_page_posts"
  .right
    = render "right"
  .clear