updateLiveSection('#{escape_javascript(render '/fan/live_manageable')}');
setUpPage();
- manage_profile_forms = capture do
  .content-box#basic-info
    = render :partial => '/fan/basic_info_form'
  .content-box#additional-info
    = render :partial => '/fan/edit_additional_info_form'
  .content-box#notification-setting
    = render :partial => '/fan/notification_setting_form'
  - unless @user.is_external?
    .content-box#change-password
      = render :partial => '/fan/change_password_form'
updateLeftSection('#{escape_javascript(manage_profile_forms)}');
updateRightSection('#{escape_javascript(render '/fan/right', :current =>'manage_profile')}');
scrollToTop();
closeFacebox(1);
:plain
if(#{!@user.is_external?}){
  $('.lock-toggle').bind('click',function(event){
    $.ajax('#{ask_and_check_user_password_path}',{remote:true});
    event.stopPropagation();
  });
}
