= render :partial=>"live"
.primary-container
  .primary
    .left
      = render :partial => 'basic_info_form'
      = render :partial => 'additional_info_form'
      = render :partial => 'change_password_form'
    .right
      = render "right", :current =>'manage_profile'