= render :partial=>"/fan/live"
.primary-container
  .primary
    .left
      .content-box#basic-info
        #basic-info-msg
        = render :partial => '/fan/basic_info_form'
      .content-box#additional-info
        #additional-info-msg
        = render :partial => '/fan/edit_additional_info_form'
      .content-box#change-password
        #change-password-msg
        = render :partial => '/fan/change_password_form'
    .right
      = render "/fan/right", :current =>'manage_profile'