= render :partial=>"/fan/live_manageable"
.primary-container
  .primary
    .left
      .content-box#basic-info
        #basic-info-msg
        = render :partial => '/fan/basic_info_form'
      .content-box#additional-info
        #additional-info-msg
        = render :partial => '/fan/edit_additional_info_form'
      .content-box#notification-setting
        = render :partial => '/fan/notification_setting_form'
      - unless @user.is_external?
        .content-box#change-password
          #change-password-msg
          = render :partial => '/fan/change_password_form'
    .right
      = render "/fan/right", :current =>'manage_profile'
:javascript      
  $('.lock-toggle').bind('click',function(){
    $.ajax({url:'#{ask_and_check_user_password_path}'});
  });
  
