- new_show_list_html = capture do
  .artist_show{:id =>"artist_show_#{@artist_show.id}"}
    = link_to @artist_show.show_date.strftime('%b %d') + " @#{@artist_show.get_venue_name}", artist_show_path('home', @artist_show.id), :remote=>:true, :class=>"ajaxopen backable"
- new_show_left_list_html = capture do
  = render 'show', :artist_show =>@artist_show

if($('.show-list').length > 0){if($('.show-list .artist_show').length>0){$('.show-list').append('#{escape_javascript new_show_left_list_html}');}else{$('.show-list').html('#{escape_javascript new_show_left_list_html}');}}
if($('#showbox artist_show_#{@artist_show.id}').length ==0){if($('#showbox .message').length>0){$('#showbox').html('#{escape_javascript(new_show_list_html)}');}else{$('#showbox').prepend('#{escape_javascript(new_show_list_html)}');}}
faceboxContent("Added New Show");
closeFacebox(1000);