- artist_show_detail = capture do
  %hr/
  Venue:
  - venue = @artist_show.venue
  - if venue.blank?
    = @artist_show.get_venue_name
  - else
    = link_to venue.name, show_venue_path(venue), :class =>'ajaxopen backable', :remote =>:true
  %br/
  City:
  = @artist_show.city
- hide_show_detail = capture do
  %a{:href => "javascript:void(0);", :onclick => "$('div#artist_show_#{@artist_show.id} .show_details').toggle();$(this).html($.trim($(this).text())=='collapse' ? 'expand' : 'collapse');"}
    collapse
$('#artist_show_#{@artist_show.id} .show_details').html('#{escape_javascript artist_show_detail}');
$('#expand_link_#{@artist_show.id}').replaceWith('#{escape_javascript hide_show_detail}');
closeFacebox(1);
scrollToTop();