%head
  %title SoundMelon Bandmate Invitation
  %meta{"content-type" => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
  %meta{:content => "noindex,nofollow", :name => "robots"}
  %meta{:content => "Announcing MK Geek Night #1 - Amazing Speakers Confirmed"}
  %link{:href => "http://css.createsend1.com/css/social.min.css?h=28875B5D", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
%body{:bgcolor => "#ddd", :style => "-webkit-font-smoothing:antialiased;width:100% !important;background-color:#ddd;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-text-size-adjust:none;"}
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #ddd", :width => "100%"}
    %tr
      %td{:style => "background-color: #ddd", :width => "100%"}
        %table.table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %td
            %td.cell{:width => "500"}
              %img{:src => "http://www.soundmelon.com/public/logo_email.jpg"}
          %tr
            %td.cell{:width => "600"}
              %br
                %table.promotable{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                  %tr
                    %td.promocell{:style => "padding-top:25px;color:#565656;font-size:14px;line-height:21px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:21px;padding-bottom:0;font-weight:normal;", :width => "600"}
                      %h1{:style => "font-size:21px;line-height:26px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:10px;padding-top:0;padding-bottom:0;font-weight:normal;color:#4b5c66;"}
                        %a{:href => "http://email.pixelcreation.co.uk/t/r-l-hlilldd-l-o/", :style => "color:#3ca34e;text-decoration:none;"}
                          Hello #{@band_invitation.email}
                      %p{:style => "color:#565656;font-size:14px;line-height:21px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:21px;padding-top:0;padding-bottom:0;font-weight:normal;"}
                        Your bandmate #{@user.fname} #{@user.lname} has invited you to join 
                        %strong
                          #{@band.name}.
                      %p{:style => "color:#565656;font-size:14px;line-height:21px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:21px;padding-top:0;padding-bottom:0;font-weight:normal;"}
                        Please click the following link to accept invitation.
                      %a{:href => @old_user_url, :style =>"color:#4787f2;"}
                        = @old_user_url
                      %p{:style => "color:#565656;font-size:14px;line-height:21px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:21px;padding-top:0;padding-bottom:0;font-weight:normal;"}
                        Welcome to the community and have a great day!
                %img.divider{:border => "0", :height => "15", :src => "http://i10.createsend1.com/ti/r/AC/DBC/718/222240/spacer.gif", :width => "1"}
                  %br
        %img.divider{:border => "0", :height => "25", :src => "http://i10.createsend1.com/ti/r/AC/DBC/718/222240/spacer.gif", :width => "1"}
          %br
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #e5e5e5", :width => "100%", :height => "200"}
              %tr
                %td
                  %img{:border => "0", :height => "30", :src => "http://i10.createsend1.com/ti/r/AC/DBC/718/222240/spacer.gif", :width => "1"}
                    %br
                      %table.table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                        %tr
                          %td.cell{:nowrap => "", :style => "background-color: #e5e5e5", :width => "600"}
                            %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                              %tr
                                %td.footershow{:valign => "top", :width => "380"}
                                  %img{:border => "0", :height => "8", :src => "http://i10.createsend1.com/ti/r/AC/DBC/718/222240/spacer.gif", :width => "1"}
                                    %br
                                      %p.reminder{:style => "color:#565656;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;font-weight:normal;"}
                                        You’re receiving this because someone manually entered your email as a recipient.
                                %td.hide{:align => "right", :style => "color:#a6a6a6;font-size:12px;font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;text-shadow:0 1px 0 #ffffff;", :valign => "top", :width => "220"}
                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                    %tr
                                      %td
                                        %a{:href => "http://www.twitter.com/soundmelon/", :style => "color:#3ca34e;text-decoration:none;"}
                                          %img{:alt => "Follow us on Twitter", :border => "0", :height => "32", :src => "http://i9.createsend1.com/ti/r/AC/DBC/718/222240/twitter-32x32.png", :width => "32"}/
                                      %td{:style => "padding-left:10px;"}
                                        %a{:href => "http://www.facebook.com/soundmelon", :style => "color:#3ca34e;text-decoration:none;"}
                                          %img{:alt => "Visit us on Facebook", :border => "0", :height => "32", :src => "http://i2.createsend1.com/ti/r/AC/DBC/718/222240/facebook-32x32.png", :width => "32"}/
                                  %img{:border => "0", :height => "10", :src => "http://i10.createsend1.com/ti/r/AC/DBC/718/222240/spacer.gif", :width => "1"}
                                    %br
                                      %p{:style => "color:#000000;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:bold;"}
                                        SoundMelon Inc.