Hello #{@band_invitation.email}
\
your bandmate #{@user.fname} #{@user.lname} has invited you to join #{@user.band_user.band.name} at soundmelon,

Please click the following link to accept invitation.
#{@old_user_url}
\
Welcome to the community and have a great day!
