Hello #{@band_invitation.email}
\
Your bandmate #{@user.fname} #{@user.lname} has invited you to join #{@band.name} at soundmelon,

Please click the following link to accept invitation.
#{@old_user_url}
\
Welcome to the community and have a great day!
