- data = []
- @users.each do |user|
  - data << {"label" => "#{user.get_full_name}", "value" => "#{user.get_full_name}" }
- @artist_names.each do |artist_name|
  - data << {"label" => "#{artist_name}", "value" => "#{artist_name}" }
- @artist_genres.each do |artist_genre|
  - data << {"label" => "#{artist_genre}", "value" => "#{artist_genre}" }
= raw data.to_json