<%  @user = current_user %>
<%= render :partial=>"bricks/user_header_bar" %>
<%= render :partial=>"profile/user_dash_board" %>

<div id="results">
  <%  if !@user_search_results.results.blank? %>
  <div class="users_header"><h3>USERS</h3></div>
  <% @user_search_results.results.each do |user| %>
   <div class="row" >      
     <% if user == current_user %>
       <%= link_to get_avatar_medium(user), user_home_url %>
     <% else %>
       <%=  link_to get_avatar_medium(user), user_profile_path(user) %>
     <% end %>
     <!-- RESULT INFO -->
     <div class="info">
       <h3 >   
         <% if user == current_user %>
           <%= link_to user.get_full_name, user_home_url %>
         <% else %>
           <%=  link_to user.get_full_name, user_profile_path(user) %>
         <% end %>
       </h3> 
     </div>
     <div class="clear"></div>
     <!-- END RESULT INFO -->
  </div>
<%  end %>
  <% end %>
<%  if !@band_search_results.results.blank? %>
  <div class="bands_header"><h3>BANDS</h3></div>
  <% @band_search_results.results.each do |band| %>
   <div class="row" >      
     <%=link_to get_band_logo_medium(band), show_band_path(band.name) %>
     <!-- RESULT INFO -->
     <div class="info">
       <h3><%=link_to  "#{band.name} (#{band.genre})", show_band_path(band.name) %></h3>   
     </div>
     <div class="clear"></div>
     <!-- END RESULT INFO -->
  </div>
<%  end %>
<%  end %>
</div>