- @user             = current_user
- got_some_results  = (@user_search_results.results.size>0) || (@band_search_results.results.size>0)
- search_result = capture do
  - if got_some_results
    #results
      - unless @user_search_results.results.blank?
        .users_header
          %h3 USERS
        - @user_search_results.results.each do |user|
          - user_url = user == current_user ? fan_home_url : fan_profile_path(user)
          = link_to get_avatar_medium(user), user_url, :class =>'ajaxopen backable', :remote =>true
          / RESULT INFO
          .info
            %h3= link_to user.get_full_name, user_url , :class =>'ajaxopen backable', :remote =>true
          .clear
      - unless @band_search_results.results.blank?
        .bands_header
          %h3 BANDS
        - @band_search_results.results.each do |band|          
          = link_to get_band_logo_medium(band), show_band_path(band.name), :class =>'ajaxopen backable', :remote =>true
          / RESULT INFO
          .info
            %h3= link_to "#{band.name} (#{band.genre})", show_band_path(band.name), :class =>'ajaxopen backable', :remote =>true
          .clear
  - else
    %h3
    No Results Found for '#{params[:q]}'
$('.live').html('#{escape_javascript(search_result)}');
$('.primary-container').remove();