
- join_content = capture do
  = link_to join_colony_path(@colony), {:id =>'join-colony', :remote => true, :class => 'ajaxopen text-action'} do
    .icon-bg
    %i
    join
- main_content = capture do
  .primary-container
    .primary
      .left
        - if @is_admin
          .top
            = render '/user_posts/status'
        = render "/colony/colony_posts"
      .right
        = render "/colony/right"
$('.actions #unjoin-colony').replaceWith('#{escape_javascript join_content}');
$('.primary-container').replaceWith('#{escape_javascript main_content}');
closeFacebox(1);