- link_class = 'selection-box force-login'
.items.public-items
  = link_to 'latest posts', show_artist_path(@artist),
            :id                 => 'latest-posts',
            :remote             => 'true',
            :class              => 'iconactive selection-box active button-fill-artist force-login'

  %div
    .selection-box-nohref
      music
    .collection{:id =>'featured-songs'}
      - if @featured_songs.size > 0
        .songs
          %ul
            - @featured_songs.each do |song|
              %li
                = link_to song.title, "javascript:void(0);", :onclick => "playFeaturedSong(' + i + ');"
                %a.play{:href => "javascript:void(0);", :title => "click to play", :onclick => "playFeaturedSong(' + i + ');"}
      - else
        - if @artist_musics.size > 0
          .message= NO_FEATURED_SONGS_MESSAGE
        - else
          .message= NO_SONG_ALBUM_MESSAGE
        
  %div
    - if @photo_album_count > 0
      = link_to artist_albums_path(@artist), {:remote =>:true, :id=> 'photos', :class => link_class} do
        photos
    - else
      .selection-box-nohref
        photos
    .collection
      - if @photo_album_count > 0
        - @photo_albums.each do |artist_photo_album|
          .album{:id => "artist_album_#{artist_photo_album.id}"}
            .cover= link_to get_artist_photo_album_teaser_photo(artist_photo_album), artist_album_path(@artist, artist_photo_album.name), :remote => :true, :class => "force-login"
            .title= link_to artist_photo_album.name, artist_album_path(@artist, artist_photo_album.name), :remote => :true, :class => "force-login]"
      - else
        .message= NO_PHOTO_ALBUM_MESSAGE

  %div
    - if @show_count > 0
      = link_to artist_shows_path(@artist), {:remote=>:true, :id=>'shows', :class => link_class} do
        shows
    - else
      .selection-box-nohref
        shows
    .collection
      - if @show_count > 0
        %div
          - @artist_shows.each do |show|
            %div
              = link_to show.show_date.strftime('%b %d') + " @#{show.venue}", artist_show_path(@artist, show.id), :remote => :true, :class => "force-login"
      - else
        .message= NO_SHOW_DATE_MESSAGE
  
  %div
    - if @artist_fan_count >0
      = link_to artist_followers_path(@artist), {:remote =>:true, :id =>'fanbox', :class => link_class} do
        %span.count{:id=>'followercount'}
          = @artist_fan_count
        - if @artist_fan_count > 1 || @artist_fan_count == 0
          fans
        - else
          fan
    - else
      .selection-box-nohref
        %span.count
          0
        fan
    .collection
      - if @artist_fan_count > 0
        %div
          - @artist_fans.each do |artist_fan|
            = render '/bricks/avatar', :item =>artist_fan, :id_prefix =>"artist_follower", :has_current_user => false
      - else
        .message= NO_FAN_MESSAGE
.fader

:javascript
  var songList = [#{list_of_play_items(@featured_songs)}];
  makeFeaturedSongList();
  function makeFeaturedSongList(){
    if(songList.length>0){if($('#featured-songs .collection').length==0){$('#featured-songs').html('<ul></ul>');}}    
    var liHtml='';
    for(var i=0;i<songList.length;i++){
      liHtml+='<li><a href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');"  title="click to play">' + songList[i]['title'] + '</a><a class="play" href="javascript:void(0);" onclick="playFeaturedSong(' + i + ');" title="Click to play"></a></li>';
    }
    $('#featured-songs ul').html(liHtml);
  }
  function playFeaturedSong(index){
    playSongFromAlbum(songList[index]);
  }