= image_tag @profile_pic.avatar.url(:large), :id => 'cropbox'
%h4 Preview
%div{:width => '100px', :height => '100px', :overflow => 'hidden'}
  = image_tag @profile_pic.avatar.url(:large), :id => "preview"

= form_for @profile_pic, :url => update_avatar_path, :html => {:method => :post, :remote => true}  do |f|
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = f.hidden_field attribute, :id => attribute 
  %p
    = f.submit "Crop"
