- if @artist_logo.errors.any?
  #error_explanation
    %h2
      = pluralize(@artist_logo.errors.count, "error")
      prohibited this image from being saved:
    %ul
      - @artist_logo.errors.full_messages.each do |msg|
        %li
          = msg
.loader
= form_for @artist_logo, :url => add_logo_path, :html => {:multipart => true, :remote => true } do |f|
  Upload Pic
  %br
  = f.file_field :logo
  = f.hidden_field :band_id
  = f.submit "Upload",:class=>"button blue"
