- content_for(:head) do
  = stylesheet_link_tag "jquery.Jcrop"
  = javascript_include_tag "jquery.Jcrop.min", "avatar"

!= "jQuery.facebox('#{escape_javascript(render 'crop_form')} ' );"
!= "$('#cropbox').Jcrop({onChange: update_crop, onSelect: update_crop, setSelect: [0, 0, 190, 310], aspectRatio: 1});"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});" 