- show_all ||=false
.artist-content[song_album]
  .top
    .cover
      = link_to get_album_cover_image(song_album, 'medium'), band_album_songs_path(@band.name, song_album.album_name), :remote =>:true, :class =>"ajaxopen cover-anchor"
      = link_to 'edit', edit_band_song_album_path(@band.name, song_album.album_name ), :remote => true, :class => 'ajaxopen edit' if @has_admin_access
    .info
      = link_to band_album_songs_path(@band.name, song_album.album_name), {:remote=>:true, :class=>"ajaxopen title"} do
        %h2= song_album.album_name
      %h4 
        added
        = song_album.created_at.strftime("%b %d, %Y")
    .artist-content-actions
      = link_to download_song_album_path(@band.name, song_album.id) do
        %div{:class =>"download-icon"}
        download
      = link_to add_album_to_player_playlist_path(song_album), {:remote => true, :class => 'ajaxopen'} do
        %div{:class =>"play-icon"}
        play
      = link_to add_album_to_playlist_path(song_album), {:remote => true, :class => 'ajaxopen'} do
        %div{:class =>"queue-icon"}
        queue
      = link_to album_buzz_path(song_album.album_name, song_album.id), {:remote => true, :class => 'ajaxopen'} do
        %div{:class =>"buzz-icon"}
        buzz
  .bottom
    .stats{:id =>"song_stats_#{song_album.id}"}
      .price
        = "$#{song_album.price}"
      %span{:id =>'song_count'}= pluralize(song_album.song_count, 'song')
    - if @has_admin_access
      .controls
        = link_to "add", add_songs_to_album_path(@band.name, song_album.album_name ), :remote => true, :class => 'ajaxopen', :title =>'add new song'
        = link_to song_album.disabled? ? 'enable' : 'disable', disable_enable_band_song_albums_path(@band.name, song_album.album_name), :remote=>:true, :class=>"ajaxopen", :id =>"public_view_link_#{song_album.id}"
        = link_to 'remove', delete_song_album_path(@band.name, song_album.id), :remote=>:true, :class=>"ajaxopen", :id =>"public_view_link_#{song_album.id}"
    .toggle
      - unless show_all
        .toggle-thread
          = link_to "expand", band_album_songs_path(@band.name, song_album.album_name), :remote=>:true, :class=>"ajaxopen", :id =>"expand_link_#{song_album.id}"
      - else
        .toggle-thread
          %a{:href => "javascript:void(0);", :onclick => "$('#song_album_#{song_album.id} .album_details').toggle();$(this).html($.trim($(this).text())=='collapse' ? 'expand' : 'collapse');"}collapse
    .album_details
      - if show_all
        - song_album.songs.each do |song|
          = render '/band_song_album/song_item', :song =>song
- if @has_admin_access
  = link_to "", add_songs_to_album_path(@band.name, song_album.album_name ), :remote => true, :class => 'ajaxopen'
  .clear
.clear