- band        = band || @band
- in_newsfeed ||= false
- artist_name = band.name
- unless in_newsfeed
  .song[song]
    .song-title
      = song.title
    .song-controls
      .artist-content-actions
        - if @has_admin_access
          = link_to 'edit', album_song_edit_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen'
          = link_to 'remove', delete_song_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen', :confirm => 'Are you sure?'
        = link_to download_song_path(artist_name, song.id) do
          %div{:class =>"download-icon"}
          download
        = link_to 'javascript:void(0);', {:onclick =>"playSongFromAlbum(#{song_detail(song)});", :remote => true, :class => 'ajaxopen'} do
          %div{:class =>"play-icon"}
          play
        = link_to add_to_playlist_path(song.song_name_without_extension, song.id), {:remote => true, :class => 'ajaxopen'} do
          %div{:class =>"queue-icon"}
          queue
        = link_to song_buzz_path(song), {:remote => true, :class => 'ajaxopen'} do
          %div{:class =>"buzz-icon"}
          buzz
- else
  .song[song]{:style =>'margin-left:2px; height: 50px; '}
    .song-title
      = song.title
    .song-controls
      .artist-content-actions
        - if @has_admin_access
          = link_to 'edit', album_song_edit_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen'
          = link_to 'remove', delete_song_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen', :confirm => 'Are you sure?'
        = link_to download_song_path(artist_name, song.id) do
          %div{:class =>"download-icon"}
          download
        = link_to 'javascript:void(0);', {:onclick =>"playSongFromAlbum(#{song_detail(song)});", :remote => true, :class => 'ajaxopen'} do
          %div{:class =>"play-icon"}
          play
        = link_to add_to_playlist_path(song.song_name_without_extension, song.id), {:remote => true, :class => 'ajaxopen'} do
          %div{:class =>"queue-icon"}
          queue
        = link_to song_buzz_path(song), {:remote => true, :class => 'ajaxopen'} do
          %div{:class =>"buzz-icon"}
          buzz
    .clear