- band        = band || @band
- in_newsfeed ||= false
- artist_name = band.name
- unless in_newsfeed
  .song[song]
    .song-title
      = song.title
    .song-controls
      - if @has_admin_access
        = link_to 'edit', album_song_edit_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen'
        = link_to 'remove', delete_song_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen', :confirm => 'Are you sure?'
      = link_to image_tag('download-icon.png'), download_song_path(artist_name, song.id)
      = link_to image_tag('play-icon.png'), 'javascript:void(0);', :onclick =>"playSongFromAlbum(#{song_detail(song)});"
      = link_to image_tag('queue-icon.png'), add_to_playlist_path(song, song.song_name_without_extension), :remote => true, :class => 'ajaxopen'
      = link_to image_tag('buzz-icon.png'), song_buzz_path(song), :remote => true, :class => 'ajaxopen'
    .clear
- else
  .song[song]{:style =>'margin-left:2px'}
    .song-title
      = song.title
    .song-controls
      - if @has_admin_access
        = link_to 'edit', album_song_edit_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen'
        = link_to 'remove', delete_song_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen', :confirm => 'Are you sure?'
      = link_to image_tag('download-icon.png'), download_song_path(artist_name, song.id)
      = link_to image_tag('play-icon.png'), 'javascript:void(0);', :onclick =>"playSongFromAlbum(#{song_detail(song)});"
      = link_to image_tag('queue-icon.png'), add_to_playlist_path(song, song.song_name_without_extension), :remote => true, :class => 'ajaxopen'
      = link_to image_tag('buzz-icon.png'), song_buzz_path(song), :remote => true, :class => 'ajaxopen'
    .clear