- band        = band || @band
- in_newsfeed ||= false
- artist_name = band.name
.song[song]
  %i
  .title
    = song.title
  .artist-content-actions-sm
    - if @has_admin_access
      .text-actions
        = link_to 'edit', album_song_edit_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen'
        = link_to 'remove', delete_song_path(artist_name, song.id), :remote =>:true, :class =>'ajaxopen', :confirm => 'Are you sure?'
    = link_to download_song_path(artist_name, song.id), {:title => "download"} do
      %div{:class =>"download-sm-icon"}
    = link_to 'javascript:void(0);', {:onclick =>"playSongFromAlbum(#{song_detail(song)});", :remote => true, :title => "play"} do
      %div{:class =>"play-sm-icon"}
    = link_to add_to_playlist_path(song.song_name_without_extension, song.id), {:remote => true, :class => 'ajaxopen', :title => "queue"} do
      %div{:class =>"queue-sm-icon"}
    = link_to song_buzz_path(song), {:remote => true, :class => 'ajaxopen', :title => "buzz"} do
      %div{:class =>"buzz-sm-icon"}