- show_album_songs = capture do
  - @song_album.songs.each do |song|
    = render 'song_item', :song =>song
- add_song_html = capture do
  - if @has_admin_access
    .song
      .song-title
        = link_to "add new song", add_songs_to_album_path(@band.name, @song_album.album_name ), :remote => true, :class => 'ajaxopen', :title =>'add new song'
- hide_album_songs = capture do
  %a{:href => "javascript:void(0);", :onclick => "$('#song_album_#{@song_album.id} .album_details').toggle();$(this).html($.trim($(this).text())=='collapse' ? 'expand' : 'collapse');"}
    collapse
$('#song_album_#{@song_album.id} .album_details').html('#{escape_javascript show_album_songs}');
$('#song_album_#{@song_album.id}').append('#{escape_javascript add_song_html}');
$('#expand_link_#{@song_album.id}').replaceWith('#{escape_javascript hide_album_songs}');
setTimeout('$(document).trigger(\"close.facebox\")',10);