- song_album_songs = capture do
  - @song_album.songs.each do |song|
    .song[song]
      .song-title
        = song.song_file_name
      .song-controls 
        = link_to image_tag('download-icon.png'), download_song_path(song, :song_name => song.song_name_without_extension)
        = link_to image_tag('play-icon.png'), '#'
        = link_to image_tag('queue-icon.png'), add_to_playlist_path(song, :song_name => song.song_name_without_extension), :remote => true, :class => 'ajaxopen'
        = link_to image_tag('buzz-icon.png'), song_buzz_path(song), :remote => true, :class => 'ajaxopen'
      .clear
    .clear 
- hide_show_songs = capture do
  .thread_collapse
    %a{:href => "javascript:void(0);", :onclick => "hide_songs('#song_album_#{@song_album.id}')"}
      collapse
  .thread_expand{:style => "display:none"}
    %a{ :href => "javascript:void(0);", :onclick => "show_songs('#song_album_#{@song_album.id}')"}
      expand

$('#song_album_#{@song_album.id} .additional_info .thread_expand').replaceWith('#{escape_javascript hide_show_songs}');
$('#song_album_#{@song_album.id}').append('#{escape_javascript song_album_songs}');
setTimeout('$(document).trigger(\"close.facebox\")',10)
    
