- song_album = @song_album || song_album
- song_album_html = capture do
  .album[song_album]
    .album_info_wrapper
      .album_teaser_image
        = link_to get_album_cover_image(song_album, 'medium'), band_album_songs_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen"
        - if can_admin?(@band,current_user)
          %br
          = link_to 'Edit', edit_band_song_album_path(:band_name => @band.name, :song_album_name => song_album.album_name ), :remote => true, :class => 'ajaxopen' if @is_admin_of_band
      .album_info
        .album_name
          = link_to "#{song_album.album_name}", band_album_songs_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen"
          %br
          Released
          = song_album.created_at.strftime("%b %d, %Y")
        .album_controls
          = link_to image_tag('play-icon.png'), add_album_to_player_playlist_path(song_album), :remote => true, :class => 'ajaxopen'
          = link_to image_tag('queue-icon.png'), add_album_to_playlist_path(song_album), :remote => true, :class => 'ajaxopen'
          = link_to image_tag('buzz-icon.png'), album_buzz_path(song_album, :album_name => song_album.album_name), :remote => true, :class => 'ajaxopen'
      .clear
    .additional_info
      .song_stats
        .price
          = "$#{song_album.price}"
        = pluralize(song_album.song_count, 'song')
      - if can_admin?(@band,current_user)
        .album_controls{:style=>'float:left;width:50px;margin-left:150px;'}
          = link_to song_album.disabled? ? 'enable' : 'disable', disable_enable_band_song_album_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen", :id =>"public_view_link_#{song_album.id}"        
      .thread_expand
        = link_to "expand", band_album_songs_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen", :id =>"expand_link_#{song_album.id}"
    .clear
  .clear
$('.primary .left').html('#{escape_javascript song_album_html}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('div').removeClass('active');
$('#musicbox .selection-box').addClass('active');   