= render :partial=>"/artist_public/live"
.primary-container
  .primary
    .left
      - if @has_admin_access
        = render 'featured_songs', :featured_songs =>@band.featured_songs
        .content-action-space
          share your music
          = link_to "add album", new_band_song_album_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen add-new", :title =>'add new album'
      .album-list
        - @artist_song_albums.each do |song_album|
          = render 'band_song_album', :song_album =>song_album, :show_all =>@show_all || false
    .right
      = render "/artist_public/right", :current =>'music'