- @is_updated ||= false
- if @is_updated
  != "$('#facebox .content').html('Successfully updated song.');"
  setTimeout('$(document).trigger(\"close.facebox\")',100);
- else
  - song_item = capture do
    %h3
      Edit Song '#{@song.title}'
    %hr/
    = form_for @song, :url =>album_song_update_path(:band_name =>@band.name, :id =>@song.id).to_s, :html => {:multipart => true, :remote => true } do |f|
      %label Song Title:
      = f.text_field :title
      %br
      = f.submit "Save", :disable_with => 'Saving...', :class => 'button blue'
  != "jQuery.facebox('#{escape_javascript song_item}');"
  != "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"
  != "$('#song_album_#{@song.song_album_id} #song_#{@song.id}').replaceWith('#{escape_javascript(render '/band_song_album/song_item', :song => @song)}');"

