- if @status
  - if @song.is_featured?
    $('.featured a.placeholder').first().replaceWith('#{escape_javascript(render 'featured_song', :song =>@song)}');
  - else
    - new_add_button = capture do
      = link_to "feature new song", popup_for_feature_songs_path(:band_name =>@band.name), :remote => :true, :class => "ajaxopen featured-song", :title => 'choose a song to feature'
    $('.featured ##{@song.id}_featured').remove();
    $('.featured').append('#{escape_javascript(new_add_button)}');  
  var songList = [#{list_of_play_items(@featured_songs)}];
  makeFeaturedSongList();  
- else
  $('#facebox .content').html('Error Occurred!#{@msg}');
$.facebox.close();