<% if @status %>
  <% if @song_album.featured? %>
    <% album_html = capture do %>
      <div class="featured_album" style ='float:left;margin-left:5px;margin-right:10px;' id="<%= @song_album.id %>_featured">
        <div class="remove_button" style='float:right;'>
          <%= link_to image_tag('remove.png'), make_song_album_featured_path(:band_name =>@song_album.band.name, :song_album_name =>@song_album.album_name), :remote=>:true, :class=>"ajaxopen" %>
        </div>
        <%= link_to get_album_cover_image(@song_album, 'medium', '50px', '50px'), band_album_songs_path(:band_name =>@band.name, :song_album_name => @song_album.album_name), :remote=>:true, :class=>"ajaxopen" %>
      </div>
    <% end %>    
    $('.featured_albums').append('<%=  escape_javascript(album_html) %>');
    $.facebox.close();
  <% else %>
    <% new_add_button = capture do %>
      <div class="new_featured_album" style='height:40px;width:40px;padding-left:15px;padding-top:13px;margin-top:-10px;border:1px solid blue;float:left;'>
        <%= link_to image_tag('add.png'), "javascript:void(0);",  :onclick =>"open_popup_for_song_albums('#{popup_for_feature_albums_path(:band_name =>@band.name)}');", :remote=>:true, :class=>"ajaxopen" %>
      </div>
    <% end %>
    $('#<%= @song_album.id %>_featured').replaceWith('');
  <% end %>
<% else %>
  $('#facebox .content').html('Error Occurred!#{<%=  @msg %>}');
<% end %>