<p id="notice"><%= notice %></p>
<%= render :partial => "uploader" %>
<div id="uploaded_images"></div>
<h3>Upload a Song/Songs (You can select multiple files as well)</h3> 
<%= form_for @song, :url => {:controller => 'band_song_album', :action => 'create'}, :html => {:multipart => true} do |f| %>
  <%= hidden_filed_tag :band_name, @band.name %>
  Album Name:<p><%=text_field_tag :album_name %></p>
  Choose File to Upload<p><%= f.file_field :song %> </p> 
  <p><%= f.submit "Upload" %></p> 
<% end %>