- popup_content = capture do
  - unless @status
    Sorry, there was an error!
  - else
    %div{:style=>"color:black;border: 2px solid blue;padding:5px;width:90%;"}
      - if @song_albums.empty?
        All song albums are featured!
      - else
        List of Albums
        %hr/
        - for album in @song_albums
          - songs = album.songs.nonfeatured
          %br= album.album_name
          - if songs.blank?
            No song to set as featured in this album
          - else
            - for song in songs
              = link_to song.title, make_song_featured_path(:band_name =>album.band.name, :song_album_name =>album.album_name, :id =>song.id), :remote=>:true, :class=>"ajaxopen", :style=>'color:red;font-size:14px;'
              %br/
          %hr
!= "jQuery.facebox('#{escape_javascript popup_content}');"
!= "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"