.header
  - if @artist_music
    = "#{@artist_music.album_name}"
  - else
    = "#{@song.title}"
= render 'buzzlisting', :buzzes_by_date =>@buzzes_by_dates
.normal-content.mini-content
  = render 'buzz_form'