- hide_thread_link ||= false
- divclass ||=''
-if @band && @is_admin_of_band
 - self_owner = post.band_id == @band.id ? true : false
- else
 - self_owner = post.user == current_user ? true : false
- item_div_class = self_owner ? 'content' : 'content-mentioned'
= div_for post do
 %div{:class=>"#{divclass}"}  
  %div{:class => 'content'}
   .post-header
    .title
     %strong
      -if !post.band.nil?
       = post.band.name
      -elsif self_owner
       = post.user.fname
      -elsif !post.user.nil?
       = post.user.fname
     posted at #{post.created_at.strftime('%H:%M')}
    .actions
     - if self_owner
      = link_to user_post_path(post), :method=> :delete, :class=>'action-delete', :remote=>true do
       %i
       %span delete
     - if @band && !self_owner
      = link_to new_post_reply_path(post, :band_id => @band.id), :class=>'action-reply ajaxopen', :remote=>true do
       %i
       %span reply
     -elsif !self_owner
      = link_to new_post_reply_path(post), :class=>'action-reply ajaxopen', :remote=>true do
       %i
       %span reply      
   .post-body
    = post.msg
  .clear
 - if post.ancestry && !hide_thread_link
  = link_to 'expand conversation', get_post_threads_path(post), :remote => true, :class => 'ajaxload thread-expand toggle-thread', :id =>"expand_link_#{post.id}"