.buzz_header
  - if @song_album
    = "Buzz : #{@song_album.album_name}"
  - else
    = "Buzz : #{@song.title}"
%hr/
= render 'buzzlisting', :buzzes_by_date =>@buzzes_by_dates
.buzz_form
  = render 'buzz_form'

