.header
  - if @artist_photo_album
    = "Buzz : #{@artist_photo_album.name}"
  - else
    = "Buzz : #{@artist_photo.caption}"
= render 'buzzlisting', :buzzes_by_date =>@buzzes_by_dates
.normal-content.mini-content
  = render 'photo_album_buzz_form'
