Hello #{@recipeint.get_name}
- if @action_item.blank?
  #{@actor.get_name} has mentioned you on SoundMelon.
- else
  #{@actor.get_name} has mentioned your artist "#{@action_item.get_name}" on SoundMelon.
\=========================================
#{@content_item.msg}
\=========================================