<div class="rightmenu">
  <ul>
    <li>
     <%#=  link_to "Upload Photos", new_photo_path, :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      <%#=  link_to "Albums", albums_path, :remote=>:true, :class=>"ajaxopen" %>
      <div id="right_albumbox">

      	</div>
    </li>
    <li>
      <%= link_to 'Edit Profile' , user_profile_edit_path, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Edit Payment Info', edit_payment_info_path, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Access Musicians', associated_band_path, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
    <!-- check if user is musician then show this menu-->
    <%= link_to pluralize(@follower_count,'follower'), user_follower_path, :remote => true, :class => 'ajaxopen' %>
    <div class="top_fans">
      <% @follower_users.each do |user| %>
        <%=  link_to get_avatar_small(user), user_profile_path(user.id) %>

      <% end %>
    </div>
    </li>
    <li>
      <%= link_to pluralize(@following_count,'following'), user_following_path, :remote => true, :class => 'ajaxopen' %>
    <div class="top_fans">
      <% @following_users.each do |user| %>
        	<%=  link_to get_avatar_small(user), user_profile_path(user.id) %>

      <% end %>
    </div>

    </li>
  </ul>
</div>

