<div class="rightmenu">
  <div >
    <%= link_to "Following: #{@following_count}", user_following_path, :remote => true, :class => 'ajaxopen' %>
    <div>
      <% @following_users.each do |user| %>
        <%=  link_to get_avatar_small(user), user_profile_path(user.id) %>
      <% end %>
    </div>
  </div> 
  
  <div>
    <%= link_to "Follower: #{@follower_count}", user_follower_path, :remote => true, :class => 'ajaxopen' %>
    <div>
      <% @follower_users.each do |user| %>
        <%=  link_to get_avatar_small(user), user_profile_path(user.id) %>
      <% end %>
    </div>
  </div>
  <div class='clear'></div>
  
  <ul>
    <li>
     <%=  link_to "Upload Photos", new_photo_path, :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      <%=  link_to "Photos", albums_path, :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      <a href="javascript:void(0)">Edit Basic info</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="selected">Edit Basic info</a>
    </li> 
  </ul>
</div>