= render :partial=>"layouts/user_header_bar"
= render :partial=>"profile/user_dash_board"
.midcontent
  .left
    .usercontrols
      .left
        = link_to "Latest", user_home_path, :class=>"iconactive ajaxload", :remote => true
        = link_to "Mentioned", mentioned_path ,:remote => true, :class=>"iconactive ajaxload"
      .right
        .inbox#inbox
          -#foractive use inputactive
          =link_to "Inbox", user_inbox_path, :class=>"inbox iconactive ajaxload", :remote => true
          .inboxnum
            = current_user.received_messages.unread.count
          .clear 
      .clear
      %br
    .leftcontainer
      = render "shared/home_page_posts"
  .rightbar
    = render "users/user_right_box"
  .clear
