= render :partial=>"bricks/user_header_bar"
= render :partial=>"profile/user_dash_board"
.primary
  .left
    = render "user_posts/form"
    = render 'users/post_msg_header'
    = render "shared/home_page_posts"
  .right
    = render "users/user_right_box"
  .clear
