= render :partial=>"layouts/user_header_bar"
= render :partial=>"profile/user_dash_board"
.midcontent
  .left
    .usercontrols
      .left
        =link_to("Updates", user_home_path, :class=>"icon ")
        =link_to("Updates", {} ,:remote => true,:class=>"iconactive")
      .right
        .inbox#inbox
          -#foractive use inputactive
          =link_to("Inbox", user_inbox_path, :class=>"inbox")
          .inboxnum
            = current_user.received_messages.unread.count
          .clear 
      .clear
      %br
    .leftcontainer
      = render "user_posts/form"
      .clear
      .messageicon
        Messages
      -@messages.each do |message|
        = render :partial => "messages/message",:locals => {:message => message}
      .user_posts
        -@user_post_dates.each do |date,user_post|
          .dateicon 
            = date.to_date.strftime("%b %d")
          = render user_post      
          .clear
      -if !@load_more_path.nil?
        .readmore
          =link_to("Read more", @load_more_path ,:remote => true,:class=>"ajaxload")
  .rightbar
    = render "users/user_right_box"
  .clear
