- content_for :tophead do
  #homehead
    %h2
      %a{:href => "#"} SoundMelon
    Musician Registration
.blankbox
  %h3 band info
  here you define some basic things about your band profile
= form_for :user do |f|
  .content-box
    - unless @error_msg.empty?
      .error_messages
        %h2 Invalid Band information
        %ul
          - @error_msg.each do |msg|
            %li= msg
    .registrationform
      .fields
        %label{:for => "name"} Band Name
        = text_field_tag :band_name, nil, :class => 'textfield', :'data-validate' => check_bandname_url
        .bandname_available
      .fields
        %label{:for => "mention_name"} Band Mention Name
        = text_field_tag :band_mention_name, nil, :class => 'textfield'
      .fields
        %label{:for => "email"} Genre
        = text_field_tag :genre, nil, :class => 'textfield'
      .clear
  .blankbox
    %h3 your information
    since SoundMelon is a social site, you need to be user to admin band profile
    %br/
    %br/
    %span.green
      already a user?
      %a{:href => "#"} click here.
  .content-box
    .registrationform
      = render 'form_fields'

:javascript
  $(document).ready(function() {
    $("#genre").tokenInput(
      [
      #{genre_atuofill}
      ],
      {
        theme: "facebook"
      }
    );
  });