- show_all ||=false
.artist-content[band_tour]
  .top
    .cover
      %h2
        Show Date:
        = band_tour.tour_date.strftime("%b %d, %Y")
    .artist-content-actions
      = link_to band_tour_buzz_path(@band.name, band_tour.id), {:remote => true, :class => 'ajaxopen'} do
        .buzz-icon
  .bottom
    - if @has_admin_access
      .controls
        = link_to "edit", edit_band_tour_path(:band_name =>@band.name, :band_tour_id => band_tour.id), :remote=>:true, :class=>"ajaxopen"
        = link_to "remove", delete_band_tour_path(:band_name =>@band.name, :band_tour_id => band_tour.id), :remote=>:true, :class=>"ajaxopen"
    .toggle
      .toggle-thread
        - unless show_all
          = link_to "expand", band_tour_detail_path(:band_name =>@band.name, :band_tour_id => band_tour.id), :remote=>:true, :class=>"ajaxopen", :id =>"expand_link_#{band_tour.id}"
        - else
          %a{:href => "javascript:void(0);", :onclick => "$('div#band_tour_#{@band_tour.id} .tour_details').toggle();$(this).html($.trim($(this).text())=='collapse' ? 'expand' : 'collapse');"}collapse
    .tour_details
      - if show_all
        %hr/
        Venue:
        = @band_tour.venue
        %br/
        Country:
        = @band_tour.country
        %br/
        Ticket:
        = @band_tour.ticket
  .clear
.clear