- actor = current_actor
- is_current_artist = actor.instance_of?(Band) && (actor.id == artist.id)
.item
  .avatar.avatar-medium
    = link_to get_band_logo_medium(artist), show_band_path(artist.name), :class =>'ajaxopen backable', :remote =>:true
  .content
    %h4
      %strong= link_to artist.name, show_band_path(artist.name), :class =>'ajaxopen backable', :remote =>:true
      = pluralize(artist.songs_count, 'songs')
      online and 
      = pluralize(artist.followers_count, 'fan')
  .actions
    - if is_current_artist
      currently administrating
    - else
      = link_to "access", change_login_path(artist.name), :class =>'ajaxopen backable', :remote =>:true