- actor = current_actor
- is_current_artist = actor == artist.id
.item
  .avatar
    = link_to get_artist_avatar(artist), show_artist_path(artist.name), :class =>'ajaxopen backable', :remote => :true
  .content
    %h4
      %strong= link_to artist.name, show_artist_path(artist.name), :class =>'ajaxopen backable', :remote => :true
      = pluralize(artist.followers_count, 'fan')
      with 
      = pluralize(artist.songs_count, 'song')
      uploaded
  .actions
    - if is_current_artist
      currently administrating
    - else
      = link_to "access", change_login_path(artist.name), :class =>'ajaxopen', :remote =>:true