- artist_admin ||= false
- if artist_admin
  = link_to "#{current_user.fname} #{current_user.lname}", fan_home_path, :class => 'user-info backable', :remote =>true
  administrating
  = link_to @band.name, show_band_path(:band_name => @band.name), :class => 'user-info backable ajaxopen', :remote =>true
  = link_to 'Switch', 'javascript:void(0);',:id =>'switch', :class =>'button1 backable ajaxopen', :remote =>true
  .switch-lists
    = link_to 'Switch back to yourself', fan_home_path, :class =>'button1 backable ajaxopen', :remote =>true
    - @other_bands.each do |band|
      = link_to "Access #{band.name}", manage_band_path(:band_name => band.name), :class =>'ajaxopen backable', :remote =>true
- else
  = WELCOME_MSG
  = link_to "#{current_user.fname} #{current_user.lname}", fan_home_path, :class => 'user-info backable', :remote =>true
= link_to "logout", logout_path, :class =>'button2'

- if artist_admin
  :javascript
    $('#switch').hover(function(a){$('.switch-lists').show().focus();});
    $('.switch-lists').mouseout(function(a){$('.switch-lists').hide();});
