.items
  #user-post
    .selection-box active
      = link_to 'posts of this user', fan_profile_path(@user),:remote=>:true,:class=>"ajaxopen"
  #follow-unfollow
    .selection-box
      - if current_user.following?(@user)
          = link_to 'unfollow this user', unfollow_user_path(@user, :others => 1), :remote => true, :class => 'ajaxopen'
      - else
          = link_to 'follow this user', follow_user_path(@user), :remote => true, :class => 'ajaxopen'
  #msg-user
    .selection-box
      = link_to '> message this user', new_message_path(:id =>@user.id),:remote=>:true,:class=>"ajaxopen"
  .box-wrapper#artistbox
    .selection-box
      following
      %span.artist-count
        = pluralize(@following_artist_count, 'artist')
    .band-box-content
      %div
      - @following_artists.each do |band|
        .avatar
          =link_to get_band_logo_small(band), show_band_path(:band_name => band.name)
      .clear
    .clear
  .box-wrapper#followingbox
    .selection-box
      following
      %span.artist-count
        = pluralize(@following_count,'fan')
    .band-box-content
      %div
      - @following_users.each do |fan_following|
        .avatar
          =link_to get_avatar_small(fan_following), fan_profile_path(fan_following)
      .clear
    .clear
  .box-wrapper#followerbox
    .selection-box
      %span.artist-count
        = pluralize(@follower_count,'follower')
    .band-box-content
      %div
      - @follower_users.each do |fan_follower|
        .avatar
          = link_to get_avatar_small(fan_follower), fan_profile_path(fan_follower)
      .clear
    .clear