= form_for @artist, :url => action_url, :html => {:multipart => true, :class => 'artist-form' } do |f|
  - if @artist.errors.any?
    #error_explanation.popup-error
      %h2
        = pluralize(@artist.errors.count, "error")
        occurred
      %ul
        - @artist.errors.full_messages.each do |msg|
          %li
            = msg
  = render "/artist/setup_#{@artist.current_step.first}", :f =>f
  .popup-buttons
    = f.submit "go back", :name => "back_button", :class => "splash-highlight-button" unless @artist.first_step?
    = f.submit "continue", :class => "splash-highlight-button"
  
:javascript
  $(document).ready(function() {    
    $("#artist_genre_tokens").tokenInput(
      [
      #{genre_atuofill_artist}
      ],
      {
        theme: "",
        prePopulate:
        []
      }
    );
  });