= artist_form = capture do 
  - if @artist.errors.any? 
    #error_explanation
      %h2
        = pluralize(@artist.errors.count, "error")
        prohibited this artist profile from being saved:
      %ul
        - @artist.errors.full_messages.each do |msg|
          %li
            = msg
  = form_for @artist, :url => action_url, :html => {:multipart => true, :remote => true, :class => 'artist-form' } do |f|
    = render :partial => '/artist/form_fields', :locals =>{:f => f}
:javascript
  $(document).ready(function() {    
    $("#artist_genre_tokens").tokenInput(
      [
      #{genre_atuofill_artist}
      ],
      {
        theme: "",
        prePopulate:
        [
        #{genre_prepopullate @artist.genres}
        ]
      }
    );
  });