.fields
  %label{:for => "name"} artist name
  = f.text_field :name, :class => 'textfield'
.fields
  %label{:for => "name"} artist mention name
  = f.text_field :mention_name, :class => 'textfield'
.fields
  %label{:for => "name"} show artist members
  = f.check_box :is_member_public, :class => 'textfield'
.fields
  %label{:for => "name"} Location
  = f.text_field :location, :class => 'textfield'
.fields
  %label{:for => "name"} Genre(s)
  = f.text_field :genre_tokens, :class => 'textfield'
.fields
  %label{:for => "name"} Biography
  = f.text_area :bio, :rows => 5, :cols => 50, :class => 'text-area-field'
.fields
  %label{:for => "name"} Official Website
  = f.text_field :website, :class => 'textfield'
.fields
  %label{:for => "name"} Facebook Page
  = f.text_field :facebook_page, :class => 'textfield'
.fields
  %label{:for => "name"} Twitter Page
  = f.text_field :twitter_page, :class => 'textfield'
.fields
  %label{:for => "name"} Upload New Artist Logo:
  = f.file_field :logo, :class => 'file-field'
.fields
  = f.submit 'Update', :class => 'button right'
.clear
