- is_new = @artist.new_record?
- artist_user_notification_status = @artist_user ? @artist_user.notification_on : false
.content-box#artist-edit
  .area.form.artist-basic
    #update-msg
    .details
      - if is_new
        %h3
          your
          %span name
        %h3
          your
          %span username
      - else
        %h3
          your name is
          %span{:id =>'artistname'}= @artist.name
        %h3
          permanent username is
          %span= @artist.mention_name
        - unless @user.is_external?
          %h5 click the lock to enable changes
    .content{:id=>'basic-info'}
      - if is_new
        .field
          %label{:for=>"name"}
            name
          = f.text_field :name
        .field
          %label{:for=>"username"}
            username
          = f.text_field :mention_name
      - else
        .field
          %label{:for=>"name"}
            name
          = f.text_field :name
        - unless @user.is_external?
          .lock-toggle
        = f.submit 'changes are swell', :class => 'button'
.content-box#artist-edit
  .area.form.toggle-replace
    .details
      - if is_new
        %h3
          your
          %span location, genres, bio,
          %span artist visibility
          and
          %span external links
      - else
        %h3
          change your
          %span location, genres, bio,
          %span member visibility
          and
          %span external links      
    .content
      .field
        %label{:for=>"location"}
          location
        = f.text_field :location, :class => 'textfield long'
      .field
        %label{:for=>"genres"}
          genre(s)
        = f.text_field :genre_tokens, :class => 'textfield long'
      .field
        %label{:for=>"bio"}
          bio
        = f.text_area :bio, :rows => 5, :cols => 50, :class => 'text-area-field long'
      .field.members-visibility
        %label{:for=>"membersVisiblity"}
          show members
        = f.check_box :is_member_public, :class => 'textfield long'
      .field
        %label{:for=>"website"}
          website
        = f.text_field :website, :class => 'textfield long'
      .field
        %label{:for=>"facebook"}
          facebook
        = f.text_field :facebook_page, :class => 'textfield long'
      .field
        %label{:for=>"twitter"}
          twitter
        = f.text_field :twitter_page, :class => 'textfield long'
      - if is_new
        = f.submit 'create profile', :class => 'button'
      - else
        = f.submit 'save to memory', :class => 'button'
- unless is_new
  .content-box#artist-edit
    .area.form.toggle-sole
      #notification-setting-msg.msg
      .details
        %h3
          %span email notifications
      .content
        %form
          .field.notification-toggle
            %label
              toggle
            = check_box_tag :notification, artist_user_notification_status, artist_user_notification_status, :onchange =>"$.ajax('#{update_artist_notification_setting_url(@artist.id)}');"
- unless is_new
  :javascript
    if(#{!@user.is_external?})
      $('#basic-info input').attr('disabled', true).addClass('input-disabled');    
    $('#basic-info .lock-toggle').live('click',function(){
      $.ajax('#{ask_and_check_user_password_path}',{remote:true});
    });
:javascript
  $('input[type=checkbox]').checkbox();
  $('.left input[type=checkbox]').checkbox({
    cls:'control-toggle',
    empty: '/assets/empty.png'
  });