= form_for @artist, :url => action_url, :html => {:multipart => true, :class => 'artist-form' } do |f|
  - if @artist.errors.any?
    #error_explanation
      %h2
        = pluralize(@artist.errors.count, "error")
        occurred
      %ul
        - @artist.errors.full_messages.each do |msg|
          %li
            = msg
  = render "/artist/form_#{@artist.current_step.first}", :f =>f
  = f.submit "Back", :name => "back_button" unless @artist.first_step?
  = f.submit "Continue"
  
:javascript
  $(document).ready(function() {    
    $("#artist_genre_tokens").tokenInput(
      [
      #{genre_atuofill_artist}
      ],
      {
        theme: "",
        prePopulate:
        []
      }
    );
  });