- content_for :tophead do  
  .top-bar
    = render :partial=>"bricks/logo"
    .session
      = link_to "#{current_user.fname} #{current_user.lname}", fan_home_path, :class => 'user-info'
      administrating
      =link_to @band.name, show_band_path(:band_name => @band.name), :class => 'user-info'
      = link_to 'Switch', 'javascript:void(0);',:id =>'switch', :class =>'button1'
      .switch-lists
        = link_to 'Switch back to yourself', fan_home_path, :class =>'button1'
        - @other_bands.each do |band|
          = link_to "Access #{band.name}", manage_band_path(:band_name => band.name)
      = link_to "logout", logout_path, :class =>'button2'
  .middle-bar
    .mplayerbar
      = render :partial =>'/layouts/player'
    .notifications
      - unread_mentioned_count = current_user.unread_mentioned_post_count
      - unread_post_replies_count = current_user.unread_post_replies_count
      - unread_messages_count = current_user.received_messages.unread.count
      %div
        = link_to unread_post_replies_count, replies_path
      %div
        = link_to unread_mentioned_count, mentioned_path
      %div
        = link_to unread_messages_count, user_inbox_path
  .clear
  .bottom-bar
    = render :partial=>"bricks/header_menu_items"
    = render :partial=>"bricks/search"
:javascript
  $('#switch').hover(function(a){$('.switch-lists').show().focus();});
  $('.switch-lists').mouseout(function(a){$('.switch-lists').hide();});
