.live
  .profile-image{:title =>"#{@artist.name}"}
    = get_artist_profile_image(@artist)
  .links
    .top
      .header
        .name
          %h2.full-name= @artist.name
          %h2= "@#{@artist.mention_name}"
        .actions
          = link_to show_artist_path(@artist), {:remote =>true, :id => "view-public-profile", :class =>'text-action ajaxopen backable'} do
            .icon-bg
            %i
            view public profile
          = link_to '', "http://facebook.com/#{@artist.facebook_page}", :target =>'_blank', :title =>"visit our Facebook page", :class =>"icon-action facebook-icon" unless @artist.facebook_page.blank?
          = link_to '', "http://twitter.com/#{@artist.twitter_page}", :target =>'_blank', :title =>"visit our Twitter", :class =>"icon-action twitter-icon" unless @artist.twitter_page.blank?
      .sub-head
        %h3 
          = "#{@artist.genre}"
      .description
        = "#{pluralize(@artist.mention_count, 'mention')} in the last #{MENTION_COUNT_FOR_LAST_N_HOURS} hours"
        %br
        = "#{pluralize(@artist.artist_musics_count, 'song')} currently uploaded"
    .bottom
      = render "bricks/random_artists", :current => @artist