.live
  .profile-image
    = get_band_logo_large(@band)
  .links
    .top
      .header
        .name
          %h2
            = @band.name
        .actions
          = link_to 'view public profile' , show_band_path(:band_name => @band.name)
      .sub-head
        = "genre #{@band.genre}"
      .description
        = "#{pluralize(@band.mention_count, 'mentions')} in last #{MENTION_COUNT_FOR_LAST_N_HOURS} hrs"
        %br
        = "#{@band.song_albums_count} songs in store played 2000 times"
        %br
        = "#{@band.songs_count} albums have been brought 100 times"
    .bottom
      .left
      .right