.live
  .profile-image{:title =>"#{@band.name}"}
    = get_band_logo_large(@band)
  .links
    .top
      .header
        .name
          %h2
            = @band.name
        .actions
          = link_to 'view public profile', show_band_path(:band_name => @band.name), :remote =>true, :class =>'text-action ajaxopen backable'
          = link_to '', @band.facebook_page, :target =>'_blank', :title =>"Visit our Facebook page", :class =>"icon-action facebook-icon" unless @band.facebook_page.blank?
          = link_to '', @band.twitter_page, :target =>'_blank', :title =>"Visit our Twitter", :class =>"icon-action twitter-icon" unless @band.twitter_page.blank?
      .sub-head
        %h3 
          = "#{@band.genre}"
      .description
        = "#{pluralize(@band.mention_count, 'mentions')} in last #{MENTION_COUNT_FOR_LAST_N_HOURS} hrs"
        %br
        = "#{@band.song_albums_count} songs in store played 2000 times"
        %br
        = "#{@band.songs_count} albums have been brought 100 times"
    .bottom
      .left.left-default
      .right.right-default