- is_own_wall     = @actor == @artist
- is_actor_fan    = @actor ? @actor.is_fan? : false
- artist_admin_ids= ArtistUser.for_artist_id(@artist.id).map { |u| u.user_id}
- is_artist_admin = @actor ? (artist_admin_ids.include? current_user.id) : false
.live
  .profile-image{:title =>"#{@artist.name}"}
    = get_artist_profile_image(@artist)
  .links
    .top
      = render "bricks/random_artists", :current => @artist
    .bottom
      .name
        %h1.full-name= @artist.name
        %h1= "@#{@artist.mention_name}"
      .sub-head
        %span.genre
          = "#{@artist.genre}"
        from
        %span.location
          = "#{@artist.location}"
      .description
      .overlay
        .actions
          - if @actor
            - unless is_own_wall
              - if is_artist_admin
                = link_to change_login_path(@artist), {:class =>'ajaxopen text-action', :remote => :true, :id => "administer"} do
                  .icon-bg
                  %i
                  admin
              - if is_actor_fan
                - if @actor.following?(@artist)
                  = link_to unfollow_artist_path(@artist, 1), {:id =>'unfollow-artist', :remote => true, :class => 'ajaxopen text-action'} do
                    .icon-bg
                    %i
                    unfollow
                - else
                  = link_to follow_artist_path(@artist, 1), {:id =>'follow-artist', :remote => true, :class => 'ajaxopen text-action'} do
                    .icon-bg
                    %i
                    follow
              - else
                #connect_section
                  = render 'bricks/artist_connection', :actor =>@actor, :artist => @artist
            - else
              - if @from_home
                = link_to show_artist_path(@artist), {:remote =>true, :id => "view-public-profile", :class =>'text-action ajaxopen backable'} do
                  .icon-bg
                  %i
                  view public profile
          = link_to '', "http://facebook.com/#{@artist.facebook_page}", :target =>'_blank', :title =>"Visit our Facebook page", :class =>"icon-action facebook-icon" unless @artist.facebook_page.blank?
          = link_to '', "http://twitter.com/#{@artist.twitter_page}", :target =>'_blank', :title =>"Visit our Twitter", :class =>"icon-action twitter-icon" unless @artist.twitter_page.blank?