- tabs      = [:latest_post, :music, :photo, :tour, :member, :fan, :manage_profile, :invite_bandmate, :song]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.items
  = link_to 'news feed & messages', 
            manage_band_path(:band_name => @band.name),
            :id                 => 'feed-msg',
            :remote             => true,
            :class              => 0 == current ? "iconactive selection-box button-fill-artist" : "iconactive selection-box"
  =# render '/bricks/rb_music_featured',
            :songs              => @featured_songs,
            :is_admin           => true,
            :band               => @band,
            :selected           => 8 == current
  = render '/bricks/rb_music',                        
            :band               => @band,            
            :song_album_count   => @song_album_count,
            :song_albums        => @song_albums,
            :is_admin           => true,
            :band               => @band,
            :selected           => 1 == current
  = render '/bricks/rb_photo',  
            :photo_album_count  => @photo_album_count,
            :photo_albums       => @photo_albums,
            :is_admin           => true,
            :band               => @band,
            :selected           => 2 == current
  = render '/bricks/rb_tour',   
            :tour_count         => @tour_count,
            :band_tours         => @band_tours,
            :is_admin           => true,
            :band               => @band,
            :selected           => 3 == current
  = render '/bricks/rb_member',
            :artist_count       => @band_artist_count,
            :band_artists       => @band_artists,
            :band               => @band,
            :is_admin           => true,
            :selected           => 4 == current
  = render '/bricks/rb_fan',
            :fan_count          => @band_fan_count,
            :band_fans          => @band_fans,
            :band               => @band,
            :selected           => 5 == current
  .divider
  = link_to 'manage your profile' ,
            manage_profile_path,
            :remote             => true,
            :id                 => 'manage_profile',
            :class              => 6 == current ?  'ajaxopen selection-box backable button-fill-artist' : 'ajaxopen selection-box backable'
  = link_to 'manage bandmates' , 
            bandmates_invitation_path(:band_name => @band.name),
            :remote             => true,
            :id                 => 'invite_artist',
            :class              => 7 == current ?  'ajaxopen selection-box backable button-fill-artist' : 'ajaxopen selection-box backable'
.fader