- tabs      = [:latest_post, :music, :photo, :show, :member, :fan, :manage_profile, :invite_artistmate, :song, :connection]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.items
  - if @is_public
    = link_to 'latest posts', show_artist_path(@artist),
            :id                 =>'latest-posts',
            :remote             => 'true',
            :class              => 0 == current ? 'ajaxopen backable iconactive selection-box active button-fill-artist' : 'ajaxopen backable iconactive selection-box'
  - else
    = link_to 'news feed & messages',
            mentioned_path,
            :id                 => 'feed-msg',
            :remote             => true,
            :class              => 0 == current ? "iconactive selection-box active button-fill-artist" : "iconactive selection-box"
  = render '/bricks/rb_music_featured',
            :songs              => @featured_songs,
            :artist_music_count => @artist_music_count,            
            :is_admin           => true,
            :artist             => @artist,
            :selected           => 1 == current
  =# render '/bricks/rb_music',            
            :artist_music_count => @artist_music_count,
            :artist_musics      => @artist_musics,
            :is_admin           => true,
            :artist             => @artist,
            :selected           => 1 == current
  = render '/bricks/rb_photo',  
            :photo_album_count  => @photo_album_count,
            :photo_albums       => @photo_albums,
            :is_admin           => true,
            :artist             => @artist,
            :selected           => 2 == current
  = render '/bricks/rb_show',
            :show_count         => @show_count,
            :artist_shows       => @artist_shows,
            :is_admin           => true,
            :artist             => @artist,
            :selected           => 3 == current
  = render '/bricks/rb_member',
            :artist_count       => @artist_member_count,
            :artist_members     => @artist_members,
            :artist             => @artist,
            :is_admin           => true,
            :selected           => 4 == current
  = render '/bricks/rb_connections',
            :connection_count   => @artist_connection_count,
            :connected_artists  => @connected_artists,
            :artist             => @artist,
            :selected           => 10 == current
  = render '/bricks/rb_fan',
            :fan_count          => @artist_fan_count,
            :artist_fans        => @artist_fans,
            :artist             => @artist,
            :selected           => 5 == current
  - unless @is_public
    .divider
    = link_to 'manage your profile' ,
              manage_profile_path,
              :remote             => true,
              :id                 => 'manage_profile',
              :class              => 6 == current ?  'ajaxopen selection-box backable active button-fill-artist' : 'ajaxopen selection-box backable'
    =# link_to 'manage bandmates' ,
              bandmates_invitation_path(@artist),
              :remote             => true,
              :id                 => 'invite_artist',
              :class              => 7 == current ?  'ajaxopen selection-box backable active button-fill-artist' : 'ajaxopen selection-box backable'
    = link_to 'remove your profile',
              remove_my_profile_path,
              :remote             => true,
              :class              => 'ajaxopen selection-text',
              :confirm            => "This will remove your artist profile and delete all the data. And this action cannot be undone. Are you sure to continue?"
.fader