- tabs      = [:latest_post, :reply, :mention, :message]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
- if @band 
  .social-menu
    = link_to "latest",
              manage_band_path(:band_name => @band.name),
              :remote   => true,
              :class    => 0 == current ? "backable iconactive highlight ajaxload acive button-fill-artist" : "backable iconactive highlight ajaxload", :id => 'latest'    
    = link_to @unread_post_replies_count > 0 ? "replies #{@unread_post_replies_count} new" : 'replies',
              replies_path ,
              :remote   => true,
              :class    => 1 == current ? "backable iconactive ajaxload highlight button-fill-artist" : "backable iconactive ajaxload",
              :id       => 'replies'
    = link_to @unread_mentioned_count > 0 ? "mentions #{@unread_mentioned_count} new" : 'mentions',
              mentioned_path ,
              :remote   => true,
              :class    => 2 == current ? "backable iconactive ajaxload highlight button-fill-artist" : "backable iconactive ajaxload",
              :id => 'mentions'
    = link_to @unread_messages_count > 0 ? "messages #{@unread_messages_count} new" : "messages",
              user_inbox_path,
              :remote   => true,
              :class    => 3 == current ? "backable inbox iconactive ajaxload highlight button-fill-artist" : "backable inbox iconactive ajaxload",              
              :id       => 'messages'
