- tabs        = [:mention, :reply, :message]
- current     = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
- artist      = artist || @artist
- if artist 
  .social-header
    = link_to mentioned_path,
        {:remote => true, 
         :class=> 0 == current ? "backable iconactive ajaxload highlight active button-fill-artist" : "backable iconactive ajaxload",
         :id => 'mentions' } do
      - if @unread_mentioned_count > 0
        your posts & 
        %b
          = pluralize(@unread_mentioned_count,'new mention')
      - else
        your posts & mentions
    = link_to replies_path,
        {:remote => true, 
         :class=> 1 == current ? "backable iconactive ajaxload highlight active button-fill-artist" : "backable iconactive ajaxload",
         :id => 'replies' } do
      - if @unread_post_replies_count > 0        
        %b
          = pluralize(@unread_post_replies_count, 'new reply')
      - else
        replies
    = link_to user_inbox_path,
        {:remote => true, 
         :class=> 2 == current ? "backable inbox iconactive ajaxload highlight active button-fill-artist" : "backable inbox iconactive ajaxload",
         :id => 'messages' } do
      - if @unread_messages_count > 0        
        %b
          = pluralize(@unread_messages_count, 'new message')
      - else
        messages