- if @status
  - html_content = capture do
    %span New Artist profile #{@artist.name} has been created successfully.
  $('.popup .left').html('#{escape_javascript(html_content)}');
  setTimeout("self.close();",5000);
- else
  - html_content = capture do
    %h3 Add some introductory text about the Artist.
    = form_for @artist, :url => add_artist_info_path(@artist.id), :html => {:multipart => true, :remote =>:true, :class => 'artist-form' } do |f|
      .content-box
        .area.form
          .details
            %span about your artist
          .content{:id=>'basic-info'}
            .field
              = f.text_area :bio
          .content{:id=>'basic-info'}
            .field
              = f.submit "submit"
  $('.popup .left').html('#{escape_javascript(html_content)}');