$('.top-bar .session').html('#{escape_javascript(render '/artist/artist_admin_header', :artist_admin =>true)}');
$('.live').replaceWith('#{escape_javascript(render 'live')}');
$('.primary .left').html('#{escape_javascript(render 'user_posts/status_input')}');
$('.primary .left').append('#{escape_javascript(render 'social_header')}');
$('.primary .left').append('#{escape_javascript(render '/bricks/artist_posts')}');
$('.primary .right').html('#{escape_javascript(render 'right')}');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('.selection-box').removeClass('active').removeClass('button-fill-artist');
$('#feed-msg').addClass('active').addClass('button-fill-artist');
$('.left a').removeClass('active').removeClass('button-fill-artist');
$('#latest').addClass('active').addClass('button-fill-artist');
set_right_height('900px');