= render :partial=>"/artist/live"
.primary-container
  .primary
    .left
      = render '/user_posts/status_artist'
      = render '/artist/social_header', :default_active =>true
      = render "/bricks/artist_posts"
    .right
      = render "/artist/right"