.primary-container
  .primary
    .left
      %h3 Enter the name of the artist here which influenced you.
      = form_for @artist, :url => artist_setup_path(@artist.id), :html => {:multipart => true, :remote =>:true, :class => 'artist-form' } do |f|
        - if @artist.errors.any?
          #error_explanation
            %h2
              = pluralize(@artist.errors.count, "error")
              occurred
            %ul
              - @artist.errors.full_messages.each do |msg|
                %li
                  = msg
        .content-box
          .area.form
            .details
              Influencing Artist
            .content
              .field
                %label{:for=>"name"}
                  artist name
                = f.text_field :influencer_list
              - unless @artist_list.empty?
                %h3 Or, choose from the list
                - @artist_list.each do |artist|
                  = get_artist_avatar(artist)
                  = check_box_tag 'user_artists[]', artist.id
                  = artist.name
                  %br/
                %br
              .field
                = f.submit "Continue"