- show_all        ||=false
.artist-content[artist_album]
  .top
    .cover
      = link_to get_artist_photo_album_teaser_photo(artist_album, :medium, '60px;', '60px;'), artist_album_photos_path(:artist_name =>@artist.name, :artist_album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen"
    .info
      = link_to artist_album_photos_path(:artist_name =>@artist.name, :artist_album_name => artist_album.name),{ :remote=>:true, :class=>"ajaxopen"} do
        %h2=artist_album.name
      %h4
        Released
        = artist_album.created_at.strftime("%b %d, %Y")
    .artist-content-actions
      = link_to artist_album_buzz_path(artist_album.id, :album_name => artist_album.name), {:remote => true, :class => 'ajaxopen'} do
        .buzz-icon
        buzz
  .bottom
    .stat{:id =>"photo_stat_#{artist_album.id}"}
      = pluralize(artist_album.photo_count, 'photo')
      - if @has_admin_access
        .controls
          = link_to "add", add_photos_to_album_path(:artist_name => artist_album.artist.name, :artist_album_name => artist_album.name), {:remote=>:true, :class=>"ajaxopen", :title =>"add new photo"}            
          = link_to "edit", edit_album_path(:artist_name =>@artist.name, :artist_album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen", :id =>"edit_link_#{artist_album.id}"        
          = link_to artist_album.disabled? ? 'enable' : 'disable', disable_enable_artist_album_path(:artist_name =>@artist.name, :album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen", :id =>"public_view_link_#{artist_album.id}"        
          = link_to "remove", delete_album_path(:artist_name =>@artist.name, :artist_album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen"        
          =# link_to "like/dislike", like_artist_album_path(:artist_name =>@artist.name, :album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen", :id =>"like_dislike_link_#{artist_album.id}"
    .toggle
      .toggle-thread
        - unless show_all
          = link_to "expand", artist_album_photos_path(:artist_name =>@artist.name, :artist_album_name => artist_album.name), :remote=>:true, :class=>"ajaxopen", :id =>"expand_link_#{artist_album.id}"
        - else
          %a{:href => "javascript:void(0);", :onclick => "$('#artist_album_#{artist_album.id} .album-details').toggle();$(this).html($.trim($(this).text())=='collapse' ? 'expand' : 'collapse');"}collapse
    .album-details
      - if show_all
        .photo_gallery
          - artist_album.artist_photos.each do |photo|
            = render 'photo', :photo => photo, :artist_album =>artist_album
  .clear
.clear