- show_all        ||=false
.artist-content[artist_album]
  .top
    .cover
      = link_to get_artist_photo_album_teaser_photo(artist_album, :header, '60px;', '60px;'), artist_album_photos_path(@artist, artist_album.id), :remote=>:true, :class=>"ajaxopen"
    .info
      - if @has_link_access
        = link_to artist_album_photos_path('home', artist_album.id),{ :remote=>:true, :class=>"ajaxopen"} do
          %h2= artist_album.name
      - else
        = link_to artist_album_photos_path(@artist, artist_album.id),{ :remote=>:true, :class=>"ajaxopen"} do
          %h2= artist_album.name
      %h4
        added
        = artist_album.created_at.strftime("%b %d, %Y")
    .artist-content-actions
      = link_to photo_album_buzz_path(artist_album.name, artist_album.id), {:remote => true, :class => 'ajaxload'} do
        .buzz-icon
        buzz
  .bottom
    .stat{:id =>"photo_stat_#{artist_album.id}"}
      = pluralize(artist_album.photo_count, 'photo')
    - if @has_link_access
      .controls
        = link_to "add", add_photos_to_album_path(artist_album.useritem, artist_album.id), {:remote=>:true, :class=>"ajaxload", :title =>"add new photo"}
        = link_to "edit", edit_album_path(@artist, artist_album.id), :remote=>:true, :class=>"ajaxload", :id =>"edit_link_#{artist_album.id}"
        = link_to artist_album.disabled? ? 'enable' : 'disable', disable_enable_artist_album_path('home', artist_album.id), :remote=>:true, :class=>"ajaxopen", :id =>"public_view_link_#{artist_album.id}"
        = link_to "remove", delete_album_path('home', artist_album.id), :remote=>:true, :class=>"ajaxopen"
        =# link_to "like/dislike", like_artist_album_path(@artist, artist_album.id), :remote=>:true, :class=>"ajaxopen", :id =>"like_dislike_link_#{artist_album.id}"
        - unless show_all
          - if @has_link_access
            = link_to artist_album_photos_path('home', artist_album.id), :remote => :true, :class => "ajaxopen toggle-thread", :id =>"expand_link_#{artist_album.id}" do
              %i
              expand album
        - else
          %a{:href => "javascript:void(0);", :class => "toggle-thread", :onclick => "onToggle($(this));$('#album_#{artist_album.id} .album-details').toggle();"}
            %i
            collapse album
    - else
      .controls
        = link_to artist_album_photos_path(@artist, artist_album.id), :remote => :true, :class => "ajaxopen toggle-thread", :id =>"expand_link_#{artist_album.id}" do
          %i
          expand album
    .album-details
      - if show_all
        .gallery
          - artist_album.photos.each do |photo|
            = render 'photo', :photo => photo, :artist_album => artist_album
  .clear
.clear