- @invitation ||= Invitation.new
- from_page   ||= 0
= form_for @invitation, :remote => true, :id => 'homepage_invitation_form' do |f|
  = hidden_field_tag :from_page, from_page
  = f.label :recipient_email, current_user ? "email" : "email"
  = f.text_field :recipient_email, :class => "base-input-box", :style => "width: 300px;"
  = f.submit 'submit', :class => "base-highlight-button", :style => "padding: 4px 8px"
- if !@invitation.errors.blank?
  .error
    %ul
    - @invitation.errors.full_messages.each do |error_msg|
      %li
        = error_msg