- new_invitation_form = capture do
  .header
    - if @has_message
      login or request an invite so one day you can!    
  .normal-content.mini-content
    %h3
      request invitation
    = render :partial =>'/invitations/form'
  .error
- if @from_page
  $('#invitation_form_homepage').html('#{escape_javascript(render '/invitations/form', :from_page => 1)}');
- else
  != "jQuery.facebox('#{escape_javascript(new_invitation_form)}');"
  != "$('.ajaxopen').bind('ajax:before', function() {jQuery.facebox($('#globalloading').html());$(':submit').attr('disabled','disabled');});"