= image_tag  @photo.image.url(:thumb)
= form_for @photo, :url => update_venue_photo_path(@venue, @album.id, @photo.id), :remote => true do |f|
  .field>
    = f.label :caption
    %br
    = f.text_field :caption
  .actions
    = f.submit 'update', :disable_with => 'updating...'