%p{:id=>'notice'}
  = notice
  - unless @album.errors.blank?
    %ul
      - @album.errors.full_messages.each do |error_msg|
        %li= error_msg
#artist_tours
  %h3
  = "Update venue album"
  %hr/
  = form_for @album, :url => {:controller => 'venue_photo', :action => 'update'}, :html => {:remote =>true } do |f|
    = hidden_field_tag :venue_name, @venue.mention_name
    = hidden_field_tag :album_name, @album.name
    .field
      = f.label :name
      = f.text_field :name
    %p= f.submit "Update"