- all_photos = capture do
  - @album.photos.each do |photo|
    = render 'photo', :photo => photo, :album =>@album
- left_list_cover_image = capture do
  = link_to image_tag(@photo.image.url(:medium), :height => '80px', :width=>'80px'), venue_album_photos_path(@venue, @album.name), :remote=>:true, :class=>"ajaxopen"
- album_new_cover_image = capture do
  = link_to get_photo_album_teaser_photo(@album), venue_album_path(@venue, @album.name), :remote=>:true, :class=>"ajaxopen backable"
if($('.left #photo_album_box #album_#{@album.id}').length>0){$('.left #photo_album_box #album_#{@album.id} .cover').html('#{escape_javascript left_list_cover_image}');}
if($('.right #photobox #album_#{@album.id}').length>0){$('.right #photobox #album_#{@album.id} .album-cover-image').html('#{escape_javascript album_new_cover_image}');}
$('#album_#{@album.id} .gallery').html('#{escape_javascript all_photos}');
closeFacebox(1);