- upload_form = capture do
  .header
    - unless @album.new_record?
      add to '#{@album.name}'
    - else
      create an album
  .normal-content.mini-content
    = render :partial => "/artist_photo/uploader"
    = form_for @photo, :url => {:controller => 'venue_photo', :action => 'create'}, :html => {:multipart => true} do |f|
      = hidden_field_tag :venue_name, @venue.mention_name
      .field
        - unless @album.new_record?
          = hidden_field_tag :album_name, @album.name
        - else
          = f.label "title"
          = text_field_tag :album_name, nil, :class => 'overlay-text-field'        
      .field-extended-label
        .add-songs
          = f.label "upload"
          = f.file_field :image
          - f.submit "Upload"
    #uploaded-images 
    %a.base-button{:href => "javascript:$('#photo_image').uploadifyUpload();", :id =>'acceptbttn', :style =>'display:none;'}
      accept
    %a.generic-button{:href => "javascript:void(0);", :onclick =>"closeFacebox();" }
      close
  #notice.error
    = notice
faceboxContent('#{escape_javascript upload_form}');