<div class="rightmenu">
  
  <div id='user-post'>
    <div class='band-box-header active'>
      <%= link_to 'posts of this user', user_profile_path(@user),:remote=>:true,:class=>"ajaxopen"  %>
    </div>
  </div>
  
  <div id='follow-unfollow'>
    <div class='band-box-header'>
      <%  if current_user.following?(@user) %>
        <%= link_to 'unfollow this user', unfollow_user_path(@user, :others => 1), :remote => true, :class => 'ajaxopen'  %>
      <% else %>
        <%= link_to 'follow this user', follow_user_path(@user), :remote => true, :class => 'ajaxopen'  %>
      <% end %>
    </div>
  </div>
  
  <div id='msg-user'>
    <div class='band-box-header'>
      <%= link_to '> message this user', new_message_path(:id =>@user.id),:remote=>:true,:class=>"ajaxopen"  %>
    </div>
  </div>
  
  <div id='artistbox' class='box-wrapper'>
    <div class='band-box-header'>
      following 
      <span class='artist-count'>
        <%= pluralize(@following_artist_count, 'artist')  %>
      </span> 
      <br />
      <%=  link_to "see all", user_following_artists_path(@user), :remote=>:true, :class=>"small-font ajaxopen" %>
    </div>
    <div class="band-box-content">
      <div>
        <% @following_artists.each do |band| %>
          <div class='artist-avatar'>
            <%=link_to get_band_logo_small(band), show_band_path(:band_name => band.name) %>
          </div>
        <% end %>
      </div>
      <div class='clear'></div>
    </div>
  </div>
  <div class='clear'></div>
  
  <div id='followingbox' class='box-wrapper'>
    <div class='band-box-header'>
      following 
      <span class='artist-count'>
        <%= pluralize(@following_count,'fan')  %>
      </span> 
      <br />
      <%=  link_to "see all", user_following_path(@user), :remote=>:true, :class=>"small-font ajaxopen" %>
    </div>
    <div class="band-box-content">
      <div>
        <% @following_users.each do |fan_following| %>
          <div class='artist-avatar'>
            <%=link_to get_avatar_small(fan_following), user_profile_path(fan_following) %>
          </div>
        <% end %>
      </div>
      <div class='clear'></div>
    </div>
  </div>
  <div class='clear'></div>

  <div id='followerbox' class='box-wrapper'>
    <div class='band-box-header'>
      <span class='artist-count'>
        <%= pluralize(@follower_count,'follower')  %>
      </span> 
      <br />
      <%=  link_to "see all", user_follower_path(@user), :remote=>:true, :class=>"small-font ajaxopen" %>
    </div>
    <div class="band-box-content">
      <div>
        <% @follower_users.each do |fan_follower| %>
          <div class='artist-avatar'>
            <%=link_to get_avatar_small(fan_follower), user_profile_path(fan_follower) %>
          </div>
        <% end %>
      </div>
      <div class='clear'></div>
    </div>
  </div>
  <div class='clear'></div>
</div>
<%#*.rightbar%>
  <%#*.rightmenu%>
    %u#l
      %l#i
        <%#*=link_to "> Message #{@band.name}", band_new_message_path(:band_name => @band.name, :id => @band.id), :remote => :true, :class => "ajaxopen"%> 
      %l#i
        <%#*- unless current_user.following?(@band)%>
          <%#*=  link_to "Become Fan of this Band", follow_band_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen"%>
      %l#i
        <%#*= link_to 'Band Members', band_members_path(:band_name => @band.name), :remote => true, :class => 'ajaxopen'%>
<%#*.clear%>



.rightbar
  .rightmenu
    #user-post
      .band-box-header active 
    #follow-unfollow
      .band-box-header
    #msg-user
      .band-box-header
        = link_to '> message this musician',{},:remote=>:true,:class=>"ajaxopen"
    .box-wrapper#artistbox
      .band-box-header
        following 
        %span{:class => 'artist-count'}
          count
        %br
        =  link_to "see all", {}, :remote=>:true, :class=>"small-font ajaxopen"
      .band-box-content
      .clear
    .clear