= render :partial=>"bricks/musician_header_bar"
= render :partial=>"layouts/musician_dash_board"
.midcontent
  .left 
    .leftcontainer
      = render 'bands/post_msg_header'
      = render "bands/posts"
  .rightbar
    = render "layouts/musician_right_box"
  .clear