= render :partial=>"layouts/musician_header_bar"
= render :partial=>"layouts/musician_dash_board"
.midcontent
  .left
    .usercontrols
      .left
        =link_to("Buzz", nil, :class=>"icon ")
        =link_to("Custom Updates", {} ,:remote => true,:class=>"iconactive")
      .right
        .inbox#inbox
          -#foractive use inputactive
          =link_to("Inbox", {}, :class=>"inbox")
          .inboxnum
            = 2
          .clear 
      .clear
      %br
    .leftcontainer
      = render "user_posts/form"
      .clear
      .messageicon
        Messages
      -@messages.each do |message|
        = render :partial => "messages/message",:locals => {:message => message, :band => @band}
      .user_posts
        -@posts_order_by_dates.each do |date, posts|
          .dateicon 
            = date.to_date.strftime("%b %d")
          = render 'user_posts/user_post', :posts => posts      
          .clear
      -if !@load_more_path.nil?
        .readmore
          =link_to("Read more", @load_more_path ,:remote => true,:class=>"ajaxload")
  .rightbar
    = render "layouts/musician_right_box"
  .clear