- content = capture do
  - if @accessible_artists.blank?
    You have no artist profiles associated with your account, would you like to #{link_to 'create one?', new_artist_path, :class => 'ajaxopen', :remote => true}
  - else
    - @accessible_artists.each do |artist|
      = render '/artist/artist_item', :artist =>artist
    #{link_to 'create another artist profile?', new_artist_path, :class => 'ajaxopen backable', :remote => true} You can add another artist profile to associate with your account!
setUpPage();
updateLiveSection('#{escape_javascript(render '/fan/live')}');
updateLeftSection('#{escape_javascript(content)}');
updateRightSection('#{escape_javascript(render '/fan/right', :current =>'access_profile')}');
scrollToContainerTop();
closeFacebox(10);