- content = capture do
  %h3 Create profiles
  = link_to new_colony_path, :class => 'ajaxopenwindow' do
    %h2 Create Colony Profile
  %br/
  = link_to new_venue_path(:source =>'1'), :class => 'ajaxopenwindow' do
    %img{:src => "/assets/profile/setup-venue.jpg"}
    %h2 create Venue profile
  = link_to new_artist_path(:source =>'1'), :class => 'ajaxopenwindow' do
    %img{:src => "/assets/profile/setup-artist.jpg"}
    %h2 create Artist profile
setUpPage();
updateLiveSection('#{escape_javascript(render '/fan/live')}');
updateLeftSection('#{escape_javascript(content)}');
updateRightSection('#{escape_javascript(render '/fan/right', :current =>'access_profile')}');
scrollToContainerTop();
closeFacebox(10);