<%=form_for :user, :url => update_password_path, :html => {:remote => true, :class => 'ajaxopen'}  do |f| %>
  <div class="fields">
   <label for="name">Old Password</label>
    <%= password_field_tag :old_password, nil, :class => 'textfield' %>
  </div>
  <div class="fields">
   <label for="name">New Password</label>
    <%= f.password_field :password, :class => 'textfield' %>
  </div>
  
  <div class="fields">
   <label for="name">Confirm Password</label>
    <%= f.password_field :password_confirmation, :class => 'textfield' %>
  </div>
  <%= submit_tag 'Update', :class => 'button'  %>

<% end %>