= form_for :user, :url => update_password_path, :html => {:remote => true, :class => 'ajaxopen'}  do |f|
  .fields
    %label{:for => "name"} Old Password
    = password_field_tag :old_password, nil, :class => 'textfield'
  .fields
    %label{:for => "name"} New Password
    = f.password_field :password, :class => 'textfield'
  .fields
    %label{:for => "name"} Confirm Password
    = f.password_field :password_confirmation, :class => 'textfield'
  = submit_tag 'Update', :class => 'button'
