.area.form
  .details
    %h3
      change your  
      %span location, birthday
      or
      %span favourite genre
      picks
  .content
    = form_for(:additional_info, {:url => create_additional_info_path, :remote => true, :class => 'ajaxopen'}) do |f|
      .field
        %label{:for => "name"} gender
        = f.select :gender, [['Male',1],['female', '0']], :class => 'textfield1'
      .field
        %label{:for => "name"} age
        = f.text_field :age, :size => 5, :class => 'textfield'
      .field
        %label{:for => "name"} location
        = f.text_field :location, :size => 40, :class => 'textfield location_auto_search_complete'
      .field
        %label{:for => "name"} favourite genres
        = f.text_field :favourite_genre, :size => 30, :class => 'textfield'
      = f.submit 'make it so', :class => 'button'
:javascript
  $('.location_auto_search_complete').autocomplete({
    minLength: 3,
    delay: 600,
    source: function(request, response) {
      $.ajax({
        url: "#{location_autocomplete_suggestions_url}",
        dataType: "json",
        data: {term: request.term},
        success: function( data ) {
          response( data );
        },
        
      });
    },
    open: function(event, ui) {
      $('ul.ui-autocomplete').removeClass(' ui-menu ui-widget ui-widget-content ui-corner-all');
    }
  });
  $("#additional_info_favourite_genre").tokenInput(
    [#{genre_atuofill}],
    {
      preventDuplicates: true,
      theme: "facebook",
      prePopulate: [#{genre_prepopullate_from_addinfo(@additional_info)}]
  });