.blankbox
  %h3 find friends
  wanna follow people you know? do it here
#homefeed.homefeed.center
  .feedbox
    %h3
      %a{:href => "#hotmail", :rel => "topup"} Msn
    #hotmail.hide
      .fetchbox
        %h1
          %span.shaded Find you friends on
          Msn
        = form_tag fetch_contacts_url,:id=>"msn1", :class=>"ajaxopen", :remote => true do
          = hidden_field_tag :emailtype, "Hotmail"
          .fields
            %label Email
            = text_field_tag :email, nil, :class => 'textfield'
            .clear
          .fields
            %label Password
            = password_field_tag :password, nil, :class => 'passwordfield textfield'
            .clear
          %br/
          = submit_tag 'Connect',:id=>"msn",:class => 'contact_fetch button right'
  .feedbox
    %h3
      %a{:href => "#yahoo", :rel => "topup"} Yahoo
    #yahoo.hide
      .fetchbox
        %h1
          %a{:href => "#"} bind
          %span.shaded Find you friends on
          Yahoo
        = form_tag fetch_contacts_url,:class=>"ajaxopen", :remote => true do
          = hidden_field_tag :emailtype, "Yahoo"
          .fields
            %label Email
            = text_field_tag :email, nil, :class => 'textfield'
            .clear
          .fields
            %label Password
            = password_field_tag :password, nil, :class => 'passwordfield textfield'
            .clear
          %br/
          = submit_tag 'Connect',:class => 'contact_fetch button right'
  .feedbox
    %h3
      %a{:href => "#gmail", :rel => "topup"} Gmail
    #gmail.hide
      .fetchbox
        %h1
          %span.shaded Find you friends on
          Gmail
        = form_tag fetch_contacts_url, :remote => true,:class=>"ajaxopen" do
          = hidden_field_tag :emailtype, "GMail"
          .fields
            %label Email
            = text_field_tag :email, nil, :class => 'textfield'
            .clear
          .fields
            %label Password
            = password_field_tag :password, nil, :class => 'passwordfield textfield'
            .clear
          %br/
          = submit_tag 'Connect',:class => 'contact_fetch button right'
  .clear
.blankbox
  #contact_info
