- actor       = current_actor
- is_own_wall = actor == @user
.live
  .profile-image{:title =>"#{@user.get_full_name}"}
    = get_fan_profile_image(@user)
  .links
    .top
      .header
        .name
          %h2.full-name= @user.get_full_name
          %h2= @user.mention_name
        - unless is_own_wall
          .actions
            - if actor.is_fan?
              - if actor.following?(@user)
                = link_to unfollow_user_path(@user, :others => 1), {:id =>'unfollow', :remote => true, :class => 'ajaxopen text-action'} do
                  .icon-bg
                  %i
                  unfollow
              - else
                = link_to follow_user_path(@user), {:id =>'follow', :remote => true, :class => 'ajaxopen text-action'} do
                  .icon-bg
                  %i
                  follow
              //message
              = link_to new_message_path(:id =>@user.id), {:id => "message", :remote => :true, :class => "ajaxopen text-action"} do
                .icon-bg
                %i
                message
            - unless is_own_wall
              = link_to new_fan_mention_post_path(@user.id), {:id => "mention-fan", :remote => :true, :class => "ajaxopen text-action"} do
                .icon-bg
                %i
                mention
      .sub-head
        = @user.get_full_address
      .description
        = @user.bio
    .bottom
      = render "bricks/random_artists", :current => nil