- actor       = current_actor
- is_own_wall = actor == @user
.live
  .profile-image{:title =>"#{@user.get_full_name}"}
    = get_avatar_large(@user)
  .links
    .top
      .header
        .name
          %h2
            = @user.get_full_name
        - unless is_own_wall          
          .actions
            - if actor.is_fan?
              %span{:id =>'follow_link'}
                - if actor.following?(@user)
                  = link_to 'unfollow', unfollow_user_path(@user, :others => 1), :remote => true, :class => 'ajaxopen text-action'
                - else
                  = link_to 'follow', follow_user_path(@user), :remote => true, :class => 'ajaxopen text-action'
              //message
              = link_to 'message', new_message_path(:id =>@user.id),:remote=>:true,:class=>"ajaxopen text-action"
      .sub-head
        = @user.get_full_address
      .description
        = @user.bio
    .bottom
      .left.left-default
      .right.right-default