- if current_user == @user
  - tabs      = [:latest_post, :following_artist, :following_fan, :follower_user]
  - current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
  .items
    = link_to 'latest posts', fan_latest_post_path(@user),
                :id=>'latest-posts',
                :remote=>:true,
                :class=> 0 == current ? 'ajaxopen selection-box active button-fill-fan backable' : 'ajaxopen selection-box inactive backable'
    = render '/bricks/rb_following_artist',
                :following_artists      => @following_artists,
                :following_artist_count => @following_artist_count,
                :user                   => @user,
                :selected               => 1 == current
    = render '/bricks/rb_following_fan',
                :following_users        => @following_users,
                :following_fan_count    => @following_count,
                :user                   => @user,
                :selected               => 2 == current
    = render '/bricks/rb_followers',
                :follower_users         => @followers_users,
                :follower_count         => @followers_count,
                :user                   => @user,
                :selected               => 3 == current
  .fader
- else
  = render '/fan/right', :current =>current