faceboxContent("deleted successfully");
$('div#artist_music_#{@song.artist_music_id} #song_#{@song.id}').remove();
$('div#song_stats_#{@song.artist_music_id}').html('#{pluralize(@song.artist_music.song_count,'song')}');
- if @is_featured
  var songList = [#{list_of_play_items(@featured_songs)}];
  makeFeaturedSongList();
  - new_add_button = capture do
    = link_to "feature new song", popup_for_feature_songs_path(@artist), :remote => :true, :class => "ajaxopen featured-song", :title => 'choose a song to feature'
  $('.featured ##{@song.id}_featured').remove();
  $('.featured').append('#{escape_javascript(new_add_button)}');
closeFacebox(1000);