- @is_updated ||= false
- artist_music_songs = capture do
  .header
    Update Artist Music : #{@artist_music.album_name}
  %h3
    .cover
      = get_album_cover_image(@artist_music, 'medium')
    %br
    = "#{@artist_music.album_name} : #{@artist_music.songs.count} songs"
    %br
    = "$#{@artist_music.price}"  
  .normal-content.mini-content
    = render :partial => "uploader"
    = form_for @artist_music, :url => {:action => 'update_artist_music' , :id => @artist_music.id, :artist_name => @artist_music.artist.mention_name}, :html => {:multipart => true, :remote => true } do |f|
      = hidden_field_tag :artist_name, @artist.mention_name
      .field
        = f.label "album name"
        = f.text_field :album_name
      .field
        = f.label "album price"
        = f.text_field :price
      .field 
        = f.label "cover image"
        =file_field_tag 'album_cover_image'
      = f.submit "Save", :disable_with => 'Saving...', :class => 'generic-button1'
      %a.generic-button{:href => "javascript:void(0);", :onclick =>"closeFacebox();"}
        cancel

- if @is_updated
  $('.primary .left #artist_music_#{@artist_music.id}').replaceWith('#{escape_javascript(render 'artist_music', :artist_music => @artist_music)}');
  faceboxContent('Successfully updated');
  closeFacebox(1000);
- else
  faceboxContent('#{escape_javascript artist_music_songs}');