- song_albums = capture do
  - if @has_admin_access
    = render 'featured_songs', :featured_songs =>@artist.featured_songs
  .clear
  .album-list
    - if @has_admin_access
      .content-action-space
        share your music
        = link_to "add album", new_artist_music_path(@artist.name), :remote=>:true, :class=>"ajaxopen add-new", :title =>'add new album'
    - @artist_musics.each do |music|
      = render 'artist_music', :artist_music =>music, :show_all =>@show_all || false
$('.primary .left').html('#{escape_javascript song_albums}'); 
$('.primary .right').html('#{escape_javascript(render "/artist_public/right", :current =>'music')}');
closeFacebox(100);
scrollToTop();