- create_form = capture do
  .header
    - unless @artist_music.new_record?
      add to '#{@artist_music.album_name}'
    - else
      create an album
  .normal-content.mini-content
    = render :partial => "uploader"
    = form_for @song, :url => {:controller => 'artist_music', :action => 'create'}, :html => {:multipart => true} do |f|
      = hidden_field_tag :artist_name, @artist.mention_name
      .field 
        - unless @artist_music.new_record?
          =# text_field_tag :album_name, @artist_music.album_name, :class => 'overlay-text-field', :disabled => true
        - else
          = f.label "name"
          = text_field_tag :album_name, nil, :class => 'overlay-text-field'
      .field
        - if @artist_music.new_record?
          = f.label "album cover"
          = file_field_tag 'album_cover_image'
        = f.label "songs"
        = f.file_field :song
        - f.submit "Upload"
      #uploaded
    %a.generic-button1{:href => "javascript:$('#song_song').uploadifyUpload();javascript:$('#album_cover_image').uploadifyUpload();", :id =>'acceptbttn', :style =>'display:none;'}
      accept
    %a.generic-button{:href => "javascript:void(0);", :onclick =>"closeFacebox();" }
      cancel
  #notice.error
    = notice
faceboxContent('#{escape_javascript create_form}')