$('.left').html('');
<% following = capture do %>
  <% @following.each do |user| %> 
    <div id='following_<%=user.id%>' class="followuserbox">
    		<div class="avatar">
      <%=  link_to get_avatar_small(user), user_profile_path(user.id), :class => 'follow-img' %>
      </div>
      <div class="fusercontent"> 
      <%=  link_to user.get_full_name, user_profile_path(user.id) %>
      <%=  link_to "Unfollow", unfollow_user_path(user.id), :remote => true, :class => 'ajaxopen right' if @current_user_following %>
     </div>
     <div class="clear"></div>
   </div> 
  <%end%>
  <%= paginate @following, :remote => true %>
<% end %>

$('.left').html('<%= escape_javascript(following) %>');
setTimeout('$(document).trigger(\"close.facebox\")',10);
$('div').removeClass('active');
$('#followingbox .selection-box').addClass('active');