$('.midcontent > .left > .leftcontainer').html('');
<% followers = capture do %>
  Follower List
  <hr />
  <% @followers.each do |user| %> 
    <div id='follower_<%=user.id%>' class="followuserbox">
    	<div class="avatar">
      <%=  link_to get_avatar_small(user), user_profile_path(user.id), :class => 'follow-img' %>
      </div>
      <div class="fusercontent"> 
      <strong><%=  link_to user.get_full_name, user_profile_path(user.id) %></strong>
     </div>
     <div class="clear"></div>
   </div> 
  <%end%>
  <%= paginate @followers, :remote => true %>
<% end %>

$('.midcontent > .left > .leftcontainer').html('<%= escape_javascript(followers) %>');
setTimeout('$(document).trigger(\"close.facebox\")',10);
