- tabs      = [:latest_post, :show, :photo, :conneciton, :fan, :manage_profile]
- current   = current.blank? ? 0 : (tabs.index(current.to_sym) || 0)
.items
  - if @is_public
    = link_to 'latest posts', show_venue_path(@venue),
            :id                 =>'latest-posts',
            :remote             => 'true',
            :class              => 0 == current ? 'ajaxopen backable iconactive selection-box active button-fill-artist' : 'ajaxopen backable iconactive selection-box'
  - else
    = link_to 'news feed & messages',
            mentioned_path,
            :id                 => 'feed-msg',
            :remote             => true,
            :class              => 0 == current ? "iconactive selection-box active button-fill-artist" : "iconactive selection-box"  
  = render '/bricks/rv_show',
            :show_count         => @show_count,
            :shows              => @shows,            
            :user_item          => @venue,
            :selected           => 1 == current
  = render '/bricks/rv_photo',
            :photo_album_count  => @photo_album_count,
            :photo_albums       => @photo_albums,            
            :user_item          => @venue,
            :selected           => 2 == current    
  = render '/bricks/rv_followers',
            :follower_count     => @fan_count,
            :followers          => @fans,
            :user_item          => @venue,
            :selected           => 4 == current
  - unless @is_public
    .divider
    = link_to 'remove your profile',
              remove_my_profile_path,
              :remote             => true,
              :class              => 'ajaxopen selection-text',
              :confirm            => "This will remove your artist profile and delete all the data. And this action cannot be undone. Are you sure to continue?"
.fader