.items
  #user-post
    .selection-box.active
      = link_to 'posts of this user', user_profile_path(@user),:remote=>:true,:class=>"ajaxopen"
  #follow-unfollow
    .selection-box
      - if current_user.following?(@user)
        = link_to 'unfollow this user', unfollow_user_path(@user, :others => 1), :remote => true, :class => 'ajaxopen'
      - else
        = link_to 'follow this user', follow_user_path(@user), :remote => true, :class => 'ajaxopen'
  #msg-user
    .selection-box
      = link_to '> message this user', new_message_path(:id =>@user.id),:remote=>:true,:class=>"ajaxopen"
  #artistbox.box-wrapper
    .selection-box
      following
      %span.artist-count
        = pluralize(@following_artist_count, 'artist')
      - if @following_artist_count >0
    .band-box-content
      %div
        - @following_artists.each do |band|
          .avatar
            = link_to get_artist_avatar(band), show_band_path(:band_name => band.name)
      .clear
  .clear
  #followingbox.box-wrapper
    .selection-box
      following
      %span.artist-count
        = pluralize(@following_count,'fan')
      - if @following_count >0
    .band-box-content
      %div
        - @following_users.each do |fan_following|
          .avatar
            = link_to get_fan_avatar(fan_following), user_profile_path(fan_following)
      .clear
  .clear
  #followerbox.box-wrapper
    .selection-box
      %span.artist-count
        = pluralize(@follower_count,'follower')
      - if @follower_count >0
    .band-box-content
      %div
        - @follower_users.each do |fan_follower|
          .avatar
            = link_to get_fan_avatar(fan_follower), user_profile_path(fan_follower)
      .clear
  .clear
