<div class="rightmenu">
  <ul>
    <li>
     <%=  link_to "Upload Photos", new_band_album_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      <%=  link_to "Albums", band_albums_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
      <div id="right_albumbox">
      	</div>
    </li>
      <li>
     <%=  link_to "Upload Song Album", new_band_song_album_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      <%=  link_to "Song Albums", band_song_albums_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
      <div id="right_song_albumbox">
      	</div>
    </li>
    <li>
      <%= link_to 'Edit Profile' , edit_band_path(:band_name => @band.name), :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Edit Tour Dates', {}, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Edit Music Store', {}, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Access Analytics', {}, :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
      <%= link_to 'Band Members', band_members_path(:band_name => @band.name), :remote => true, :class => 'ajaxopen' %>
    </li>
    <li>
       <%=  link_to "Invite Bandmates", bandmates_invitation_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
       <%=  link_to "Invite Bandmates", bandmates_invitation_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen" %>
    </li>
    <li>
      Fans: (<%= @band.followers_count %>)
      <div class="top_fans">
        <% @band.followers.each do |fan_user|  %>
          <%=  link_to get_avatar_small(fan_user), user_profile_path(fan_user.id) %>
        <% end %>
      </div>
    </li>
  </ul>
</div>