.items
  #msg-feeds
    .selection-box.active
      = link_to 'news feed & messages' , manage_band_path(:band_name => @band.name), :remote => true,:class=>"iconactive"
  #musician-public-view
    .selection-box
      = link_to 'view as public' , show_band_path(:band_name => @band.name)
  #profile-info
    .selection-box
      = link_to 'edit profile information' , edit_band_path(:band_name => @band.name), :remote => true, :class => 'ajaxopen'
  #musicbox.box-wrapper
    .selection-box
      music box
      %span.add_more
        = link_to image_tag('add.png'), new_band_song_album_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen"
      - unless @song_albums.blank?
        %br/
        %span#seeall_song_albums= link_to "see all", band_song_albums_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
        %br/
        = link_to "edit music", band_song_albums_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
    .band-box-content
      - @song_albums.each do |song_album|
        .song-album{:id => "song_album_#{song_album.id}"}
          = link_to image_tag('add.png'), edit_band_song_album_path(:band_name => @band.name, :song_album_name => song_album.album_name ), :remote => true, :class => 'ajaxopen'
          %span.album-cover-image
            = link_to get_album_cover_image(song_album), band_album_songs_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen"
          = link_to song_album.album_name, band_song_album_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen"
          = link_to image_tag('remove.png'), remove_band_song_album_path(:band_name =>@band.name, :song_album_name => song_album.album_name), :remote=>:true, :class=>"ajaxopen"
  #photobox.box-wrapper
    .selection-box
      photos
      %span.add_more
        = link_to image_tag('add.png'), new_band_album_path(:band_name => @band.name), :remote=>:true, :class=>"ajaxopen"
      - unless @photo_albums.blank?
        %br/
        %span#seeall_photo_albums= link_to "see all", band_albums_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
        %br/
        = link_to "edit photos", band_albums_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
    .band-box-content
      - @photo_albums.each do |band_photo_album|
        .song-album{:id => "band_album_#{band_photo_album.id}"}
          = link_to image_tag('add.png'), add_photos_to_album_path(:band_name => @band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen"
          %span.album-cover-image
            = link_to get_band_photo_album_teaser_photo(band_photo_album), band_album_photos_path(:band_name =>@band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen"
          = link_to band_photo_album.name, band_album_path(:band_name =>@band.name, :band_album_name => band_photo_album.name), :remote=>:true, :class=>"ajaxopen"
          = link_to image_tag('remove.png'), delete_album_path(:band_name => @band.name, :band_album_name => band_photo_album.name), :remote=>:true, :confirm => 'Are you sure?', :class=>"ajaxopen"
  #artistbox.box-wrapper
    .selection-box
      connected to
      %span.artist-count
        = pluralize(@band_members_count, 'artist')
      - if @band_members_count >0
        %br/
        = link_to "see all", band_members_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
    .band-box-content
      %div
        - @band_artists.each do |band_artist|
          .artist-avatar
            = link_to get_avatar_small(band_artist), user_profile_path(band_artist)
      .clear
  .clear
  #fanbox.box-wrapper
    .selection-box
      %span.artist-count
        = pluralize(@band_fans_count, 'fan')
      - if @band_fans_count > 0
        %br/
        = link_to "see all", band_fans_path(:band_name => @band.name), :remote=>:true, :class=>"small-font ajaxopen"
    .band-box-content
      %div
        - @band_fans.each do |band_fan|
          .artist-avatar
            = link_to get_avatar_small(band_fan), user_profile_path(band_fan)
      .clear
  .clear
  #invite-bandmates
    .selection-box
      = link_to 'invite bandmates' , bandmates_invitation_path(:band_name => @band.name), :remote => true, :class => 'ajaxopen'
