
<% @song_items = @song_items || current_user.find_radio_feature_playlist_songs %>

<div id="sm_jplayer" class="jp-jplayer"></div>

<div id="jp_container_1" class="jp-audio">
  <div class="jp-type-single">
    <div class="music_info">
      <div class="img"></div>
      <div class="track_info">
        <span>NightWish</span>
        <h3>Song of myself</h3>
        <h4><span>next</span>coming next song</h4>
        <div class="clear"></div>
      </div>
    </div>
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-pre" tabindex="1">previous</a></li>
        <li>
          <a href="javascript:;" class="jp-play" tabindex="1">play</a>
          <a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
        </li>
        <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>        
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        <li><a href="javascript:;" class="jp-rep" tabindex="1" title="Show/Hide Playlist" onclick="$('div.jp-playlist').toggle();">PlayList</a></li>
        <li><a href="javascript:;" class="fre-board" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board1" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board2" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board3" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board4" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board5" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board6" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board7" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="fre-board8" tabindex="1">1</a></li>
        <li><a href="javascript:;" class="jp-rep" tabindex="1" title="Show/Hide Playlist" onclick="$('div.jp-playlist').toggle();">PlayList</a></li>
      </ul>

      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <!--div class="jp-time-holder">
        <div class="jp-current-time"></div>
        <div class="jp-duration"></div>
      </div>      
      <div class="jp-current-time"></div>
      <div class="jp-duration"></div-->
      <!--div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div-->
    </div>
    <div class="jp-playlist">
      <div class="pointer">
      </div>
      <ul>        
        <% for i in 0..@song_items.size-1
          song = @song_items[i]
        %>
          <li>
            <a href="javascript:void(0);" onclick="playListChange(<%= i %>);"><%= song.song_name_without_extension %></a>
            <a class="play_list_close" href="#">Close</a>
            <a class="play_list_next" href="javascript:void(0);" onclick="playListChange(<%= i %>);">play</a>
          </li>
        <% end %>
      </ul>
    </div>    
  </div>
</div>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    var currentTrack = 0;

    $("#sm_jplayer").jPlayer({
      ready: function (event) {        
        playListStart();
      },
      
      ended:function(event){        
        playListNext();
      },
      
      swfPath: "../js",
      supplied: "m4a",
      wmode: "window"
    });
  });
  $(".jp-pre").click(function() { playListPrev(); }); // Listen for Previous Track button click
  $(".jp-next").click(function() {playListNext(); }); // Listen for Next Track button click
  
  function playListStart(){
    if(playList.length>0)
      $("#sm_jplayer").jPlayer("setMedia", { m4a:playList[0]['mp3'] });
  }

  // Switch track
  function playListChange(index) {
    currentTrack = index;
    //$("#playerSongInfo").html(playList[currentTrack].artist + ' - <em>' + playList[currentTrack].title + '</em>');
    $("#sm_jplayer").jPlayer("setMedia", { m4a:playList[currentTrack]['mp3'] }).jPlayer('play');
  }

  // Play next track. If already on last track, start back at the begining
  function playListNext() {
    var index = (currentTrack + 1 < playList.length) ? currentTrack + 1 : 0;
    playListChange(index);
  }

  // Play previous track. If already on first track, start back at the end
  function playListPrev() {
    var index = (currentTrack - 1 >= 0) ? currentTrack - 1 : playList.length-1;
    playListChange(index);
  }

  function play_music(song_title, song){
    $("#sm_jplayer").jPlayer("setMedia", { m4a:song }).jPlayer('play');
  }
  
  var playList = [
<% for i in 0..@song_items.size-1 %>
      {
        title: "<%= @song_items[i].song_name_without_extension  %>",
        mp3:"<%= @song_items[i].song  %>"
      }
  <%= ","  unless i >= @song_items.size-1 %>
<% end %>
  ];
  //]]>
</script>