
<% @song_items = @song_items || current_user.find_radio_feature_playlist_songs %>
<div id="sm_jplayer" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio">
  <div class="jp-type-playlist">
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>        
        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
      </ul>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      <div class="jp-current-time"></div>
      <div class="jp-duration"></div>
    </div>
    <div class="jp-playlist">
      <ul>
        <% for i in 0..@song_items.size-1
          song = @song_items[i]
        %>
          <li>
            <a href="javascript:void(0);" class="jp-playlist-item" onclick="playListChange(<%= i %>);"><%= song.song_name_without_extension %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    var currentTrack = 0;
    $("#sm_jplayer").jPlayer({
      ready: function (event) {        
        playListChange(0);
      },      
      ended:function(event){        
        playListNext();
      },      
      swfPath: "../js",
      supplied: "m4a",
      wmode: "window"
    });

    $(".jp-previous").click(function() { playListPrev(); }); // Listen for Previous Track button click
    $(".jp-next").click(function() {playListNext(); }); // Listen for Next Track button click     

  });

  // Switch track
  function playListChange(index) {
    if(playList[index]){
      currentTrack = index;
      //$("#playerSongInfo").html(playList[currentTrack].artist + ' - <em>' + playList[currentTrack].title + '</em>');
      $("#sm_jplayer").jPlayer("setMedia", { m4a:playList[currentTrack]['mp3'] }).jPlayer('play');
    }      
  }

  // Play next track. If already on last track, start back at the begining
  function playListNext() {
    var index = (currentTrack + 1 < playList.length) ? currentTrack + 1 : 0;
    playListChange(index);
  }

  // Play previous track. If already on first track, start back at the end
  function playListPrev() {
    var index = (currentTrack - 1 >= 0) ? currentTrack - 1 : playList.length-1;
    playListChange(index);
  }
  // add new song item to the playlist
  function addToPlayList(song_name, song, pos){
    var counter = pos == '' ? playList.length-1 : pos;
    $('.jp-playlist ul').prepend("<li> <a class='jp-playlist-item' href='javascript:void(0);' onclick='playListChange(" + counter +");'>" + song_name + "</a></li>");
  }

  function preparePlayList(){
    $('.jp-playlist ul li').remove();
    for(var i=0; i<playList.length;i++){
      item = playList[i];
      addToPlayList(item['title'], item['mp3'], i);
    }
  }

  var playList = [
<% for i in 0..@song_items.size-1 %>
      {
        title: "<%= @song_items[i].song_name_without_extension  %>",
        mp3:"<%= @song_items[i].song  %>"
      }
  <%= ","  unless i >= @song_items.size-1 %>
<% end %>
  ];
  //]]>
</script>