- content_for :tophead do
  .profilehead
    .site-logo
      %h2.logotext
        %a{:href => "/"}
        = image_tag 'logo.png'
    .loggedin-info
      = WELCOME_MSG
      = link_to "#{current_user.fname} #{current_user.lname}", user_home_path, :class => 'user-info'
      = link_to "Logout", logout_path, :class=>"logout"
    .mplayerbar
      = image_tag 'music_box.png', :width => '945px'
      .clear
    .headmenubar
      .menu
        .clear
      .searchbox
        =form_tag( {:controller =>'search', :action => 'index'}, :method => "get") do
          %input.auto_search_complete{:name => "q", :type => "text", :class => 'searchinput'}/
          %input.search{:name => "search", :type => "submit", :value => "Go" }/
      .clear