!!!
%html
  %head
    %title Soundmelon
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    :javascript
      $(document).ready( function(){
        					$(".sitem, .menu>ul>li, .searchinput, .search, .logout, .numbericon,.othericon,.othericon1").corner("round");
        					$(".circle").corner("40px");
        					$(".logo").corner("20px");
        					$(".loginfields, .login, .button,.join,.textfield,.radiolabel").corner("round");

      				});

  %body
    #base-container
      #page-container
        #page
          #header
            %div
              = yield(:tophead)
          - flash.each do |name, msg|
            = content_tag :div, msg, {:id => "flash_#{name}",:class=>"center"}
          #content
            = yield
      = render :partial=>"bricks/footer"
      .globalloading.hide{:id=>"globalloading" }
        .center
          =image_tag("loading.gif")