!!!
%html
  %head
    %title SoundMelon    
    /[if IE]
      = stylesheet_link_tag  "/stylesheets/ie9"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    = yield(:head)
    = render '/layouts/analytics'
  - if current_user #user logged in
    %body{:onload =>"loaded_url='#{request.url}';"}
      #base-container
        #page-container
          #page-top-fade
          #page
            #page-header
              = render :partial => "bricks/user_header"
            #page-content
              = yield
      = render :partial => "bricks/footer"
  - else #splash
    - @user ||= User.new
    %body.splash-body{:onload =>"loaded_url='#{request.url}';"}
      .splash
        .left-decoration
        .right-decoration
        .content
          - if @user.id #no login
            = render "/bricks/splash"
            = yield
          - elsif @user.email #registration forms
            = form_for :user, :url => fan_registration_path do |f|
              = render '/bricks/splash_registration'
              = render '/fan/registration_fields', :f =>f
          - else #login
            = render "/bricks/splash_login"

            %img{:src => "/assets/special/splash-collage.jpg", :class => "collage-img"}
        .footer
          .links
            %a{:href => "http://blog.soundmelon.com", :title => "visit the SoundMelon blog", :target => "_blank"} blog
            %a{:href => "#", :title => "learn more", :style => 'opacity: .4;'} about
            %a{:href => "#", :title => "read legal notice", :style => 'opacity: .4;'} legal
            %span
              &copy; 2012 SoundMelon Inc, All Rights Reserved.
          .social
            %a.facebook-icon{:href => "http://www.facebook.com/soundmelon", :target => "_blank", :title => "visit our Facebook page"}
            %a.twitter-icon{:href => "http://www.twitter.com/soundmelon", :target => "_blank", :title => "visit our Twitter"}
  .globalloading.hide{:id => "globalloading"}
    .center
      %h1
        loading
      .loading-img
        = image_tag("loading.gif")

:javascript  
  if(#{!@firstLogin.blank?})
    $('#tutorial-link').trigger('click');
  $('a').ajaxComplete(function() {
    $("abbr.timeago").timeago();
  });
  $(document).ready(function() {
    $("abbr.timeago").timeago();
    $("#genre").tokenInput(
      [
      #{genre_atuofill}
      ],
      {
        theme: "facebook"
      }
    );
  });