!!!
%html
  %head
    %title SoundMelon
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    :javascript
      $(document).ready( function(){
        					$(".sitem, .menu>ul>li, .searchinput, .search, .logout, .numbericon,.othericon,.othericon1").corner("round");
        					$(".circle").corner("40px");
        					$(".logo").corner("20px");
        					$(".loginfields, .login, .button,.join,.textfield,.radiolabel").corner("round");
      				});       
       function open_popup_for_song_albums(url){$.facebox(function() {$.ajax({error: function() {$.facebox('Sorry, there was an error!');},load:function(data){},success: function(data) {$.facebox(data);},type: 'get',url: url});});}
  %body
    #base-container
      #page-container
        #page
          #header
            - if current_user
              = render :partial =>'bricks/user_header'
            - else
              %div
                = render :partial =>'bricks/nouser_header'
          #content
            = yield
      = render :partial=>"bricks/footer"
      .globalloading.hide{:id=>"globalloading" }
        .center
          =image_tag("loading.gif")