!!!
%html
  %head
    %title SoundMelon
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)          
  - if current_user #user logged in
    %body
      #feedback
        .date last update: July 8th, 2012
        .commit codebase 200
        = link_to "provide feedback", feedback_start_path, :remote =>true, :class => "ajaxopen"
      #base-container
        #page-container
          #page-top-fade
          #page
            #page-header
              = render :partial => 'bricks/user_header'
            #page-content
              = yield
      = render :partial=>"bricks/footer"      
  - else #splash
    %body.splash-body
      .splash
        .left-decoration
        .right-decoration
        .content
          - if @user.id
            %br
            .main-login
              .logo
                = image_tag 'base-logo-big.png'
                %h2
                  your music community
            = yield
          - elsif @user.email
            = form_for :user, :url=>fan_registration_path do |f|
              = render '/bricks/splash_no-login'
              = render '/fan/registration-fields'
          - else
            = render '/bricks/splash'
            .beta-note
              %div
                %h2 SoundMelon is currently in closed beta
                %p Please #{link_to "request an invitation", new_invitation_path, :remote =>:true} and we will notify you when we are ready to accept more users
        .footer
          .links
            %a{:href => "http://blog.soundmelon.com", :title => "visit the SoundMelon blog", :target => "_blank"} blog
            %a{:href => "#", :title => "learn more", :style => "opacity: .4;"} about
            %a{:href => "#", :title => "read legal notice", :style => "opacity: .4;"} legal
            %span
              &copy; 2012 SoundMelon Inc, All Rights Reserved.
          .social
            %a.facebook-icon{:href => "http://www.facebook.com/soundmelon", :target => "_blank", :title => "visit our Facebook page"}
            %a.twitter-icon{:href => "http://www.twitter.com/soundmelon", :target => "_blank", :title => "visit our Twitter"}
  .globalloading.hide{:id => "globalloading"}
    .center
      %h1
        loading
      .loading-img
        = image_tag("loading.gif")
:javascript
  $('a').ajaxComplete(function() {
    $("abbr.timeago").timeago();
  });
  $(document).ready(function() {
    $("abbr.timeago").timeago();
    $("#genre").tokenInput(
      [
      #{genre_atuofill}
      ],
      {
        theme: "facebook"
      }
    );
  });