!!!
%html
  %head
    %title SoundMelon
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)          
  - if current_user #user logged in
    %body
      = link_to "", feedback_start_path, :remote =>true, :class => "ajaxopen", :id => 'feedback'
      #base-container
        #page-container
          #page-top-fade
          #page
            #page-header
              = render :partial => 'bricks/user_header'
            #page-content
              = yield
      = render :partial=>"bricks/footer"
      .globalloading.hide{:id=>"globalloading" }
        .center
          =image_tag("loading.gif")
  - else #splash
    %body.splash-body
      .splash
        %div
          - if @user.email        
            = form_for :user, :url=>fan_registration_path do |f|
              = render '/bricks/splash_no-login'
              = render '/fan/registration-fields'
          - else
            = render '/bricks/splash'
            .beta-note
              %div
                %h2 We are currently in closed beta. 
                %p Please #{link_to "request an invitation", new_invitation_path, :remote =>:true} and we will notify you when we are ready to accept more users.
:javascript
  $(document).ready(function() {
    $("#genre").tokenInput(
      [
      #{genre_atuofill}
      ],
      {
        theme: "facebook"
      }
    );
  });